@charset "UTF-8";
/**
 * Boz
 * @date    2016-07-4 12:30:59
 * 单科-2重点率分析
 */
.g-contents {
  /*年级重点线*/
}
.g-contents .g-side {
  padding: 80px 50px;
}
.g-contents .g-side .g-h2 {
  color: #3bafda;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.8em;
}
.g-contents .g-side .class-list {
  color: #3bafda;
  font-size: 20px;
  font-weight: bold;
}
.g-contents .g-side .class-list li {
  margin-bottom: 30px;
}
.g-contents .g-side .class-list li span {
  font-size: 26px;
}
.g-contents .grade-line {
  margin-bottom: 15px;
  margin-left: 20px;
}
.g-contents .grade-line dt,
.g-contents .grade-line dd {
  float: left;
}
.g-contents .grade-line dt {
  color: #333;
  margin-right: 10px;
  line-height: 30px;
}
.g-contents .grade-line dd {
  margin-right: 25px;
}
.g-contents .grade-line dd .dy-btn-info {
  height: 30px;
  line-height: 30px;
}
.g-contents .grade-line dd .dy-btn-info .iconfont {
  vertical-align: inherit;
}
.g-contents .grade-line select,
.g-contents .grade-line input {
  border: 2px solid #e6e9ed;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.g-contents .grade-line select {
  padding: 0 8px;
}
.g-contents .grade-line input {
  width: 51px;
}
.g-contents .grade-line .ab,
.g-contents .grade-line .ba {
  position: relative;
}
.g-contents .grade-line .ab input,
.g-contents .grade-line .ba input {
  padding-left: 15px;
  width: 60px;
}
.g-contents .grade-line .ab:before,
.g-contents .grade-line .ba:before {
  position: absolute;
  top: 7px;
  left: 5px;
  color: #666;
}
.g-contents .grade-line .ab:before {
  content: attr(data-sectiona);
}
.g-contents .grade-line .ba:before {
  content: attr(data-sectionb);
}
