@charset "UTF-8";
/**
 * Boz
 * @date    2016-07-4 12:12:12
 * 单科-1平均分对比
 */
@import "../../../less/base";


.class-compare{
  width: 264px;
  padding: 80px 60px;
  color: #3bafda;
  font-weight: bold;
  dl{ margin-bottom: 40px;}
  dt{ font-size: 18px; margin-bottom: 20px;}
  .top{
    dd{ font-size: 36px;}
    }
  .bottom{
    dd{ margin-bottom: 27px; font-size: 20px;}
    }
  }