@charset "UTF-8";
/**
 * Boz
 * @date    12:31 2016/11/18
 * 教务管理-2师生画像2
 */
.login-chart {
  background-color: #fff;
  height: 360px;
  margin-bottom: 20px;
  padding: 20px;
}
.login-chart .page-area-draw caption {
  border-bottom: 1px solid #eee;
  padding-left: 8px;
  color: #999;
}
.login-chart .page-area-draw tr {
  color: #666;
}
.login-chart .page-area-draw tr:nth-child(1) {
  color: #666;
}
.login-chart .page-area-draw tr:nth-child(2) {
  color: #333;
}
.login-chart .page-area-draw td {
  padding: 5px 10px;
  border-bottom: none;
  text-align: center;
}
.ui-tab-nav {
  border-bottom: 2px solid #00acee;
  margin-bottom: 10px;
}
.ui-tab-nav li {
  float: left;
  width: 240px;
  height: 50px;
  line-height: 50px;
  background: white;
  text-align: center;
  margin-right: 6.5px;
  cursor: pointer;
  color: #666;
  font-weight: bold;
  font-size: 16px;
}
.ui-tab-nav li.first {
  margin-right: 7px;
}
.ui-tab-nav li.last {
  margin-right: 0;
}
.ui-tab-nav li.on {
  background: #00acee;
  color: white;
}
.tab-nav-content .tab-con-list {
  display: none;
}
.panel-title {
  font-size: 16px;
  color: #666;
  font-weight: 600;
  margin-bottom: 15px;
}
.box-painting {
  margin-bottom: 20px;
}
.box-painting .teacher-painting,
.box-painting .student-painting {
  width: 479px;
  background: white;
  height: 450px;
  padding: 20px;
}
.box-painting .teacher-painting .dy-table .num {
  color: #2cc49e;
}
.box-painting .student-painting .dy-table .num {
  color: #e8525d;
}
.box-painting .dy-table {
  text-align: center;
}
.box-painting .dy-table td {
  border: 1px solid #ccc;
}
.box-painting .dy-table .text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.box-painting .dy-table .num {
  font-size: 30px;
}
.box-painting .wrap-chart {
  position: relative;
}
.box-painting .wrap-chart #container-chart-left,
.box-painting .wrap-chart #container-chart-right {
  position: relative;
  z-index: 2;
}
.box-painting .wrap-chart #container-chart-left tspan,
.box-painting .wrap-chart #container-chart-right tspan {
  font-weight: normal !important;
}
.box-painting .wrap-chart .pos-img {
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 75px;
  margin: auto;
}
/*
打卡达人列表*/
.punch-master .dl-list {
  margin-right: 20px;
  float: left;
  background: white;
  width: 313px;
  height: 329px;
  padding: 20px;
}
.punch-master .dl-list.special-box-1 .panel-title {
  color: #e8525d;
}
.punch-master .dl-list.special-box-1 span.text-1 {
  color: #e8525d;
}
.punch-master .dl-list.special-box-1 dd tr {
  border-color: #f8cbce;
}
.punch-master .dl-list.special-box-2 .panel-title {
  color: #2cc49e;
}
.punch-master .dl-list.special-box-2 span.text-1 {
  color: #2cc49e;
}
.punch-master .dl-list.special-box-2 dd tr {
  border-color: #bfede2;
}
.punch-master .dl-list.special-box-3 .panel-title {
  color: #486378;
}
.punch-master .dl-list.special-box-3 span.text-1 {
  color: #486378;
}
.punch-master .dl-list.special-box-3 dd tr {
  border-color: #c8d0d6;
}
.punch-master .dl-list.last {
  margin-right: 0;
}
.punch-master .dl-list dd tr {
  border-bottom: 1px dashed #dcdcdc;
  padding: 15px 0;
  height: 64px;
}
.punch-master .dl-list dd tr:nth-last-child(1) {
  border-bottom: none;
}
.punch-master .dl-list dd td img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.punch-master .dl-list dd .dy-nothing {
  margin-top: 30px;
}
.punch-master .dl-list span.text-1 {
  margin-bottom: 7px;
}
.punch-master .dl-list span.text-2 {
  display: block;
  color: #999;
  font-size: 12px;
}
/*没有数据*/
.chart-show-not {
  height: 300px;
  position: absolute;
  width: 439px;
  top: 68px;
  left: 160px;
}
