@charset "UTF-8";
/**
 * Boz
 * @date    12:31 2016/11/18
 * 教务管理-2师生画像2
 */
@import "../../../less/base";
.page-group-manage{ background:white; padding-bottom:20px; }
.tab-nav-manage{
  height:60px;
  margin-bottom:20px;
  border-bottom:1px solid #dcdcdc;
  @padding:20px;
  li{ margin:@padding 30px; color:#666; font-size:20px; position:relative;
    &.j-li-tab{ cursor:pointer; }
    &.on:after{ display:block; content:' '; width:60px; height:2px; background:#00adf2; position:absolute;
      top:38px; }
    &.li-border{
      margin:@padding 0;
      span{ width:1px; height:20px; background:#dcdcdc; display:block; font-size:12px; }
      }
    }
  .class-group{ }
  .Colleague-group{ }
  .new-group{
    margin-bottom:0;
    .dy-btn{
      position:relative;
      top:-10px;
      }
    }
  }
.tab-con-manage{
  padding:0 30px;
  .dy-table{
    th{ color:#999; }
    td{ color:#333; }
    th, td{ text-align:center; padding:13px 5px; }
    .total-num{
      font-weight:600;
      padding:0 3px;
      color:#ed5565;
      }
    }
  .color-red{ color:#d9534f; }
  .wait-on, .wait-off{ .inline-block; color:white; padding:3px 5px;
    .rounded-corners(2px); font-size:12px;
    }
  .wait-on{
    background:#5cb85c;
    }
  .wait-off{
    background:#d9534f;
    }
  }
.operation-list{
  a{ color:#999;
    &.a01{
      color:@color-blue;
      &:hover{
        color:lighten(@color-hover-blue, 0);
        }
      }
    }
  li{ float:left;
    border-right:1px solid #d3d3d3; padding:0 10px;
    &.first-item{ padding-left:0; }
    &.last-item{ border-right:none; }
    }
  }
/*
pop style*/
.esta-group{
  width:300px;
  height:200px;
  background:white;
  .list-item{ margin-bottom:15px;
    .itme-lable{
      height:40px;
      line-height:40px;
      }
    }
  }
/*
批量创建圈子 POP*/
.pop-batch-create{
  background:white;
  width:620px;
  height:340px;
  .itme-list{ margin-bottom:15px;
    .amend-on.on{
      .classnum{ display:none;}
      .equal-one{ display:none;}
      }
    }
  .itme-input{
    input{
      width:33%;
      &:nth-child(1){ margin-right:5px; }
      &:nth-child(2){ margin-left:5px; }
      }
    input.classnum{
      width: 46px;
      text-align: center;
      margin-right: 6px;
      }
    }
  .item-label{
    label{ line-height:40px; height:40px; }
    }
  .itme-subjects{
    @px:15px;
    ul{ margin-left:-@px; margin-top:13px; }
    li{ float:left; margin-bottom:10px; margin-left:@px; min-width:156px;}
    .item-form{
      overflow-y:auto;
      max-height:120px;
      }
    }
  //个性化设置
  .input-width{ width:72px; }
  }
/*
跳过重复圈子，继续创建*/
.pop-create-confirm{ color:#666;
  width:290px;
  background:white;
  .m-title{ margin-bottom:20px; }
  .item-title{ margin-bottom:10px; }
  .dy-table{
    th,td{ border:1px solid #dcdcdc; color:#333;}
    }
  }
/*导入 确认提示*/
.esta-group-success,.pop-create-repeat{
  color: #666;
  width:300px;
  background:white;
  .dy-table{
    th,td{ border:1px solid #dcdcdc; color:#333;}
    }
  .ul-list-name{
    li{
      color:#333;
      border: 1px solid #dcdcdc;
      float: left;
      margin-right: -1px;
      padding: 4px 10px;
      margin-bottom: -1px;
      }
    }
  }
/*
不能重复导入 提示*/
.teacher-list{
  .dy-nothing {
    background-color: @color-default;
    font-size: 22px;
    line-height: normal;
    padding: 50px 0;
    .dy-nothing-content{
      font-size: 14px;
      }
    i.iconfont {
      display: block;
      font-size: 41px;
      height: 74px;
      }
    }
  }
// Excel 导入Excel学生名单
.wrap-file{
  .box-file{ }
  .input-file-text{
    width: 300px;
    line-height: 24px;
    border: 1px solid #4fc1e9;
    float: left;
    overflow: hidden;
    border-right:none;
    height: 40px;
    line-height:40px;
    padding: 0 5px;
    color:#999;
    }
  .uploadBtn{
    float: left;
    }
  &:hover{
    cursor:pointer;
    .input-file-text{border-color: #4fc1e9;}
    .uploadBtn{    color: #fff;
      background-color: #4fc1e9;
      border-color: #4fc1e9;}
    }
    }