/**
 * Created by Boz on 2016/5/19.
 * 个人设置
 */
.group-setting {
  background: #fff;
}
.d-setting-list dd,
.d-setting-list dt {
  border-bottom: 1px solid #eee;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  width: 50%;
  float: left;
  margin: 0;
}
.d-setting-list dt {
  color: #999;
  padding-left: 18px;
  font-weight: normal;
}
.d-setting-list dd {
  color: #666;
  padding-right: 20px;
  text-align: right;
}
