/*--------------------------------------------------------------
                        查找圈子

      Author:Plato
      Create Date:2015/10/23 9:30  Last Mondify Date:2015/10/23 9:30
      ===================================================

--------------------------------------------------------------*/
.d-group-list {
  overflow: hidden;
  padding: 0 20px;
}
.d-group-list dt {
  line-height: 35px;
  margin: 15px 0 5px 0;
  font-size: 16px;
  color: #666;
}
.d-group-list dt img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin-right: 8px;
  vertical-align: -4px;
  width: 20px;
}
.d-group-list dd {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.d-group-item {
  border: 1px solid #eee;
  display: block;
  margin: 0 0 30px 30px;
  width: 380px;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.d-group-item:hover {
  background-color: #f9f9f9;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}
.d-group-item .d-group-avatar,
.d-group-item .d-group-wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.d-group-item .d-group-avatar {
  overflow: hidden;
  vertical-align: top;
}
.d-group-item .d-group-avatar img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px;
}
.d-group-item .d-group-wrap {
  width: 234px;
  padding: 20px 20px 0 0;
  position: relative;
}
.d-group-item .d-group-wrap h4 {
  font-size: 16px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-agency {
  color: #666;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-tags {
  line-height: 28px;
  min-height: 28px;
}
.d-group-item .d-group-wrap .d-group-tags span {
  border: 1px solid #bbb;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  color: #666;
  padding: 2px 6px;
  margin-right: 8px;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-channel {
  background-color: #48cfad;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
  right: -1px;
  top: -1px;
}
.d-group-item .d-group-wrap .d-message-count {
  background: #ed5565 none repeat scroll 0 0;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 22px;
}
.d-group-item .d-group-wrap .d-group-summary {
  color: #999;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.d-group-item .d-group-footer {
  height: 50px;
  padding: 0 10px 0 20px;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.d-group-item .d-group-footer span {
  margin-right: 12px;
  color: #999;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 50px;
  cursor: default;
}
.d-group-item .d-group-footer span i {
  margin-right: 6px;
  vertical-align: 1px;
}
.d-group-item .d-group-footer span i.dy-icon-user-outline {
  position: relative;
  top: 1.5px;
  font-size: 17px;
}
.d-group-item .d-group-footer .d-group-owner {
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.d-group-item .d-group-footer .d-group-enter {
  float: right;
  color: #666;
  line-height: 50px;
}
.d-group-item .d-group-footer .d-group-enter i {
  margin-right: 3px;
  font-size: 14px;
}
.d-group-item .d-group-footer .d-group-enter em {
  margin-left: 2px;
  font-family: "宋体", serif;
}
.d-group-single .d-group-wrap h4 {
  white-space: normal;
  line-height: 150%;
}
.d-group-single .d-group-wrap .d-group-summary {
  max-height: none;
}
.bg-grey {
  background: #f5f5f5;
}
.h2-circle {
  font-weight: normal;
  font-size: 20px;
  border-left: 5px solid #ed5565;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}
.dg-channel {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 7px 10px;
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
  background-color: #48cfad;
}
.dg-channel1 {
  background-color: #48cfad;
}
.dg-channel2 {
  background-color: #a0d468;
}
.dg-channel3 {
  background-color: #fc6e51;
}
.dg-channel4 {
  background-color: #ffce54;
}
.dg-channel5 {
  background-color: #3bafda;
}
.d-group-list {
  background-color: #fff;
  padding: 20px 0;
}
.d-group-item {
  width: 360px;
}
.d-group-item .d-group-wrap {
  width: 214px;
}
.dy-wrap {
  background: #f5f5f5;
}
.find-circles {
  font-size: 14px;
}
.find-circles .cont-min {
  padding: 40px 0;
}
.find-circles .cont-min .dy-soso-two {
  width: 689px;
  position: relative;
}
.find-circles .cont-min .dy-soso-two .input-box {
  width: 590px;
  padding: 6px 12px 6px 95px;
}
.find-circles .cont-min .dy-soso-two .dy-soso-sele {
  position: absolute;
  top: 2px;
  left: 2px;
  border: none;
}
.find-circles .cont-min .dy-soso-two .dy-soso-sele option {
  border: 0;
}
.find-circles .cont-min .dy-soso-two .dy-soso-line {
  height: 15px;
  border-right: 2px solid #bbb;
  position: absolute;
  top: 15px;
  left: 104px;
}
.ul-list .dg-item {
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 30px;
  overflow: hidden;
  border: solid 1px #eee;
}
.ul-list .dg-item:hover {
  background-color: #f9f9f9;
  border-color: #ddd;
}
.ul-list .dg-item .dg-avatar,
.ul-list .dg-item .dg-info,
.ul-list .dg-item .dg-action {
  float: left;
  overflow: hidden;
}
.ul-list .dg-item .dg-avatar {
  width: 180px;
  height: 135px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}
.ul-list .dg-item .dg-avatar img {
  width: 180px;
}
.ul-list .dg-item .dg-avatar span {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}
.ul-list .dg-item .dg-avatar span em {
  padding: 2px 5px;
  background: #fff;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.ul-list .dg-item .dg-avatar .dy-icon-31 {
  position: relative;
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}
.ul-list .dg-item .dg-avatar .dy-icon-48 {
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  color: #aaaaaa;
  font-size: 10px;
}
.ul-list .dg-item .dg-info {
  width: 838px;
  line-height: 35px;
}
.ul-list .dg-item .dg-info .dg-name h4 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.ul-list .dg-item .dg-info .dg-name small {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 15px;
  color: #999;
}
.ul-list .dg-item .dg-info .dg-member {
  color: #bbb;
}
.ul-list .dg-item .dg-info .dg-member span {
  margin-right: 15px;
}
.ul-list .dg-item .dg-info .dg-summary {
  color: #bbb;
}
/*搜索*/
.select-main {
  width: 83px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  color: #3bafda;
}
.select-main .dy-icon-anglebottom {
  font-size: 12px;
  margin-left: 5px;
}
.select-main:after {
  content: '';
  width: 2px;
  height: 15px;
  background: #bbb;
  position: absolute;
  top: 15px;
  right: -1px;
}
ul.select-option {
  width: 83px;
  text-align: center;
  border: 2px solid #e6e9ed;
  border-top: none;
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
}
ul.select-option li {
  height: 32px;
  line-height: 32px;
  background: white;
  cursor: pointer;
}
ul.select-option li:hover {
  background: #e6e9ed;
}
