.d-group-list {
  overflow: hidden;
  padding: 0 20px;
}
.d-group-list dt {
  line-height: 35px;
  margin: 15px 0 5px 0;
  font-size: 16px;
  color: #666;
}
.d-group-list dt img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin-right: 8px;
  vertical-align: -4px;
  width: 20px;
}
.d-group-list dd {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.d-group-item {
  border: 1px solid #eee;
  display: block;
  margin: 0 0 30px 30px;
  width: 380px;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.d-group-item:hover {
  background-color: #f9f9f9;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}
.d-group-item .d-group-avatar,
.d-group-item .d-group-wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.d-group-item .d-group-avatar {
  overflow: hidden;
  vertical-align: top;
}
.d-group-item .d-group-avatar img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px;
}
.d-group-item .d-group-wrap {
  width: 234px;
  padding: 20px 20px 0 0;
  position: relative;
}
.d-group-item .d-group-wrap h4 {
  font-size: 16px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-agency {
  color: #666;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-tags {
  line-height: 28px;
  min-height: 28px;
}
.d-group-item .d-group-wrap .d-group-tags span {
  border: 1px solid #bbb;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  color: #666;
  padding: 2px 6px;
  margin-right: 8px;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-channel {
  background-color: #48cfad;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
  right: -1px;
  top: -1px;
}
.d-group-item .d-group-wrap .d-message-count {
  background: #ed5565 none repeat scroll 0 0;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 22px;
}
.d-group-item .d-group-wrap .d-group-summary {
  color: #999;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.d-group-item .d-group-footer {
  height: 50px;
  padding: 0 10px 0 20px;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.d-group-item .d-group-footer span {
  margin-right: 12px;
  color: #999;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 50px;
  cursor: default;
}
.d-group-item .d-group-footer span i {
  margin-right: 6px;
  vertical-align: 1px;
}
.d-group-item .d-group-footer span i.dy-icon-user-outline {
  position: relative;
  top: 1.5px;
  font-size: 17px;
}
.d-group-item .d-group-footer .d-group-owner {
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.d-group-item .d-group-footer .d-group-enter {
  float: right;
  color: #666;
  line-height: 50px;
}
.d-group-item .d-group-footer .d-group-enter i {
  margin-right: 3px;
  font-size: 14px;
}
.d-group-item .d-group-footer .d-group-enter em {
  margin-left: 2px;
  font-family: "宋体", serif;
}
.d-group-single .d-group-wrap h4 {
  white-space: normal;
  line-height: 150%;
}
.d-group-single .d-group-wrap .d-group-summary {
  max-height: none;
}
.bg-grey {
  background: #f5f5f5;
}
.h2-circle {
  font-weight: normal;
  font-size: 20px;
  border-left: 5px solid #ed5565;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}
.dg-channel {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 7px 10px;
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
  background-color: #48cfad;
}
.dg-channel1 {
  background-color: #48cfad;
}
.dg-channel2 {
  background-color: #a0d468;
}
.dg-channel3 {
  background-color: #fc6e51;
}
.dg-channel4 {
  background-color: #ffce54;
}
.dg-channel5 {
  background-color: #3bafda;
}
.dy-wrap {
  background: #f5f5f5;
}
.not-added {
  margin: 30px auto;
  font-size: 14px;
}
.not-added .cont-min {
  width: 870px;
}
.not-added .cont-min .dg-panel {
  background: #fff;
  padding: 20px 0;
  margin-bottom: 30px;
}
.not-added .cont-min .dg-panel .dy-nothing {
  height: 120px;
  line-height: 120px;
}
.not-added .cont-min .dg-panel .dy-nothing a:link,
.not-added .cont-min .dg-panel .dy-nothing a:active,
.not-added .cont-min .dg-panel .dy-nothing a:visited {
  color: #3bafda;
  text-decoration: none;
}
.not-added .cont-min .dg-panel .dy-nothing a:hover {
  color: #2494be;
  text-decoration: none;
}
.not-added .cont-min .h2-circle {
  font-weight: normal;
  font-size: 20px;
  border-left: 5px solid #ed5565;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}
.not-added .cont-min .h2-circle .search a {
  color: #999;
  font-size: 14px;
  margin-right: 40px;
}
.not-added .cont-min .h2-circle .search a:hover {
  color: #4fc1e9;
}
.not-added .cont-min .h2-circle .search a:hover .dy-icon-26,
.not-added .cont-min .h2-circle .search a:hover .dy-icon-59 {
  color: #4fc1e9;
}
.not-added .cont-min .h2-circle .dy-icon-26,
.not-added .cont-min .h2-circle .dy-icon-59 {
  color: #50b7de;
  font-size: 17px;
  margin-right: 5px;
}
.not-added .cont-min .tab-menu {
  padding: 0 15px;
}
.not-added .cont-min .top-titlt {
  padding: 30px 0;
}
.not-added .cont-min .top-titlt p {
  margin-bottom: 36px;
  font-size: 20px;
}
.not-added .cont-min h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}
.not-added .cont-min .interest {
  padding: 0 15px 0;
}
.not-added .cont-min .tab-cont {
  padding-top: 15px;
}
.not-added .cont-side {
  width: 300px;
  min-height: 500px;
  margin-bottom: 20px;
}
.ul-circle {
  padding: 0 15px;
}
.ul-circle li {
  position: relative;
  float: left;
  width: 205px;
  height: 265px;
  padding: 15px 13px 0;
  margin-right: 5px;
  background: #fff;
  border-bottom: 1px solid #e6e9ed;
  margin-bottom: 15px;
  overflow: hidden;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.ul-circle li:hover,
.ul-circle li.hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
}
.ul-circle li:hover .top-three,
.ul-circle li.hover .top-three {
  display: block;
}
.ul-circle li:hover .img-mack,
.ul-circle li.hover .img-mack {
  top: 0;
  display: block;
}
.ul-circle li .circle-number {
  position: absolute;
  top: 0;
  right: 0;
  background: #ed5565;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 24px;
  overflow: hidden;
}
.circle-list {
  width: 180px;
  height: 235px;
  overflow: hidden;
  position: relative;
}
.circle-list .top-one {
  -moz-transition: all 0s ease,;
  -webkit-transition: all 0s ease,;
  -o-transition: all 0s ease,;
  -ms-transition: all 0s ease,;
  transition: all 0s ease,;
  -moz-transition: all 0s ease;
  -webkit-transition: all 0s ease;
  -o-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
  position: relative;
  width: 180px;
  height: 135px;
  margin-bottom: 20px;
  overflow: hidden;
}
.circle-list .top-one span {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}
.circle-list .top-one span em {
  padding: 2px 5px;
  background: #fff;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.circle-list .top-one .dy-icon-31 {
  position: relative;
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}
.circle-list .top-one .dy-icon-48 {
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  top: 2.5px \9;
  left: 3px \9;
  color: #aaaaaa;
  font-size: 10px;
}
.circle-list .top-one img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}
.circle-list .top-two strong,
.circle-list .top-two span.school-address {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.circle-list .top-two strong {
  font-size: 16px;
  margin-bottom: 10px;
}
.circle-list .top-two span.school-address {
  line-height: 27px;
  color: #999;
}
.circle-list .top-two .d-tags {
  overflow: hidden;
  line-height: 27px;
}
.circle-list .top-two .school-statistics span {
  color: #999;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 48%;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
.circle-list .top-two .dy-icon-49,
.circle-list .top-two .dy-icon-50 {
  font-size: 16px;
  margin-right: 5px;
}
.circle-list .top-three {
  width: 180px;
  height: 234px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: #333;
  line-height: 1.6em;
  z-index: 2;
}
.circle-list .top-three h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.circle-list .top-three p {
  width: 140px;
  height: 140px;
  color: #999;
  overflow: hidden;
}
.circle-list .img-mack {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 180px;
  height: 241px;
  background: white;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.circle-list .dy-btn-default {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  padding: 0;
}
.cls {
  clear: both;
}
.notxt {
  text-indent: -9999px;
}
.circle-nav {
  margin: 0 auto;
  position: relative;
}
.circle-nav ul li {
  float: left;
  margin: 0 10px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  border-bottom: 3px solid #fff;
}
.circle-nav ul li a {
  color: #999;
}
.circle-nav ul li.cur {
  border-bottom: 3px solid #ed5565;
}
.circle-nav ul li.cur a {
  font-weight: bold;
  color: #333;
}
.curBg {
  background: #ed5565;
  height: 3px;
  position: absolute;
  bottom: 0;
  width: 68px;
  left: 0px;
}
.user-name {
  background: white;
  position: relative;
  padding-bottom: 20px;
}
.user-name .user-bg {
  width: 300px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.user-name .user-bg img {
  position: absolute;
  top: 0;
  left: -130px;
  transform: scale(8.5);
  -moz-transform: scale(8.5);
  -webkit-transform: scale(8.5);
  -o-transform: scale(8.5);
  -ms-transform: scale(8.5);
  /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=8.5, M12=0, M21=0, M22=8.5, SizingMethod='auto expand')";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=8.5, M12=0, M21=0, M22=8.5, SizingMethod='auto expand');
  /* IE6 and 7 */
  background-position: center;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  /* chrome, opera */
  -ms-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=3, MakeShadow=false);
  /*  IE6~IE9  */
}
.user-name a.head-img {
  position: absolute;
  top: 30px;
  left: 100px;
}
.user-name a.head-img img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-name strong {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.user-tool {
  background: white;
  padding: 20px 15px;
}
.user-tool .ul-list li {
  float: left;
  width: 90px;
}
.user-tool .ul-list li a {
  border: 1px solid #fff;
  -moz-transition: all 0.2s ease,;
  -webkit-transition: all 0.2s ease,;
  -o-transition: all 0.2s ease,;
  -ms-transition: all 0.2s ease,;
  transition: all 0.2s ease,;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #999;
  text-align: center;
  display: block;
  padding: 15px 0;
}
.user-tool .ul-list li a span {
  display: block;
  margin-top: 15px;
}
.user-tool .ul-list li a:hover span {
  color: #4fc1e9;
}
.user-tool .iconfont {
  font-size: 24px;
  color: white;
  position: relative;
}
.user-tool .iconfont:before {
  position: relative;
  z-index: 2;
}
.user-tool .iconfont:after {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -8px;
  left: -9px;
  content: '';
  z-index: 1;
  background: #4fc1e9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user-tool .dy-icon-yuejuan:after {
  background: #4fc1e9;
}
.user-tool .dy-icon-shijuanku:after {
  background: #ffce54;
}
.user-tool .dy-icon-xuexi:after,
.user-tool .dy-icon-chujuan:after {
  background: #fc6e51;
}
.user-tool .dy-icon-zhenduan:after {
  background: #48cfad;
}
.Apply-join {
  font-size: 14px;
  background: white;
  width: 380px;
  color: #999;
}
.Apply-join .iconfont {
  margin-right: 5px;
}
.Apply-join .fs16 {
  color: #333;
}
.Apply-join .table-join tr td {
  padding: 5px;
}
.Apply-join input {
  border-width: 2px;
}
.Apply-join .textarea {
  width: 100%;
  border-width: 2px;
}
.Apply-join .pop-img {
  width: 100px;
  height: 75px;
  background: #a0d468;
  margin: 0 auto;
}
.Apply-join .pop-img img {
  width: 100px;
  height: 75px;
}
.Apply-join .dy-icon-13 {
  color: #8cc152;
  font-size: 32px;
}
.Apply-join .font-line p {
  line-height: 32px;
}
