/*--------------------------------------------------------------
                        创建圈子

      Author:Plato
      Create Date:2015/10/26 4:40  Last Mondify Date:2015/10/26 4:40
      ===================================================

--------------------------------------------------------------*/
.d-group-list {
  overflow: hidden;
  padding: 0 20px;
}
.d-group-list dt {
  line-height: 35px;
  margin: 15px 0 5px 0;
  font-size: 16px;
  color: #666;
}
.d-group-list dt img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin-right: 8px;
  vertical-align: -4px;
  width: 20px;
}
.d-group-list dd {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.d-group-item {
  border: 1px solid #eee;
  display: block;
  margin: 0 0 30px 30px;
  width: 380px;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.d-group-item:hover {
  background-color: #f9f9f9;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}
.d-group-item .d-group-avatar,
.d-group-item .d-group-wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.d-group-item .d-group-avatar {
  overflow: hidden;
  vertical-align: top;
}
.d-group-item .d-group-avatar img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px;
}
.d-group-item .d-group-wrap {
  width: 234px;
  padding: 20px 20px 0 0;
  position: relative;
}
.d-group-item .d-group-wrap h4 {
  font-size: 16px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-agency {
  color: #666;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-tags {
  line-height: 28px;
  min-height: 28px;
}
.d-group-item .d-group-wrap .d-group-tags span {
  border: 1px solid #bbb;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  color: #666;
  padding: 2px 6px;
  margin-right: 8px;
  white-space: nowrap;
}
.d-group-item .d-group-wrap .d-group-channel {
  background-color: #48cfad;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
  right: -1px;
  top: -1px;
}
.d-group-item .d-group-wrap .d-message-count {
  background: #ed5565 none repeat scroll 0 0;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 22px;
}
.d-group-item .d-group-wrap .d-group-summary {
  color: #999;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.d-group-item .d-group-footer {
  height: 50px;
  padding: 0 10px 0 20px;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.d-group-item .d-group-footer span {
  margin-right: 12px;
  color: #999;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 50px;
  cursor: default;
}
.d-group-item .d-group-footer span i {
  margin-right: 6px;
  vertical-align: 1px;
}
.d-group-item .d-group-footer span i.dy-icon-user-outline {
  position: relative;
  top: 1.5px;
  font-size: 17px;
}
.d-group-item .d-group-footer .d-group-owner {
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.d-group-item .d-group-footer .d-group-enter {
  float: right;
  color: #666;
  line-height: 50px;
}
.d-group-item .d-group-footer .d-group-enter i {
  margin-right: 3px;
  font-size: 14px;
}
.d-group-item .d-group-footer .d-group-enter em {
  margin-left: 2px;
  font-family: "宋体", serif;
}
.d-group-single .d-group-wrap h4 {
  white-space: normal;
  line-height: 150%;
}
.d-group-single .d-group-wrap .d-group-summary {
  max-height: none;
}
.bg-grey {
  background: #f5f5f5;
}
.h2-circle {
  font-weight: normal;
  font-size: 20px;
  border-left: 5px solid #ed5565;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}
.dg-channel {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 7px 10px;
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
  background-color: #48cfad;
}
.dg-channel1 {
  background-color: #48cfad;
}
.dg-channel2 {
  background-color: #a0d468;
}
.dg-channel3 {
  background-color: #fc6e51;
}
.dg-channel4 {
  background-color: #ffce54;
}
.dg-channel5 {
  background-color: #3bafda;
}
.establish {
  margin: 30px auto;
}
.dy-wrap {
  background: #f5f5f5;
}
.d-title {
  padding: 12px 0;
}
.d-title h3 {
  border-left: 3px solid #ed5565;
  font-size: 18px;
  padding-left: 15px;
}
.dg-step {
  background-color: #fff;
}
.dg-step .dg-step-title {
  padding: 25px 0 0;
  text-align: center;
}
.dg-step .dg-step-title i,
.dg-step .dg-step-title h2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.dg-step .dg-step-title i {
  font-size: 24px;
  margin-right: 8px;
  color: #bbb;
  vertical-align: -2px;
}
.dg-step .dg-step-title h2 {
  font-size: 16px;
  font-weight: 600;
  color: #999;
}
.dg-step .dg-step-title .dg-choose-type {
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.dg-step .dg-step-title .dg-choose-type img {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.dg-step .dg-step-title .dg-choose-type h3 {
  font-size: 15px;
  line-height: 35px;
}
.dg-step .dg-step-title .dg-choose-type b {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  height: 80px;
  left: 0;
  line-height: 80px;
  position: absolute;
  top: 0;
  width: 80px;
  visibility: hidden;
  -moz-transition: all 0.35s easy-out-in 0s,;
  -webkit-transition: all 0.35s easy-out-in 0s,;
  -o-transition: all 0.35s easy-out-in 0s,;
  -ms-transition: all 0.35s easy-out-in 0s,;
  transition: all 0.35s easy-out-in 0s,;
  -moz-transition: all 0.35s easy-out-in 0s;
  -webkit-transition: all 0.35s easy-out-in 0s;
  -o-transition: all 0.35s easy-out-in 0s;
  -ms-transition: all 0.35s easy-out-in 0s;
  transition: all 0.35s easy-out-in 0s;
  cursor: pointer;
}
.dg-step .dg-step-title .dg-choose-type:hover b,
.dg-step .dg-step-title .dg-choose-type.hover b {
  visibility: visible;
}
.dg-actions {
  text-align: center;
  padding: 0 0 30px;
}
.dg-actions .pre-step {
  color: #3bafda;
  margin-right: 15px;
}
.dg-actions .pre-step:hover {
  color: #4fc1e9;
}
.dg-step-01 {
  text-align: center;
  padding: 60px 0 0;
  height: 450px;
}
.dg-step-01 li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 12px 45px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  border: solid 1px #fff;
}
.dg-step-01 li img {
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.dg-step-01 li h3 {
  font-size: 15px;
  line-height: 35px;
}
.dg-step-01 li span,
.dg-step-01 li em {
  display: block;
}
.dg-step-01 li span {
  color: #666;
}
.dg-step-01 li em {
  color: #999;
}
.dg-step-01 li b {
  position: absolute;
  top: 12px;
  left: 45px;
  right: 45px;
  height: 150px;
  visibility: hidden;
  -moz-transition: all 0.35s ease-in-out 0s,;
  -webkit-transition: all 0.35s ease-in-out 0s,;
  -o-transition: all 0.35s ease-in-out 0s,;
  -ms-transition: all 0.35s ease-in-out 0s,;
  transition: all 0.35s ease-in-out 0s,;
  -moz-transition: all 0.35s ease-in-out 0s;
  -webkit-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.dg-step-01 li:hover,
.dg-step-01 li.hover {
  background-color: #f9f9f9;
  border-color: #eee;
}
.dg-step-01 li:hover b,
.dg-step-01 li.hover b {
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;
}
.dg-step-02 {
  width: 484px;
  margin: 30px auto 10px;
  color: #999;
}
.dg-step-02 input:disabled {
  background: none;
  cursor: pointer;
}
.dg-step-02 li {
  margin-bottom: 20px;
}
.dg-step-02 select,
.dg-step-02 input,
.dg-step-02 textarea {
  width: 300px;
}
.dg-step-02 label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 85px;
  text-align: right;
}
.dg-step-02 label em {
  color: #d9534f;
  padding-right: 3px;
  vertical-align: -5px;
  font-size: 19px;
}
.dg-step-02 .d-tags {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.dg-step-02 .d-tags .tag-edit .btn-tag {
  height: auto;
  line-height: 28px;
}
.dg-step-02 .d-tags .tag-edit .help-inline {
  line-height: 32px;
}
.dg-step-02 .d-tags .tag-edit .form-control {
  width: 10em;
}
.dg-step-02 .d-tags mark,
.dg-step-02 .d-tags .d-tag {
  line-height: 30px;
  margin-bottom: 0;
}
.dg-step-02 .text-box textarea {
  vertical-align: top;
  width: 380px;
}
.dg-info {
  border-bottom: solid 1px #eee;
  padding: 15px 0 30px;
  text-align: center;
}
.dg-info .dg-avatar {
  margin-bottom: 15px;
}
.dg-info .dg-name {
  font-size: 14px;
}
.dg-info .dg-channel,
.dg-info .dg-name-wrap,
.dg-info .dg-type {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.dg-info .dg-name-wrap {
  font-size: 20px;
}
.dg-info .dg-name-wrap strong {
  color: #999;
  font-size: 14px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.dg-info .dg-type {
  background: #f5f7fa none repeat scroll 0 0;
  border-radius: 2px;
  color: #aab2bd;
  cursor: default;
  font-size: 14px;
  margin-left: 15px;
  padding: 5px 10px;
}
.dg-share {
  border-bottom: solid 1px #eee;
  margin-bottom: 30px;
}
.dg-share .close-share {
  display: none;
}
.dg-share .font-color-bule {
  color: #3bafda;
}
.dg-share .font-color-bule:hover {
  color: #4fc1e9;
}
.dg-share .fr-box-share {
  width: 400px;
  background: #fff;
  border: 1px solid #eee;
  padding: 27px 29px;
}
.dg-share .fr-box-share .close-share {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  font-size: 9px;
  cursor: pointer;
}
.dg-share .fr-box-share .close-share:hover {
  color: #999;
}
.dg-share .fr-box-share .font-color-bule {
  color: #3bafda;
}
.dg-share .fr-box-share .font-color-bule:hover {
  color: #4fc1e9;
}
.dg-share .fr-box-share .dy-icon-42 {
  font-size: 16px;
  margin-right: 11px;
}
.dg-share .fr-box-share .ul-list-letter li {
  float: left;
  width: 33.33333333%;
}
.dg-share .fr-box-share .ul-list-letter li a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: none !important;
  color: #a9a9a9;
  font-size: 17px !important;
}
.dg-share .fr-box-share .ul-list-letter li a:before {
  font-size: 40px;
  position: relative;
  top: 6px;
  left: -8px;
}
.dg-share .fr-box-share .ul-list-letter li a span {
  position: relative;
  top: -6px;
  right: 0;
}
.dg-share .fr-box-share .ul-list-letter li a:hover .dy-icon-44 {
  color: #8cc152;
}
.dg-share .fr-box-share .ul-list-letter li a:hover .dy-icon-47 {
  color: #da4453;
}
.dg-share .fr-box-share .ul-list-letter li a:hover .dy-icon-45 {
  color: #3bafda;
}
.dg-share .fr-box-share .dy-icon-44:before {
  color: #a0d468;
}
.dg-share .fr-box-share .dy-icon-47:before {
  color: #ed5565;
}
.dg-share .fr-box-share .dy-icon-45:before {
  color: #4fc1e9;
}
.dg-share .fr-box-share .mb25 {
  margin-bottom: 25px;
}
.dg-share .ul-list-letter li a.iconfont {
  -webkit-text-stroke-width: 0px;
  font-family: "微软雅黑", serif !important;
  font-size: 16px;
}
.dg-share .ul-list-letter li .iconfont:before {
  font-family: "iconfont", serif !important;
}
.dg-share .fr-box-share {
  border: none;
  margin: 0 auto 15px;
}
.dg-share textarea {
  display: none;
}
.choose-school {
  font-size: 14px;
  background: white;
  width: 971px;
  color: #999;
  padding: 0 25px 25px;
}
.choose-school .dy-icon-13 {
  color: #8cc152;
  font-size: 32px;
}
.choose-school .area {
  position: relative;
  top: 10px \9;
}
.choose-school .area select {
  background: #fff none;
  border: 1px solid #e6e9ed;
  color: #555;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  margin-right: 5px;
  padding: 6px 12px;
}
.choose-school .letter {
  line-height: 32px;
}
.choose-school .letter a {
  color: #bbb;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 4px;
}
.choose-school .letter a.z-crt {
  color: #3bafda;
}
.choose-school .letter a.z-sel {
  color: #ed5565;
}
.choose-school .school-name {
  border: 1px solid #e6e9ed;
  height: 286px;
  overflow-y: auto;
}
.choose-school .school-name .ul-list-box li {
  width: 220px;
  float: left;
  padding: 10px 0 10px 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.choose-school .school-name .ul-list-box li:hover {
  color: #3bafda;
}
.choose-school .school-name .ul-list-box li.z-sel {
  color: #3bafda;
}
.choose-school .school-name a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
