.dy-wrap {
  background: #f5f5f5;
}
.portrait {
  font-size: 14px;
}
.portrait .title-font {
  padding: 30px 0;
  color: #999;
}
.portrait .cont-min {
  padding: 20px 0;
  background: #fff;
}
.portrait .cont-min .h2-circle {
  font-weight: normal;
  font-size: 20px;
  border-left: 5px solid #ed5565;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}
.portrait .cont-min ul.ul-list {
  margin-top: 50px;
  height: 360px;
  text-align: center;
}
.portrait .cont-min ul.ul-list li {
  width: 400px;
  float: left;
}
.portrait .cont-min ul.ul-list li .icon-base-pos:hover span {
  display: block;
}
.portrait .cont-min ul.ul-list li p {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.portrait .cont-min .dy-btn {
  margin-bottom: 90px;
}
.portrait .cont-min .be-teacher {
  display: none;
}
.portrait .cont-min .be-teacher p {
  color: #999;
  margin-bottom: 20px;
}
.portrait .cont-min .be-teacher select {
  border: 2px solid #e6e9ed;
  padding: 6px 12px;
  width: 240px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.portrait .cont-min .dy-icon-13 {
  font-size: 48px;
  color: #ed5565;
  position: absolute;
  top: 0;
  right: 0;
}
.portrait .cont-min .dy-icon-31 {
  position: absolute;
  font-size: 60px;
  top: -6px;
  right: -6px;
  color: #fff;
}
.portrait .cont-min .icon-base-pos {
  position: relative;
}
.portrait .cont-min .icon-base-pos span {
  display: none;
  position: absolute;
  top: 100px;
  right: -12px;
}
.portrait .cont-min .z-sel .icon-base-pos span {
  display: block;
}
.portrait .cont-min .z-sel .be-teacher {
  display: block;
}
.portrait .cont-min .dy-icon-40,
.portrait .cont-min .dy-icon-29,
.portrait .cont-min .dy-icon-39 {
  font-size: 140px;
  position: relative;
  cursor: pointer;
}
.portrait .cont-min .dy-icon-40 {
  color: #a0d468;
}
.portrait .cont-min .dy-icon-29 {
  color: #4fc1e9;
}
.portrait .cont-min .dy-icon-39 {
  color: #ffce54;
}
.test {
  height: 100px;
}
