/**
 * 答题卡
 * Created by shay on 2017/7/13.
 */
.d-sections {
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  width: 780px;
}
.d-picture-wrap {
  position: relative;
  width: 780px;
  margin: 0 auto;
}
.d-picture-wrap .icon {
  position: absolute;
}
.d-picture-wrap .icon .score {
  background-color: #fa8989;
  border: 1px solid #fa8989;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  left: 48px;
  padding: 1px 2px;
  position: absolute;
  text-align: center;
  top: 0;
}
.d-picture-wrap .icon img {
  max-width: none;
}
.d-score-wrap {
  width: 240px;
  position: absolute;
  right: 320px;
  top: 10px;
  z-index: 20;
}
.d-score-wrap .p-score {
  color: #ed5565;
  font-family: georgia, serif;
  font-size: 35px;
  margin-bottom: 15px;
  text-align: center;
}
.d-score-wrap .p-score span {
  font-size: 24px;
  font-family: "Microsoft YaHei", serif;
}
.d-score-wrap .p-objective-score {
  color: #ed5565;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
}
.d-score-wrap .p-objective-error {
  font-family: arial, sans-serif;
  color: #ed5565;
  font-size: 16px;
  text-align: center;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
