/*全屏*/
.dy-main {
  background-color: #f0f0f0;
}
.dy-container {
  width: 100%;
  padding-top: 60px;
}
.box-lg-2,
.box-lg-5,
.box-lg-6 {
  float: left;
}
/*顶部*/
.m-header-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  line-height: 48px;
  background: white none repeat scroll 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.m-header-box .m-header {
  position: absolute;
  width: 1010px;
  color: #989898;
}
.m-header-box .m-header em {
  color: #ee5e6d;
}
.m-header-box .m-header .stu-name {
  color: #000;
}
.m-init-box {
  color: #888;
  height: 300px;
  padding: 80px 0;
  width: 600px;
}
.m-init-box .m-init-message {
  font-weight: 600;
  font-size: 16px;
  padding-top: 30px;
}
.m-back {
  padding-left: 2px;
}
.m-back i {
  position: relative;
  top: 3px;
}
.m-alt-span {
  border-left: 6px solid #ed5565;
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  padding-left: 8px;
}
.dy-header,
.dy-header-tool,
.dy-footer {
  display: none;
}
.dy-main {
  padding: 0 !important;
  min-height: 600px;
}
.dy-body {
  min-width: 1220px;
  overflow-x: scroll;
  position: relative;
}
.dy-container {
  position: inherit;
  overflow: hidden;
}
/*阅卷通用蓝色文本手型按钮*/
.m-abtn {
  cursor: pointer;
  color: #4fc1e9;
}
/*阅卷*/
.m-body {
  margin: 0 0 50px 350px;
  width: 780px;
  /*图片区域*/
  /*自定义鼠标样式*/
}
.m-body #mkBox {
  width: 100%;
  position: relative;
  z-index: 1;
  /*各题题干区域*/
  /*印上的图标*/
  /*半对打分板*/
}
.m-body #mkBox .q-area {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(79, 193, 233, 0.3);
  color: #ffffff;
  z-index: 600;
}
.m-body #mkBox .q-area .qa-sort {
  position: absolute;
  opacity: 0.3;
  background-color: #4fc1e9;
  border-color: #4fc1e9;
  color: #ffffff;
  height: 22px;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
  cursor: default;
}
.m-body #mkBox .q-area .qa-share {
  display: none;
  position: absolute;
  background-color: #4fc1e9;
  color: #ffffff;
  top: -2px;
  left: -22px;
  height: 70px;
  width: 22px;
  padding: 4px;
  cursor: pointer;
}
.m-body #mkBox .q-area .qa-share i {
  font-size: 16px;
}
.m-body #mkBox .q-area .qa-share-active {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  top: -2px;
  left: -22px;
  width: 22px;
  height: 22px;
  padding: 4px;
  cursor: default;
}
.m-body #mkBox .q-area .qa-share-active i {
  color: #fa9632;
  opacity: 1;
}
.m-body #mkBox .q-area .qa-share-active span {
  display: none;
}
.m-body #mkBox .q-area-active {
  z-index: 601;
  border: 2px solid #4fc1e9;
}
.m-body #mkBox .q-area-active .qa-sort {
  opacity: 1;
  left: -2px;
  top: -22px;
}
.m-body #mkBox .q-area-active .qa-share {
  display: block;
}
.m-body #mkBox .q-area-active .qa-share-active {
  background-color: #4fc1e9;
  height: 55px;
}
.m-body #mkBox .q-area-active .qa-share-active span {
  display: block;
}
.m-body #mkBox .icon {
  position: absolute;
  z-index: 990;
  /*图标扣分*/
}
.m-body #mkBox .icon .score {
  background-color: #fa8989;
  border: 1px solid #fa8989;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  left: 48px;
  padding: 1px 2px;
  position: absolute;
  text-align: center;
  top: 0;
}
.m-body #mkBox .icon-sm {
  width: 50px;
}
.m-body #mkBox .icon-lg {
  width: 200px;
}
.m-body #mkBox .simplepop {
  position: absolute;
  min-height: 122px;
  max-height: 245px;
  cursor: pointer;
  width: 122px;
  overflow: hidden;
  z-index: 991;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  box-shadow: -1px 0 0 #e1e1e1, 1px 0 0 #e1e1e1, 0 1px 0 #e1e1e1, 0 -1px 0 #e1e1e1;
  font-size: 16px;
  color: #b2b2b2;
}
.m-body #mkBox .simplepop .one {
  width: 100%;
}
.m-body #mkBox .simplepop li {
  float: left;
  text-align: center;
  padding: 0;
  width: 40px;
  line-height: 30px;
}
.m-body #mkBox .simplepop li:hover {
  background-color: #65cafc;
  color: #ffffff;
}
.m-body #mkBox .simplepop .semi-box-tab div {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.m-body #mkBox .simplepop .semi-box-tab .active {
  background-color: #65cafc;
  color: #ffffff;
}
.m-body .cur-def {
  cursor: default;
}
.m-body .cur-0 {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/full.cur"), auto;
}
.m-body .cur-1 {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/semi.cur"), auto;
}
.m-body .cur-2 {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/error.cur"), auto;
}
.m-body .cur-clear {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/clear.cur"), auto;
}
.m-body .cur-remark {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/remark.cur"), auto;
}
.m-body .cur-bw-smile {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/smile.cur"), auto;
}
.m-body .cur-bw-praise {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/praise.cur"), auto;
}
.m-body .cur-bw-cry {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/cry.cur"), auto;
}
.m-body .cur-bw-doubt {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/doubt.cur"), auto;
}
.m-body .cur-bw-line {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/line.cur"), auto;
}
.m-body .cur-bw-wavy {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/wavy.cur"), auto;
}
.m-body .cur-bw-oval {
  cursor: url("http://static.dayeasy.net/v1/image/icon/marking/cur/oval.cur"), auto;
}
.mg-score-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  left: 174px;
  width: 222px;
  min-height: 42px;
  padding: 5px;
  position: absolute;
  top: 158px;
  z-index: 3;
  color: #b2b2b2;
}
.mg-score-box .arrow {
  border-right-color: #e1e1e1;
}
.mg-score-box span {
  float: left;
  overflow: hidden;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.mg-score-box span:hover {
  background-color: #65cafc;
  color: #fff;
}
.mCSB_scrollTools {
  width: 10px;
}
/*得分版*/
.m-goal {
  position: fixed;
  top: 40px;
  left: 175px;
  width: 175px;
  min-height: 500px;
  z-index: 2;
}
.m-goal .mg-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.m-goal .mg-title span {
  display: inline-block;
  height: 32px;
  line-height: 30px;
  text-align: center;
}
.m-goal .mg-title .gt-info {
  width: 100px;
  color: #999999;
}
.m-goal .mg-title .gt-btn {
  border: 1px solid #65cafc;
  border-radius: 4px;
  background-color: #ffffff;
  width: 55px;
  margin-left: 5px;
  color: #65cafc;
  cursor: pointer;
}
.m-goal .mg-item {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  overflow: hidden;
  width: 165px;
  background-color: #ffffff;
  position: relative;
  color: #999999;
}
.m-goal .mg-item .gi-sort {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.m-goal .mg-item input {
  width: 40px;
  height: 30px;
  padding: 0;
  text-align: center;
  border: 0;
  color: #65cafc;
  font-weight: 600;
}
.m-goal .mg-item .gi-total {
  position: absolute;
  top: 0;
  right: 10px;
  color: #cccccc;
  font-size: 12px;
  text-align: right;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.m-goal .mg-item .gi-total:hover i {
  color: #65cafc;
}
.m-goal .mg-item .gi-total .gi-ts {
  margin: 0 2px;
}
.m-goal .mg-item .git-active i {
  color: #65cafc;
}
.m-goal .mg-item .gi-division-1 {
  border-left: 1px solid #eeeeee;
}
.m-goal .mg-item .gi-division-2 {
  font-size: 16px;
}
.m-goal .mg-active {
  border-color: #65cafc;
}
.m-goal .scroll-items {
  width: 100%;
  min-height: 334px;
  max-height: 366px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*工具栏*/
.m-tools {
  z-index: 997;
  position: fixed;
  top: 250px;
  left: 1140px;
  width: 45px;
  height: auto;
  background-color: #ffffff;
  border: 0;
}
.m-tools .tool {
  width: 45px;
  height: 45px;
  padding-top: 12px;
  text-align: center;
  cursor: pointer;
}
.m-tools .tool i {
  display: inline-block;
  width: 26px;
  height: 22px;
  background: url(/v3/image/marking/icon.png) no-repeat transparent;
  -moz-transition: all 0.3s ease 0s,;
  -webkit-transition: all 0.3s ease 0s,;
  -o-transition: all 0.3s ease 0s,;
  -ms-transition: all 0.3s ease 0s,;
  transition: all 0.3s ease 0s,;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.m-tools .tool.active {
  background-color: #65cafc;
}
.m-tools .tool:hover i {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.m-tools .tool-full i {
  background-position: -161px -13px;
}
.m-tools .tool-full.active i {
  background-position: -161px -61px;
}
.m-tools .tool-full-disabled {
  cursor: default;
}
.m-tools .tool-full-disabled i {
  background-position: -161px -109px;
}
.m-tools .tool-semi i {
  background-position: -89px -13px;
}
.m-tools .tool-semi.active i {
  background-position: -89px -61px;
}
.m-tools .tool-semi-disabled {
  cursor: default;
}
.m-tools .tool-semi-disabled i {
  background-position: -89px -109px;
}
.m-tools .tool-error i {
  background-position: -233px -13px;
}
.m-tools .tool-error.active i {
  background-position: -233px -61px;
}
.m-tools .tool-error-disabled {
  cursor: default;
}
.m-tools .tool-error-disabled i {
  background-position: -233px -109px;
}
.m-tools .tool-clear i {
  background-position: -15px -13px;
}
.m-tools .tool-clear.active i {
  background-position: -16px -61px;
}
.m-tools .tool-remark i {
  background-position: -304px -13px;
}
.m-tools .tool-remark.active i {
  background-position: -305px -61px;
}
.m-tools .tool-setting i {
  background-position: -377px -13px;
}
.m-tools .tool-setting.active i {
  background-position: -377px -61px;
}
.m-tools .tool-setting-disabled {
  cursor: default;
}
.m-tools .tool-setting-disabled i {
  background-position: -377px -109px;
}
.m-tools .tool-zoom i {
  background-position: -446px -13px;
}
.m-tools .tool-zoom-small i {
  background-position: -515px -13px;
}
/*批注*/
.remarks {
  position: absolute;
  top: 124px;
  right: 60px;
  width: 180px;
  height: 160px;
  z-index: 998;
  background-color: #ffffff;
  border: 1px solid #65cafc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  border-top-left-radius: 0;
  padding: 10px;
  /*文字*/
  /*表情*/
  /*自定义*/
}
.remarks .arrow {
  border-left-color: #65cafc;
}
.remarks .title {
  position: absolute;
  top: -31px;
  height: 30px;
  line-height: 30px;
  width: 50px;
  background-color: #ffffff;
  border: 1px solid #65cafc;
  border-bottom: 0;
  text-align: center;
  color: #65cafc;
  font-size: 12px;
  cursor: pointer;
}
.remarks .title.active {
  background-color: #65cafc;
  color: #ffffff;
}
.remarks .t-text {
  border-top-left-radius: 6px;
  left: -1px;
}
.remarks .c-text .ti {
  width: 100%;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  background: url(/v1/image/icon/marking/icon-notation.png) no-repeat #fff;
}
.remarks .c-text .ti:hover {
  background-color: #65cafc;
  border-color: #65cafc;
}
.remarks .c-text .ti-1 {
  background-position: -5px 0;
}
.remarks .c-text .ti-2 {
  background-position: -5px -32px;
}
.remarks .c-text .ti-3 {
  background-position: -5px -64px;
}
.remarks .c-text .ti-4 {
  background-position: -5px -96px;
}
.remarks .t-brow {
  left: 49px;
  border-left: 0;
  border-right: 0;
}
.remarks .c-brow li {
  width: 36px;
  height: 36px;
  padding: 1px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
.remarks .c-brow li img {
  max-width: 32px;
  max-height: 32px;
}
.remarks .c-brow li:hover {
  background-color: #65cafc;
  border-color: #65cafc;
}
.remarks .t-custom {
  border-top-right-radius: 6px;
  left: 99px;
}
.remarks .c-custom {
  /*编辑*/
  /*历史*/
}
.remarks .c-custom .custom-edit .txt-custom {
  border: 0;
  height: 80px;
  margin-bottom: 2px;
  padding: 6px 8px;
  width: 100%;
  resize: none;
  font-size: 14px;
  color: #919699;
  background-color: #f0f0f0;
}
.remarks .c-custom .custom-edit .custom-info {
  margin-top: 15px;
  overflow: hidden;
}
.remarks .c-custom .custom-edit .custom-info div {
  float: left;
}
.remarks .c-custom .custom-edit .custom-info .custom-msg {
  color: #fb5a53;
  font-size: 12px;
  width: 102px;
}
.remarks .c-custom .custom-edit .custom-info .btn-custom {
  background-color: #65cafc;
  border: 1px solid #65cafc;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  height: 34px;
  line-height: 34px;
  width: 55px;
}
.remarks .c-custom .custom-history .ht {
  width: 100%;
  height: 22px;
  overflow: hidden;
  padding: 3px 5px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #919699;
}
.remarks .c-custom .custom-history .edit {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}
.remarks .c-custom .custom-history .item {
  cursor: pointer;
  padding: 1px 0;
}
.remarks .c-custom .custom-history .item:hover {
  color: #ffffff;
  border-color: #65cafc;
  background-color: #65cafc;
}
/*设置*/
.m-setting {
  position: absolute;
  top: 0;
  right: 60px;
  width: 400px;
  z-index: 998;
  border: 1px solid #65cafc;
  border-radius: 6px;
  padding: 15px;
  background: white none repeat scroll 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.m-setting .arrow {
  top: auto;
  bottom: 105px;
  border-left-color: #65cafc;
}
.m-setting .box-lg-4 {
  padding: 10px 0 0 20px;
}
.m-setting .box {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}
.m-setting .mb-first {
  padding-top: 0;
}
.m-setting .mb-title {
  border-left: 4px solid #ed5565;
  font-weight: bold;
  line-height: 1.4;
  padding: 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-setting .mb-last {
  border: 0;
  padding: 0;
}
.m-setting .m-update-area {
  padding: 10px 0;
}
/*学生列表*/
.m-students {
  background-color: #ffffff;
  border: 1px solid #65cafc;
  border-radius: 6px;
  margin-top: -1px;
}
.m-students .m-students-scroll {
  padding: 15px 8px;
  line-height: 26px;
  min-height: 200px;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.m-students .ms-submits-box {
  overflow: hidden;
  position: relative;
}
.m-students .ms-submits-box .ms-tips {
  color: #bbb;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 0;
}
.m-students .ms-submits-box .ms-tips > i {
  margin: 0 6px;
}
.m-students .ms-submits-box .ms-tips .i-undo {
  border: 3px solid #ed5565;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 0;
  vertical-align: middle;
  width: 0;
}
.m-students .ms-submits-box .ms-tips .i-declare {
  color: #ed5565;
}
.m-students .ms-submits-box .ms-tips .i-processed {
  color: #65cafc;
}
.m-students .ms-submits {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding: 12px 0 6px;
}
.m-students .ms-submits.ms-joint-submits {
  border-bottom: none;
}
.m-students .ms-submits li {
  cursor: pointer;
  float: left;
  text-align: center;
  padding: 4px;
  position: relative;
  background-color: #eee;
  margin: 0 6px 6px 0;
}
.m-students .ms-submits li:hover {
  background-color: #ddd;
}
.m-students .ms-submits li span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  width: 4em;
}
.m-students .ms-submits li i {
  position: absolute;
}
.m-students .ms-submits li .i-undo {
  border: 3px solid #ed5565;
  border-radius: 50%;
  right: -2px;
  top: -2px;
}
.m-students .ms-submits li .i-declare {
  color: #ed5565;
  right: -5px;
  top: 0px;
}
.m-students .ms-submits li .i-processed {
  color: #65cafc;
  right: -5px;
  top: 0px;
}
.m-students .ms-submits .active {
  background-color: #65cafc;
  color: #ffffff;
  border-color: #eeeeee;
}
.m-students .ms-submits .active:hover {
  background-color: #3bafda;
}
.m-students .ms-unsubmits-box {
  padding: 15px 0 5px;
}
.m-students .ms-unsubmits {
  padding: 10px;
  color: #b2b2b2;
  font-size: 12px;
  line-height: 1.2;
  background-color: #f5f7fa;
}
.m-students .ms-unsubmits span {
  display: inline-block;
  overflow: hidden;
  padding: 4px .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 5em;
}
.m-students .arrow-top {
  left: 680px;
}
/*结束阅卷弹出框*/
.mk-finished-box {
  width: 380px;
  line-height: 2em;
}
.mk-finished-box span {
  font-weight: normal;
}
.mk-finished-box .finished-icon {
  color: #ed5565;
}
.mk-finished-box .finished-alt {
  color: #bbbbbb;
}
.mk-finished-box .finished-buttons {
  margin-top: 20px;
}
/*保存进度tip*/
.mk-save-tip {
  position: absolute;
  right: 90px;
  bottom: -25px;
  width: auto;
  background: #65cafc none repeat scroll 0 0;
  border: 1px solid #65cafc;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 5px;
  z-index: 999;
}
.mk-save-tip .arrow-top {
  top: -7px;
}
.mk-save-tip .arrow-top:after {
  border-bottom-color: #65cafc;
}
/*左右切换图标*/
.m-change {
  cursor: pointer;
  position: fixed;
  text-align: center;
  top: 250px;
  width: 65px;
  height: 65px;
  line-height: 64px;
  color: #bbbbbb;
}
.m-change i {
  font-size: 40px;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
.m-change:hover i {
  color: #65cafc;
  font-size: 64px;
}
.m-change-left {
  left: 30px;
}
.m-change-right {
  left: 1230px;
}
/*马赛克*/
.mosaic {
  position: absolute;
  width: 780px;
  height: 128px;
  display: inline-block;
  background: url(/v3/image/marking/mosaic.png) no-repeat #ccc;
}
.mosaic-lg {
  width: 936px;
  height: 154px;
  background: url(/v3/image/marking/mosaic-lg.png) no-repeat #ccc;
}
/*异常申报*/
.exception-box {
  width: 300px;
  color: #555;
}
.exception-box .excp-item {
  width: 100%;
  margin-bottom: 4px;
  cursor: pointer;
  padding: 2px 0;
}
.exception-box .excp-other {
  margin-top: 6px;
}
.exception-box i {
  color: #8d8d8d;
}
.exception-box .fa-dot-circle-o {
  color: #65cafc;
}
.exception-box input {
  max-width: 300px;
  width: 300px;
}
/*其他*/
/*弹出框三角指针*/
.arrow {
  position: absolute;
  border-color: transparent;
  border-width: 9px;
  border-style: solid;
}
.arrow:after {
  position: absolute;
  content: "";
  display: block;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
}
/*指针向右*/
.arrow-right {
  top: 50%;
  right: -9px;
  margin-top: -9px;
  border-right: 0;
  border-left-color: #ddd;
}
.arrow-right:after {
  right: 1px;
  bottom: -8px;
  border-right: 0 none;
  border-left-color: #fff;
}
/*指针向左*/
.arrow-left {
  top: 50%;
  left: -9px;
  margin-top: -9px;
  border-left: 0 none;
  border-right-color: #fff;
}
.arrow-left:after {
  left: 1px;
  bottom: -8px;
  border-left: 0 none;
  border-right-color: #fff;
}
.arrow-left-top {
  top: 20px;
}
.arrow-left-bottom {
  top: auto;
  bottom: 10px;
}
/*指针向上*/
.arrow-top {
  top: -9px;
  left: 45%;
  border-top: 0 none;
  border-bottom-color: #65cafc;
}
.arrow-top:after {
  right: -8px;
  bottom: -9px;
  border-top: 0;
  border-bottom-color: #fff;
}
/* all */
::-webkit-input-placeholder {
  color: #555;
}
::-moz-placeholder {
  color: #555;
}
/* firefox 19+ */
:-ms-input-placeholder {
  color: #555;
}
/* ie */
input:-moz-placeholder {
  color: #555;
}
/**
 * 结束阅卷
 * Created by shay on 2016/7/4.
 */
.mk-finished-box {
  width: 380px;
  line-height: 2em;
}
.mk-finished-box span {
  font-weight: normal;
}
.mk-finished-box .finished-step1 > div {
  margin-bottom: 12px;
  font-size: 16px;
}
.mk-finished-box .finished-icon {
  color: #ed5565;
}
.mk-finished-box .finished-alt {
  color: #bbbbbb;
}
.mk-finished-box .finished-buttons {
  margin-top: 20px;
}
/*进度条*/
.progress {
  background: #f5f5f5 linear-gradient(to bottom, #ebebeb 0px, #f5f5f5 100%) repeat-x;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.progress .progress-bar {
  background: #337ab7 linear-gradient(to bottom, #337ab7 0px, #286090 100%) repeat-x;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  text-align: center;
  transition: width 0.6s ease 0s;
  width: 0;
}
