@import "../../less/base";

////搜索框
//.comment-bxo {
//  padding: 10px 30px;
//  & > li {
//  }
//  .parents-conter {
//    overflow: hidden;
//    .ul-list-one {
//      position: relative;
//      bottom: -1px;
//      & > li {
//        border-bottom: 1px solid #eee;
//      }
//    }
//
//  }
//  .boder-focus-color {
//    border-color: #4fc1e9;
//    .transform(all 0.5s ease 0s);
//  }
//  .comment-input, .comment-text {
//    //position: relative;
//  }
//  .comment-input {
//    position: relative;
//    padding-left: 60px;
//    textarea {
//      margin-bottom: 20px;
//      display: block;
//      line-height: 1.6em;
//      width: 100%;
//    }
//    & > img {
//      position: absolute;
//      left: 0;
//      top: 25px;
//      .rounded-corners(50%);
//    }
//    .show-height {
//      height: 23px;
//    }
//  }
//  .comment-text {
//    .comment-list {
//      color: #999;
//      & > li {
//        position: relative;
//        padding-left: 60px;
//        margin-top: 20px;
//        //border-bottom: 1px solid #e6e9ed;
//        & > img {
//          position: absolute;
//          left: 0;
//          top: 0;
//          .rounded-corners(50%);
//        }
//      }
//      .name-color {
//        color: #333;
//      }
//      .comment-time {
//        margin-left: 12px;
//        font-size: 85%;
//        color: #9d9d9d;
//      }
//    }
//  }
//  .comment-children {
//    .comment-text {
//      .comment-list {
//        li {
//          margin-top: 10px;
//        }
//      }
//    }
//  }
//
//  .add-to-comment {
//    span{
//      .inline-block;
//      margin-right: 20px;
//      cursor: pointer;
//      &:hover {
//        color: #333;
//      }
//    }
//  }
//}


//评论
.comment-bxo {
  padding: 10px 30px;
  & > li {
    }
  .parents-conter {
    overflow: hidden;
    .ul-list-one {
      position: relative;
      bottom: -1px;
      & > li {
        border-bottom: 1px solid #eee;
        }
      }

    }
  .boder-focus-color {
    border-color: #4fc1e9;
    .transform(all 0.5s ease 0s);
    }
  .comment-input, .comment-text {
    //position: relative;
    }
  .comment-input {
    position: relative;
    textarea {
      margin-bottom: 10px;
      display: block;
      line-height: 1.6em;
      width: 100%;
      }
    & > img {
      position: absolute;
      left: 0;
      top: 25px;
      width: 40px;
      height: 40px;

      .rounded-corners(50%);
      }
    .show-height {
      height: 23px;
      }
    }
  .comment-text {
    .comment-list {
      color: #999;
      & > li {
        position: relative;
        padding-left: 60px;
        margin-top: 20px;
        //border-bottom: 1px solid #e6e9ed;
        & > img {
          position: absolute;
          left: 0;
          top: 0;
          .rounded-corners(50%);
          }
        }
      .name-color {
        color: #333;
        }
      .comment-time {
        margin-left: 12px;
        font-size: 85%;
        color: #9d9d9d;
        }
      }
    }
  .comment-children {
    .comment-text {
      .comment-list {
        li {
          margin-top: 10px;
          }
        }
      }
    }

  .add-to-comment {
    span{
      .inline-block;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        color: #333;
        }
      }
    }
  }