/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2015/11/16   Last Mondify Date:2015/11/16
      ===================================================
--------------------------------------------------------------*/

/**
 * @LESS
 * @NAME  Part ui
 */
@import "../../less/base";


/** 错因分析 UI**/
.uihtml-false-because{
  line-height: 1.8em;
  background: #fafbfc;
  font-size: 14px;
  padding: 20px 30px;
  &>div{ margin-bottom: 10px;}
  .textarea-box{
    width: 478px;
    }
  .font-show {
    color: #999;
    span{ position: relative; top: 10px; left: 30px;}
    a{color: #3bafda;&:hover{ color: @color-hover-blue;}}
    }
  }

