/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2015/11/16   Last Mondify Date:2015/11/16
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
/** 错因分析 UI**/
.uihtml-false-because {
  line-height: 1.8em;
  background: #fafbfc;
  font-size: 14px;
  padding: 20px 30px;
}
.uihtml-false-because > div {
  margin-bottom: 10px;
}
.uihtml-false-because .textarea-box {
  width: 478px;
}
.uihtml-false-because .font-show {
  color: #999;
}
.uihtml-false-because .font-show span {
  position: relative;
  top: 10px;
  left: 30px;
}
.uihtml-false-because .font-show a {
  color: #3bafda;
}
.uihtml-false-because .font-show a:hover {
  color: #4fc1e9;
}
