@import "../../less/base";

.d-knowledges {
  background-color: @color-default;
  border: 1px solid @border-color;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  .d-knowledge-item {
    cursor: pointer;
    line-height: 24px;
    padding: 0 8px;
  }
}