//Colors
@black:#000;
@gray-darker: lighten(@black, 13.5%);
// #222
@gray-dark: lighten(@black, 20%);
// #333
@gray: lighten(@black, 33.5%);
// #555
@gray-light: lighten(@black, 60%);
// #999
@gray-lighter: lighten(@black, 93.5%);
// #eee

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;



@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
//Colors
@color-default: #fff;
@color-default-border: #ccc;
@color-primary: #428bca;
@color-primary-border: #357ebd;
@color-success: #5cb85c;
@color-success-border: #4cae4c;
@color-info: #5bc0de;
@color-info-border: #46b8da;
@color-warning: #f0ad4e;
@color-warning-border: #eea236;
@color-danger: #d9534f;
@color-danger-border: #d43f3a;
@color-link: #428bca;

//颜色计算
@color: @gray;
@border-color: #ccc;
@background-color: #ffffff;
@color01: spin(@color, 180);
@color02: darken(spin(@color, 180), 5%);
@color03: lighten(@color, 15%);
@color04: lighten(@color, 30%);

@word-color: #444;
@word-color-light: #888;

@newline: `"\n"`;

//text-avatar
@avatar-bg-color: #e7e7df;
@avatar-bd-color: #ccc;
@avatar-color: #d84c31;
@avatar-radius-size: 3px;
@avatar-font-size-small: 22px;
@avatar-font-size: 28px;
@avatar-font-size-large: 36px;
@avatar-size-small: 50px;
@avatar-size: 100px;
@avatar-size-large: 150px;

@pageWidth: 1000px;
@linkColor: #555;
@linkColor01: #f8a959;
@linkColor02: #37aae9;
@linkColor03: #e13436;
@linkColor04: #fff;
@footerColor: #333;
@grayColor: #999;
@bgColor: #eee;
@qbColor: #dcdcdc;
@active: #f8a959;
@activeColor: #36aaea;
@nav-bg: #323844;
@nav-bg-hover: #e3a722;