@{
    ViewBag.Title = "学情补救";
}

<div class="dy-main-wrap">
    @Html.Partial("_Navigation", 3)
    <div class="dy-list" data-aid="@ViewBag.AgencyId">
        <div class="page-elective-draw">
            <div class="ui-tab-nav">
                <ul class="f-cb">
                    <li class="on first" data-area="0">最近一周</li>
                    <li data-area="1">最近一个月</li>
                    <li data-area="2">最近3个月</li>
                    <li class="last" data-area="3">最近6个月</li>
                </ul>
            </div>
            <div class="tab-nav-contens">
                <div class="tab-con-list tab-con-1" style="display: block;">
                    <!--模块 1-->
                    <div class="m-course-top f-cb">
                        <div class="item-left f-fl">
                            <ul>
                                <li>
                                    <i class="iconfont dy-icon-icowrongnotebook"></i>
                                    <span class="box-span-1">收集错题</span>
                                    <span class="box-span-2 f-toe" id="errors">--</span>
                                </li>
                                <li>
                                    <i class="iconfont dy-icon-icon41"></i>
                                    <span class="box-span-1">错题知识点</span>
                                    <span class="box-span-2 f-toe" id="errorKnowledge">--</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-right f-fr">
                            <!--错题收集-->
                            <div class="box-people class-people f-fr">
                                <div class="m-title f-cb">
                                    <strong>错题科目分布</strong>
                                </div>
                                <!--数据类型替换-->
                                <div class="container-box-x">
                                    <div id="container-left" style="height:220px;">
                                        <div class="dy-loading"><i></i></div>
                                    </div>
                                </div>

                            </div>
                            <!--错题收集 End-->
                        </div>
                    </div>
                    <!--模块 1 End-->
                    <!--模块 2-->
                    <div class="m-course-top f-cb">
                        <div class="item-right f-fl">
                            <!--错题收集-->
                            <div class="box-people class-people f-fr">
                                <div class="m-title f-cb">
                                    <strong>错题分析</strong>
                                </div>
                                <!--无法达到设计图统计图表要求-->
                                <div id="analysisChart">
                                    <div class="dy-loading"><i></i></div>
                                </div>
                            </div>
                            <!--错题收集 End-->
                        </div>
                        <div class="item-left f-fr">
                            <ul class="ul-item-2">
                                <li>
                                    <sapn class="title">错题下载</sapn>
                                    <div id="downloadChart">
                                        <div class="dy-loading"><i></i></div>
                                    </div>
                                </li>
                                <li>
                                    <sapn class="title">错题过关</sapn>
                                    <div id="passChart">
                                        <div class="dy-loading"><i></i></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--模块 3 End-->
                    <!--变式推送/变式下载/微课讲解/试卷下载
                        模块3
                    -->
                    <div class="m-course-3">
                        <ul class="f-cb">
                            <li class="first-item">
                                <span class="box-span-1">
                                    <i class="iconfont dy-icon-change"></i>
                                    变式推送
                                </span>
                                <span class="box-span-2 f-toe" id="variants">--</span>
                                <span class="box-span-3">任你考题百变，抓住核心考点便能取胜</span>
                            </li>
                            <li>
                                <span class="box-span-1">
                                    <i class="iconfont dy-icon-download"></i>
                                    变式下载
                                </span>
                                <span class="box-span-2 f-toe" id="variantDownload">--</span>
                                <span class="box-span-3">你的私人定制变式准备好了，快来下载</span>
                            </li>
                            <li>
                                <span class="box-span-1">
                                    <i class="iconfont dy-icon-video"></i>
                                    微课讲解
                                </span>
                                <span class="box-span-2 f-toe" id="tutors">--</span>
                                <span class="box-span-3">学习有大牛护航，一定成功</span>
                            </li>
                            <li>
                                <span class="box-span-1">
                                    <i class="iconfont dy-icon-buchongiconsvg10"></i>
                                    试卷下载
                                </span>
                                <span class="box-span-2 f-toe" id="paperDownload">--</span>
                                <span class="box-span-3">重现考试场景，为求满分而战</span>
                            </li>
                        </ul>
                    </div>
                    <!--变式推送/变式下载/微课讲解/试卷下载 End-->
                    <!--学科分布/班次分布-->
                    <div class="m-course-bottom f-cb mb20" id="subjectAnalysis"></div>
                    <!--学科分布/班次分布 End-->
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    @Html.CombineLink("v3/css/ea/ui-base.css",
    "v3/plugs/mCustomScrollbar/css/jquery.mCustomScrollbar.min.css",
    "v3/css/ea/statistics/page-learning-remedy.css")
}

@section js{
    @Html.CombineLink("js/artTemplate.min.js",
    "v3/plugs/mCustomScrollbar/jquery.mCustomScrollbar.min.js",
    "v3/plugs/highcharts/highcharts.min.js",
    "v3/plugs/highcharts/highcharts-more.min.js",
    "v3/plugs/highcharts/modules/solid-gauge.min.js",
    "v3/js/ea/statistics/page-learning-remedy.js")
}
