.dy-header,
.dy-footer {
  display: none !important;
  visibility: hidden !important;
}

.dy-main {
  padding-bottom: 0 !important;
}

.f-toe {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}