.dy-header,
.dy-footer {
  display: none !important;
  visibility: hidden !important;
}
.dy-main {
  padding-bottom: 0 !important;
}
.f-toe {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
/* Style for our header texts
	* --------------------------------------- */
.dy-wrap {
  background: url(/v3/image/index/bg0.png) repeat-y transparent;
  position: relative;
}
.introduce-oneself {
  top: 50%;
  left: 50%;
  width: 530px;
  height: 580px;
  position: absolute;
  margin-top: -290px;
  margin-left: -275px;
}
.introduce-oneself .head-title {
  margin-bottom: 40px;
  text-align: center;
}
.introduce-oneself .head-title h1 {
  font-size: 30px;
  color: #666;
  margin-bottom: 20px;
}
.introduce-oneself .head-title p {
  font-size: 18px;
  color: #999;
}
.introduce-oneself .wrap-base {
  margin-bottom: 20px;
}
.introduce-oneself .wrap-base h2 {
  color: #999;
  margin-bottom: 10px;
}
.introduce-oneself .wrap-base li {
  border: 1px solid #3bafda;
  float: left;
  color: #3bafda;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.introduce-oneself .wrap-base li:hover,
.introduce-oneself .wrap-base li.on {
  color: white;
  background: #3bafda;
}
.introduce-oneself .wrap-box-1 li,
.introduce-oneself .wrap-box-2 li {
  height: 40px;
  line-height: 40px;
}
.introduce-oneself .wrap-box-1 li:nth-child(1) {
  width: 180px;
}
.introduce-oneself .wrap-box-1 li:nth-child(2) {
  width: 140px;
}
.introduce-oneself .wrap-box-1 li:nth-child(3) {
  width: 170px;
}
.introduce-oneself .wrap-box-2 li:nth-child(1),
.introduce-oneself .wrap-box-2 li:nth-child(2) {
  width: 150px;
}
.introduce-oneself .wrap-box-2 li:nth-child(3) {
  width: 190px;
}
.introduce-oneself .wrap-box-3 {
  height: 215px;
}
.introduce-oneself .wrap-box-3 li {
  margin-bottom: 10px;
  overflow: hidden;
  width: 120px;
  text-align: center;
  position: absolute;
}
.introduce-oneself .wrap-box-3 li:nth-child(2n+1) {
  height: 120px;
  padding: 50px 15px;
}
.introduce-oneself .wrap-box-3 li:nth-child(2n) {
  height: 60px;
  padding: 20px 15px;
}
.introduce-oneself .wrap-box-3 li:nth-child(1) {
  top: 0;
  left: 0;
}
.introduce-oneself .wrap-box-3 li:nth-child(2) {
  top: 130px;
  left: 0;
}
.introduce-oneself .wrap-box-3 li:nth-child(3) {
  top: 70px;
  left: 130px;
}
.introduce-oneself .wrap-box-3 li:nth-child(4) {
  top: 0;
  left: 130px;
}
.introduce-oneself .wrap-box-3 li:nth-child(5) {
  top: 0;
  left: 260px;
}
.introduce-oneself .wrap-box-3 li:nth-child(6) {
  top: 130px;
  left: 260px;
}
.introduce-oneself .wrap-box-3 li:nth-child(7) {
  top: 70px;
  left: 390px;
}
.introduce-oneself .wrap-box-3 li:nth-child(8) {
  top: 0;
  left: 390px;
}
.introduce-oneself .wrap-box-4 li {
  height: 80px;
  line-height: 80px;
}
.introduce-oneself .wrap-box-4 li:nth-child(1) {
  width: 180px;
  padding: 19px 40px;
  line-height: 24px;
}
.introduce-oneself .wrap-box-4 li:nth-child(2) {
  width: 140px;
}
.introduce-oneself .wrap-box-4 li:nth-child(3) {
  width: 170px;
  padding: 19px 35px;
  line-height: 24px;
}
