/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2016/8/10 16:9
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
/* Style for our header texts
	* --------------------------------------- */
.w1000 {
  width: 1000px;
  margin: 0 auto;
  min-width: 1000px;
}
.dy-wrap {
  background: url(/v3/image/index/bg0.jpg) repeat-y transparent;
}
.g-top-school {
  height: 301px;
  margin-bottom: 20px;
  background: url(/v3/image/index/index-school/bg-top-school.png) no-repeat transparent;
  background-position: center center;
}
.g-top-school .school-introduce {
  padding-top: 50px;
  height: 300px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: white;
}
.g-top-school .school-introduce .school-logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 30px;
}
.g-top-school .school-introduce .school-name {
  margin-bottom: 30px;
  position: relative;
}
.g-top-school .school-introduce .school-name h2 {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 16px;
}
.g-top-school .school-introduce .school-name span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 24px;
  height: 24px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #26c8ae;
  padding: 0 5px;
  font-size: 16px;
  position: absolute;
  top: 3px;
  right: -40px;
}
.g-top-school .lick {
  position: absolute;
  color: white;
  top: 30px;
  right: 30px;
  width: 116px;
}
.g-top-school .lick dt,
.g-top-school .lick dd {
  float: left;
  margin-bottom: 7px;
  height: 25px;
  line-height: 25px;
}
.g-top-school .lick dt {
  font-size: 22px;
  border-right: 10px;
  width: 22px;
  margin-right: 10px;
}
.g-top-school .lick dd {
  width: 80px;
  text-align: left;
  overflow: hidden;
}
.g-content-school .m-mainc {
  width: 700px;
}
.g-content-school .m-side {
  width: 280px;
}
.sticker,
.hot-topic,
.other-teachers {
  background: white;
  padding: 15px 20px;
  position: relative;
  margin-bottom: 20px;
}
.sticker .titile,
.hot-topic .titile,
.other-teachers .titile {
  margin-bottom: 20px;
}
.sticker .titile h2,
.hot-topic .titile h2,
.other-teachers .titile h2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  color: #666;
}
.sticker .titile .text,
.hot-topic .titile .text,
.other-teachers .titile .text {
  color: #999999;
}
.sticker {
  height: 280px;
}
.sticker > .content li {
  width: 330px;
  float: left;
  height: 105px;
}
.sticker > .content li:nth-child(1) {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.sticker > .content li:nth-child(1) .box1 b {
  color: #ef6757;
}
.sticker > .content li:nth-child(2) {
  border-bottom: 1px solid #eee;
}
.sticker > .content li:nth-child(2) .box1 b {
  color: #3bafda;
}
.sticker > .content li:nth-child(3) {
  border-right: 1px solid #eee;
}
.sticker > .content li:nth-child(3) .box1 b {
  color: #20c8ae;
}
.sticker > .content li:nth-child(4) .box1 b {
  color: #666666;
}
.sticker > .content li > a {
  width: 329px;
  height: 90px;
  display: block;
  padding-top: 14px;
  -moz-transition: all 0.1s ease 0s,;
  -webkit-transition: all 0.1s ease 0s,;
  -o-transition: all 0.1s ease 0s,;
  -ms-transition: all 0.1s ease 0s,;
  transition: all 0.1s ease 0s,;
  -moz-transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.sticker > .content li > a:hover strong,
.sticker > .content li > a:hover em {
  color: #3bafda;
}
.sticker > .content li > a > div {
  float: left;
}
.sticker > .content li .box1 {
  width: 75px;
  position: relative;
  padding-left: 16px;
}
.sticker > .content li .box1 .d-user {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}
.sticker > .content li .box1 b {
  font-weight: bold;
  color: #ef6757;
}
.sticker > .content li .box2 {
  width: 60px;
}
.sticker > .content li .box2 strong {
  color: #666;
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sticker > .content li .box2 em {
  font-size: 12px;
  color: #999;
  display: block;
}
.sticker > .content li .box3 {
  width: 194px;
}
.sticker .sort-sticker dl {
  margin-bottom: 10px;
}
.sticker .sort-sticker dt,
.sticker .sort-sticker dd {
  float: left;
  height: 20px;
  line-height: 20px;
}
.sticker .sort-sticker dt {
  color: white;
  font-size: 12px;
  padding: 0 10px;
  margin-right: 15px;
  overflow: hidden;
}
.sticker .sort-sticker dd {
  font-size: 14px;
  font-weight: bold;
}
.sticker .sort-sticker dd span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: right;
  width: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.sticker .sort-sticker dd .iconfont {
  margin-left: 5px;
  position: relative;
  top: -4px;
}
.sticker .sort-sticker .bg0 dt,
.sticker .sort-sticker .bg1 dt,
.sticker .sort-sticker .bg2 dt {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.sticker .sort-sticker .bg0 dt {
  background: #41aed6;
}
.sticker .sort-sticker .bg0 dd {
  color: #41aed6;
}
.sticker .sort-sticker .bg1 dt {
  background: #26c8ae;
}
.sticker .sort-sticker .bg1 dd {
  color: #26c8ae;
}
.sticker .sort-sticker .bg2 dt {
  background: #ffbe4e;
}
.sticker .sort-sticker .bg2 dd {
  color: #ffbe4e;
}
/* 热门语录 */
.hot-topic-content .hot-list {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.hot-topic-content .hot-list:last-child {
  border-bottom: none;
}
.hot-topic-content .hd {
  width: 45px;
  margin-right: 15px;
}
.hot-topic-content .hd a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: white;
  border: 1px solid #41aed6;
  font-weight: bold;
  color: #41aed6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.hot-topic-content .hd a.supported {
  border: 1px solid #41aed6;
  background: #41aed6;
  color: white;
  cursor: default;
}
.hot-topic-content .hd span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 0px;
  height: 24px;
  line-height: 24px;
  padding: 0 0 0 5px;
  width: 29px;
  overflow: hidden;
  float: left;
  text-align: center;
}
.hot-topic-content .hd .iconfont {
  font-size: 12px;
  position: relative;
  top: 4px;
}
.hot-topic-content .main {
  width: 600px;
}
.hot-topic-content .main .tt {
  margin-bottom: 15px;
}
.hot-topic-content .main .tt b,
.hot-topic-content .main .tt .name {
  font-weight: bold;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
}
.hot-topic-content .main .tt b {
  color: #999;
  margin-right: 5px;
}
.hot-topic-content .main .tt .name {
  color: #3bafda;
}
.hot-topic-content .main .tt .name:hover {
  color: #4fc1e9;
}
.hot-topic-content .main .tt span {
  float: right;
  color: #999;
}
.hot-topic-content .main .hot-content {
  color: #333;
  line-height: 1.6em;
}
.hot-topic-content .hot-btn {
  text-align: center;
}
.hot-topic-content .hot-btn a {
  color: #3bafda;
}
.hot-topic-content .hot-btn a:hover {
  color: #4fc1e9;
}
.hot-topic-content .hot-btn a i.iconfont {
  margin-left: 5px;
}
.other-teachers .new-actives .tab-hd {
  height: 0;
}
/* 选项卡 */
.new-actives {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  position: relative;
  zoom: 1;
}
.new-actives .tab-hd {
  height: 29px;
  margin-bottom: -1px;
  color: #404040;
}
.new-actives .step {
  right: 13px;
  top: -45px;
  margin-top: 7px;
}
.new-actives .step a {
  background-color: #fff;
}
.new-actives .pageState {
  position: absolute;
  padding: 4px 10px 0 94px;
  top: -43px;
  right: 44px;
}
.new-actives .pageState span {
  font-weight: bold;
  color: #f60;
}
.new-actives .tab-bd {
  overflow: hidden;
}
.new-actives .tab-bd li {
  height: 55px;
  overflow: hidden;
  float: left;
  width: 108px;
  position: relative;
  margin: 0 12px;
}
.new-actives .tab-bd ul {
  overflow: hidden;
}
.new-actives .tab-bd li a {
  height: 50px;
  display: block;
}
.new-actives .arrow,
.arrow s {
  position: absolute;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: dashed 8px;
}
.new-actives .arrow-rthin,
.arrow-rthin s {
  border-color: transparent transparent transparent #666;
  border-left-style: solid;
}
.new-actives .arrow-rthin s {
  border-left-color: #FAFAFA;
  left: -10px;
  top: -8px;
}
.new-actives .arrow-lthin,
.arrow-lthin s {
  border-color: transparent #666 transparent transparent;
  border-right-style: solid;
}
.new-actives .arrow-lthin s {
  border-right-color: #fff;
  right: -10px;
  top: -8px;
}
.new-actives .step {
  position: absolute;
  padding-left: 1px;
}
.new-actives .step a {
  float: left;
  width: 14px;
  height: 12px;
  margin-left: 12px;
}
.new-actives .step .arrow-rthin {
  right: 2px;
  top: 3px;
}
.new-actives .step .arrow-lthin {
  left: 2px;
  top: 3px;
}
.new-actives .step s {
  cursor: pointer;
}
.new-actives .step a:hover .arrow-rthin {
  border-left-color: #3bafda;
}
.new-actives .step a:hover .arrow-lthin {
  border-right-color: #3bafda;
}
.new-actives .step a.prevStop,
.new-actives .step a.nextStop {
  filter: alpha(opacity=60);
  opacity: 0.6;
  cursor: auto;
}
.tab-bd-in li {
  width: 105px;
  float: left;
  height: 105px;
  padding: 7px 0;
}
.tab-bd-in li > a {
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.tab-bd-in li > a:hover strong,
.tab-bd-in li > a:hover em {
  color: #3bafda;
}
.tab-bd-in li > a > div {
  float: left;
}
.tab-bd-in li .box1 {
  width: 46px;
  position: relative;
}
.tab-bd-in li .box1 img {
  display: block;
  margin-bottom: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.tab-bd-in li .box1 i {
  position: absolute;
  background: url(/v3/image/index/v16x16.png) no-repeat transparent;
  width: 16px;
  height: 16px;
  display: block;
  top: 21px;
  left: 22px;
}
.tab-bd-in li .box1 b {
  color: #ef6757;
  font-weight: bold;
}
.tab-bd-in li .box2 {
  width: 60px;
}
.tab-bd-in li .box2 strong {
  color: #666;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  height: 15px;
}
.tab-bd-in li .box2 em {
  font-size: 12px;
  color: #999;
  display: block;
}
.tab-bd-in li .box3 {
  width: 194px;
}
#div {
  width: 400px;
  height: 220px;
  background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 230px, rgba(255, 255, 255, 0.1) 260px, rgba(255, 255, 255, 0.1) 270px, rgba(255, 255, 255, 0) 300px, rgba(255, 255, 255, 0) 310px) no-repeat -270px 0, url(http://www.zaole.net/11.jpg) no-repeat;
  transition: 1s;
}
#div:hover {
  background-position: 200px 0,0 0;
}
.page-course {
  width: 280px;
  height: 280px;
  background: url(/v3/image/index/index-school/course.png) no-repeat transparent;
}
.page-course a {
  display: block;
  height: 100%;
  width: 100%;
}
.relation,
.recent-visit,
.often {
  padding: 15px;
  margin-bottom: 20px;
  background: white;
}
.relation h2.title,
.recent-visit h2.title,
.often h2.title {
  color: #666;
  font-weight: bold;
  font-size: 16px;
  padding-left: 15px;
  border-left: 5px solid #ed5565;
  margin-bottom: 15px;
  margin-left: -15px;
}
.often {
  height: 240px;
  overflow: hidden;
}
.often .content {
  padding-left: 8px;
}
.often .content li {
  margin-bottom: 20px;
}
.often .content li a:hover p {
  color: #4fc1e9;
}
.often .content li span {
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  background: #eeeeee;
  color: #666;
  float: left;
}
.often .content li p {
  overflow: hidden;
  float: left;
  width: 216px;
  height: 15px;
}
.often .content li:nth-child(1) span {
  background: #ed5565;
  color: white;
}
.often .content li:nth-child(2) span {
  background: #3bafda;
  color: white;
}
.often .content li:nth-child(3) span {
  background: #20c8ae;
  color: white;
}
.relation {
  height: 280px;
}
.relation .box0 {
  height: 229px;
  position: relative;
  background: url(/v3/image/index/index-school/side-bg.png) no-repeat transparent;
}
.relation .user {
  position: absolute;
  top: 0;
  left: 19px;
}
.relation .user .d-user {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.relation .user span {
  float: left;
  position: relative;
  top: 14px;
  color: #666;
}
.relation .state {
  position: absolute;
  top: 62px;
  left: 63px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 5px;
  background: white;
  color: #3bafda;
}
.relation .state.b-add-relation {
  cursor: pointer;
}
.relation .classmate {
  position: absolute;
  color: #999;
  top: 100px;
  left: 133px;
}
.relation .classmate span {
  color: #ef6757;
}
.relation .school-name {
  position: absolute;
  bottom: 14px;
  right: 20px;
  color: #666;
  text-align: center;
}
.relation .school-name img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  top: -53px;
  right: 18px;
  background-color: white;
}
.relation .school-name > div {
  width: 224px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  height: 15px;
  padding-right: 7px;
  text-align: right;
}
.relation .box1 {
  text-align: center;
}
.relation .box1 .password {
  color: #eee;
  font-size: 110px;
  margin-bottom: 20px;
}
.relation .box1 p {
  color: #666;
  text-align: center;
  margin: 20px 0;
}
.relation .box1 a {
  color: #3bafda;
}
.relation .box1 a:hover {
  color: #4fc1e9;
}
.relation-wrap .status-list {
  float: left;
  margin: 20px 0;
  width: 100%;
}
.relation-wrap .status-list > li {
  border: 1px solid #4fc1e9;
  color: #4fc1e9;
  border-radius: 4px;
  float: left;
  margin: 0 8px;
  padding: 6px 12px;
  cursor: pointer;
}
.relation-wrap .status-list > li.selected,
.relation-wrap .status-list > li:hover {
  background-color: #4fc1e9;
  color: #fff;
}
.relation-wrap .status-list > li.selected {
  cursor: default;
}
.relation-wrap .status-time {
  float: left;
  width: 100%;
}
.relation-wrap .status-time .d-time {
  margin: 0 8px;
  text-align: center;
  width: 100px;
}
.school-name .content {
  padding-left: 8px;
}
.school-name .content li {
  margin-bottom: 20px;
}
.school-name .content li a:hover p {
  color: #4fc1e9;
}
.school-name .content li span {
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  background: #eeeeee;
  color: #666;
  float: left;
}
.school-name .content li p {
  overflow: hidden;
  float: left;
  width: 216px;
  height: 15px;
}
.school-name .content li:nth-child(1) span {
  background: #ed5565;
  color: white;
}
.school-name .content li:nth-child(2) span {
  background: #3bafda;
  color: white;
}
.school-name .content li:nth-child(3) span {
  background: #20c8ae;
  color: white;
}
.pop-addRelation {
  width: 320px;
  padding: 20px;
  background: white;
}
.pop-addRelation .list-checkbox li {
  margin: 0 5px 10px;
  border: 1px solid #3bafda;
  color: #3bafda;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.pop-addRelation .list-checkbox li.on,
.pop-addRelation .list-checkbox li:hover {
  background: #3bafda;
  color: white;
}
.pop-addRelation .btn {
  padding-right: 5px;
}
.pop-addRelation .btn button {
  height: 24px;
}
.pop-addRelation .btn button:nth-child(1) {
  margin-right: 10px;
}
