/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2016/8/15 12:9
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
.dy-btn-grey {
  color: #999;
}
.dy-btn-grey:hover {
  color: #999;
}
/* Style for our header texts
	* --------------------------------------- */
.w1000 {
  width: 1000px;
  margin: 0 auto;
  min-width: 1000px;
}
.small-class {
  background: #ffbe4e;
}
.in-class {
  background: #48cfad;
}
.high-class {
  background: #f37c88;
}
/*年级分段颜色*/
.fenduan .class-bg0 {
  background: #ffbe4e;
}
.fenduan .class-bg1 {
  background: #48cfad;
}
.fenduan .class-bg2 {
  background: #f37c88;
}
.stage-1,
.stage-2,
.stage-3 {
  color: #fff;
  margin-right: 4px;
  padding: 2px 5px 0;
  font-size: 12px;
}
.stage-1 {
  background: #ffbe4e;
}
.stage-2 {
  background: #48cfad;
}
.stage-3 {
  background: #f37c88;
}
/*贴纸组件*/
.sticker-lists {
  margin-bottom: 20px;
  position: relative;
}
.sticker-lists .box0,
.sticker-lists .box1 {
  position: relative;
  z-index: 1;
  background: white;
}
.sticker-lists .box0 {
  margin-right: 20px;
  margin-bottom: 15px;
}
.sticker-lists .box1 {
  padding: 0 10px;
}
.sticker-lists .bg-base {
  height: 26px;
  line-height: 26px;
  background: #666;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -o-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: white;
  padding: 0 9px;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.sticker-lists .bg-base i {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 13px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  background: #666;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  display: none;
}
.sticker-lists .bg0 .bg-base {
  background: #26c8ae;
}
.sticker-lists .bg0 .bg-base:hover {
  background: #07bfc8;
  cursor: pointer;
}
.sticker-lists .bg0 .bg-base:hover i {
  background: #07bfc8;
  display: block;
}
.sticker-lists .bg0 .bg-base i {
  background: #26c8ae;
}
.sticker-lists .bg1 .bg-base {
  background: #ffbf4e;
}
.sticker-lists .bg1 .bg-base:hover {
  background: #ffb10b;
  cursor: pointer;
}
.sticker-lists .bg1 .bg-base:hover i {
  background: #ffb10b;
  display: block;
}
.sticker-lists .bg1 .bg-base i {
  background: #ffbf4e;
}
.sticker-lists .bg2 .bg-base {
  background: #3fafd8;
}
.sticker-lists .bg2 .bg-base:hover {
  background: #1095d8;
  cursor: pointer;
}
.sticker-lists .bg2 .bg-base:hover i {
  background: #1095d8;
  display: block;
}
.sticker-lists .bg2 .bg-base i {
  background: #3fafd8;
}
.vip-icon {
  background: url(/v3/image/index/v16x16.png) no-repeat transparent;
  width: 16px;
  height: 16px;
  display: block;
  bottom: 0;
  right: 0;
  position: absolute;
  top: 23px;
  left: 22px;
  overflow: hidden;
  text-indent: 9999px;
}
.vip-icon-head {
  width: 24px;
  height: 24px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(/v3/image/index/v24x24.png) no-repeat transparent;
  overflow: hidden;
  text-indent: 9999px;
  position: absolute;
  bottom: 34px;
  right: 22px;
}
.hot-topic,
.my-history,
.sticker,
.sticker-show {
  background: white;
  padding: 15px 20px;
  position: relative;
  margin-bottom: 20px;
}
.hot-topic .titile,
.my-history .titile,
.sticker .titile,
.sticker-show .titile {
  margin-bottom: 20px;
}
.hot-topic .titile h2,
.my-history .titile h2,
.sticker .titile h2,
.sticker-show .titile h2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  color: #666;
}
.hot-topic .titile h2 small,
.my-history .titile h2 small,
.sticker .titile h2 small,
.sticker-show .titile h2 small {
  color: #999;
  font-size: 80%;
  font-weight: normal;
  margin-left: 20px;
}
.hot-topic .titile strong,
.my-history .titile strong,
.sticker .titile strong,
.sticker-show .titile strong {
  font-weight: bold;
}
.hot-topic .titile .text,
.my-history .titile .text,
.sticker .titile .text,
.sticker-show .titile .text {
  color: #999;
}
.hot-topic .pop-text,
.my-history .pop-text,
.sticker .pop-text,
.sticker-show .pop-text {
  float: right;
}
.hot-btn,
.sticker-btn {
  text-align: center;
}
.hot-btn a,
.sticker-btn a {
  color: #3bafda;
}
.hot-btn a:hover,
.sticker-btn a:hover {
  color: #4fc1e9;
}
.hot-btn a i.iconfont,
.sticker-btn a i.iconfont {
  margin-left: 5px;
}
.sticker-show {
  border-top: 2px solid #3bafda;
}
.sticker-show .dy-result {
  margin-bottom: 5px;
}
.sticker-show .close {
  float: right;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}
.sticker-show .close:hover {
  color: #737373;
}
.sticker-show .sticker-lists {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 14px 9px 0;
}
.sticker-show .sticker-lists .last {
  height: 26px;
  line-height: 26px;
  color: #999;
  cursor: pointer;
}
.sticker-show .sticker-lists .last:hover {
  color: #737373;
}
.sticker-show .hot-text {
  margin-bottom: 5px;
}
.sticker-show .hot-text .box1 {
  color: #999;
  width: 80px;
}
.sticker-show .hot-text .box2 {
  width: 580px;
}
.sticker-show .hot-text .box2 li {
  background: #eeeeee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #666;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 20px;
  margin: 0 5px 10px 5px;
  float: left;
}
.sticker-show .hot-text .box2 li:hover {
  background: #d4d2d2;
  cursor: pointer;
}
.sticker-show .dy-btn {
  margin: 0 10px;
  height: 30px;
}
.sticker-show-pop {
  width: 700px;
  background: white;
  padding: 20px;
}
.sticker-show-pop .title {
  margin-bottom: 15px;
  color: #999;
}
.sticker-show-pop .dy-result {
  margin-bottom: 5px;
}
.sticker-show-pop .btn .dy-btn {
  height: 30px;
}
.sticker-show-pop .btn .dy-btn:nth-child(1) {
  margin-right: 10px;
}
.sticker-show-pop .hot-text {
  margin-bottom: 5px;
}
.sticker-show-pop .hot-text .box1 {
  color: #999;
  width: 80px;
}
.sticker-show-pop .hot-text .box2 {
  width: 580px;
}
.sticker-show-pop .hot-text .box2 li {
  background: #eeeeee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #666;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 20px;
  margin: 0 5px 10px 5px;
  float: left;
}
.sticker-show-pop .hot-text .box2 li:hover {
  background: #d4d2d2;
  cursor: pointer;
}
.sticker {
  z-index: 6;
}
.sticker .dy-result {
  margin-bottom: 5px;
}
.sticker .hot-text {
  margin-bottom: 5px;
}
.sticker .hot-text .box1 {
  color: #999;
  width: 80px;
}
.sticker .hot-text .box2 {
  width: 580px;
}
.sticker .hot-text .box2 li {
  background: #eeeeee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #666;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 20px;
  margin: 0 5px 10px 5px;
  float: left;
}
.sticker .hot-text .box2 li:hover {
  background: #d4d2d2;
  cursor: pointer;
}
.sticker .dy-btn {
  margin: 0 10px;
  height: 30px;
}
.sticker-list {
  margin-bottom: 20px;
  position: relative;
}
.sticker-list.on {
  z-index: 10;
}
.sticker-list .box0,
.sticker-list .box1 {
  position: relative;
  z-index: 1;
  background: white;
}
.sticker-list .box0 {
  margin-right: 10px;
}
.sticker-list .box1 {
  padding: 0 10px;
}
.sticker-list .hr {
  width: 100%;
  position: absolute;
  top: 13px;
  left: 0;
  border-bottom: 1px solid #eee;
}
.sticker-list .bg-base {
  height: 26px;
  line-height: 26px;
  background: #666;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -o-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: white;
  margin-right: 10px;
  padding: 0 10px !important;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.sticker-list .bg-base i {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 13px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  border: 1px solid white;
  cursor: pointer;
}
.sticker-list .text {
  font-weight: bold;
  cursor: pointer;
}
.sticker-list .hd {
  text-align: center;
}
.sticker-list .hd a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 53px;
  background: white;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.sticker-list .hd span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
}
.sticker-list .hd .iconfont {
  font-size: 12px;
}
.sticker-list .hd .supported {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 53px;
  background: white;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: white;
}
.sticker-list .bg0 .bg-base {
  background: #26c8ae;
}
.sticker-list .bg0 .bg-base:hover {
  background: #07bfc8;
  cursor: pointer;
}
.sticker-list .bg0 .bg-base:hover i {
  background: #07bfc8;
  display: block;
}
.sticker-list .bg0 .bg-base i {
  background: #26c8ae;
}
.sticker-list .bg0 .text {
  color: #26c8ae;
}
.sticker-list .bg0 .b-support {
  border: 1px solid #26c8ae;
  color: #26c8ae;
}
.sticker-list .bg0 .supported {
  border: 1px solid #26c8ae;
  background: #26c8ae;
}
.sticker-list .bg1 .bg-base {
  background: #ffbf4e;
}
.sticker-list .bg1 .bg-base:hover {
  background: #ffb10b;
  cursor: pointer;
}
.sticker-list .bg1 .bg-base:hover i {
  background: #ffb10b;
  display: block;
}
.sticker-list .bg1 .bg-base i {
  background: #ffbf4e;
}
.sticker-list .bg1 .text {
  color: #ffbf4e;
}
.sticker-list .bg1 .b-support {
  border: 1px solid #ffbf4e;
  color: #ffbf4e;
}
.sticker-list .bg1 .supported {
  border: 1px solid #ffbf4e;
  background: #ffbf4e;
}
.sticker-list .bg2 .bg-base {
  background: #3fafd8;
}
.sticker-list .bg2 .bg-base:hover {
  background: #1095d8;
  cursor: pointer;
}
.sticker-list .bg2 .bg-base:hover i {
  background: #1095d8;
  display: block;
}
.sticker-list .bg2 .bg-base i {
  background: #3fafd8;
}
.sticker-list .bg2 .text {
  color: #3fafd8;
}
.sticker-list .bg2 .b-support {
  border: 1px solid #3fafd8;
  color: #3fafd8;
}
.sticker-list .bg2 .supported {
  border: 1px solid #3fafd8;
  background: #3fafd8;
}
.sticker-list .user-img-list a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  float: left;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.sticker-list .user-img-list a img {
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.sticker-list .user-img-list a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.sticker-list .sticker-list-pop {
  position: relative;
}
.sticker-list .sticker-list-pop > .iconfont {
  color: #d4d4d4;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.sticker-list .pop-cont {
  border: 1px solid #cccccc;
  width: 350px;
  position: absolute;
  top: 36px;
  right: -18px;
  background: white;
  display: none;
}
.sticker-list .pop-cont:after {
  content: '';
  position: absolute;
  top: -6px;
  right: 20px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed dashed solid dashed;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #fff transparent;
}
.sticker-list .pop-cont:before {
  content: '';
  position: absolute;
  top: -7px;
  right: 20px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed dashed solid dashed;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}
.sticker-list .pop-cont > h2 {
  font-size: 16px;
  color: #666;
  height: 50px;
  line-height: 25px;
  padding: 12.5px 55px 12.5px 15px;
}
.sticker-list .pop-cont > h2 .d-user {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  width: 30px;
}
.sticker-list .pop-cont > .close {
  font-size: 20px;
  color: #a3a3a3;
  position: absolute;
  top: 13px;
  right: 13px;
}
.sticker-list .pop-cont > .close:hover {
  color: #666;
  cursor: pointer;
}
.sticker-list .pop-cont > p {
  background: #eeeeee;
  height: 40px;
  line-height: 40px;
  color: #666;
  padding: 0 15px;
}
.sticker-list .pop-cont > p b {
  font-weight: bold;
}
.sticker-list .list-wrap {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sticker-list .ul-name-list {
  padding: 0 15px 15px;
}
.sticker-list .ul-name-list > li {
  position: relative;
  padding: 10px 10px 10px 56px;
  border-bottom: 1px solid #eee;
}
.sticker-list .ul-name-list > li:last-child {
  border-bottom: none;
}
.sticker-list .ul-name-list > li .d-user-wrap {
  height: 36px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 36px;
}
.sticker-list .ul-name-list > li strong {
  display: block;
  margin-bottom: 9px;
  color: #666;
}
.sticker-list .ul-name-list > li p {
  color: #999;
  font-size: 12px;
}
.sticker-list .ul-name-list > li a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.sticker-list .ul-name-list > li a:hover strong,
.sticker-list .ul-name-list > li a:hover p {
  color: #4fc1e9;
}
.hot-topic-content .hot-list {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.hot-topic-content .hot-list:last-child {
  border-bottom: none;
}
.hot-topic-content .hd {
  width: 53px;
  margin-right: 15px;
  text-align: center;
}
.hot-topic-content .hd a {
  display: block;
  background: white;
  border: 1px solid #41aed6;
  font-weight: bold;
  color: #41aed6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.hot-topic-content .hd span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
}
.hot-topic-content .hd .iconfont {
  font-size: 12px;
}
.hot-topic-content .main {
  width: 592px;
}
.hot-topic-content .main .tt {
  margin-bottom: 15px;
}
.hot-topic-content .main .tt b,
.hot-topic-content .main .tt .name {
  font-weight: bold;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
}
.hot-topic-content .main .tt b {
  color: #999;
  margin-right: 5px;
}
.hot-topic-content .main .tt .name {
  color: #3bafda;
}
.hot-topic-content .main .tt .name:hover {
  color: #4fc1e9;
}
.hot-topic-content .main .tt .d-action {
  float: right;
  height: 20px;
  line-height: 20px;
}
.hot-topic-content .main .tt .d-action span {
  color: #999;
}
.hot-topic-content .main .tt .d-action i {
  color: #ed5565;
  margin-right: 10px;
  cursor: pointer;
}
.hot-topic-content .main .hot-content {
  color: #333;
  line-height: 1.6em;
}
.hot-topic-content .supported {
  font-weight: 600;
  border: 1px solid #41aed6;
  background: #41aed6;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.hot-topic-pop {
  width: 700px;
  background: white;
  padding: 20px;
}
.hot-topic-pop .title {
  margin-bottom: 15px;
  color: #999;
}
.hot-topic-pop .dy-result {
  margin-bottom: 15px;
}
.hot-topic-pop .btn .dy-btn {
  height: 30px;
}
.hot-topic-pop .btn .dy-btn:nth-child(1) {
  margin-right: 10px;
}
.my-history .process-timeline {
  content: "";
  margin-left: 0;
  background: url(/v3/image/index/my-history.png) repeat-x transparent;
  height: 124px;
  background-position: center center;
  display: block;
}
.my-history .process-row {
  display: inline-block;
  width: 220px;
  float: left;
  margin: 0;
  position: relative;
  height: 124px;
  overflow: hidden;
}
.my-history .process-row .process-time {
  position: absolute;
  top: 42%;
  left: 35.5%;
}
.my-history .process-row .process-time .time-con {
  position: relative;
  text-align: center;
}
.my-history .process-row .process-time .time-con .pic {
  font-size: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 0 3px;
  position: absolute;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  z-index: 1;
  width: 34px;
  top: 47px;
  text-align: left;
  overflow: hidden;
  left: 7px;
  height: 16px;
  line-height: 16px;
  color: #999;
  border: 1px solid #ccc;
}
.my-history .process-row .process-time .time-con .school-name {
  position: absolute;
  z-index: 10;
  font-size: 16px;
  top: 26px;
  width: 138px;
  font-weight: 700;
  text-align: left;
  padding: 0 5px 0;
  height: 18px;
  overflow: hidden;
}
.my-history .process-row .process-time .time-con .school-name a {
  color: #666;
}
.my-history .process-row .process-time .time-con .logoimg {
  position: absolute;
  margin-top: 29px;
  margin-left: -44px;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.my-history .process-row .process-noyear {
  position: absolute;
  top: 17%;
  width: 200px;
  text-align: center;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
}
.my-history .process-row .process-noyear span {
  background: #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
}
.my-history .process-row .process-noyear span:before {
  content: ' ';
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: solid dashed dashed dashed;
  border-width: 8px 8px 0 8px;
  border-color: #ccc transparent transparent;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
}
.my-history .process-row .process-noyear span:after {
  content: ' ';
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #ccc;
}
.my-history .process-row .process-content {
  padding-bottom: 40px;
}
.my-history .process-row .process-content h2 {
  font-size: 16px;
  text-align: center;
}
.my-history .process-row .process-content p {
  text-indent: 0 !important;
  font-size: 14px !important;
  height: 180px;
  overflow: hidden;
  color: #888;
  white-space: normal;
}
.my-history .process-row:nth-child(even) .process-time {
  top: -16%;
}
.my-history .process-row:nth-child(even) .process-noyear {
  top: 64%;
}
.my-history .process-row:nth-child(even) .process-noyear span:before {
  bottom: 22px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed dashed solid dashed;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ccc transparent;
}
.my-history .process-row:nth-child(even) .process-noyear span:after {
  bottom: 36px;
}
.my-history .process-row:last-child .process-noyear span {
  background: #3bafda;
}
.my-history .process-row:last-child .process-noyear span:before {
  border-color: #3bafda transparent transparent;
}
.my-history .process-row:last-child .process-noyear span:after {
  background: #3bafda;
}
.my-history .process-row:last-child .time-con .school-name a {
  color: #3bafda;
}
.my-history .process-row .no-direction {
  text-align: center;
  top: 50px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #eee;
  color: #999;
  font-weight: bold;
  position: absolute;
  width: 150px;
  height: 24px;
  line-height: 24px;
}
.my-history .process-row .no-direction a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 8px;
}
.my-history .process-row .time-con .pic {
  color: #999;
  border: 1px solid #ccc;
}
.my-history .process-row.d-target .process-noyear .iconfont {
  margin: 0 5px 0 10px;
}
.my-history .process-row.d-target .process-noyear span {
  background: #f37c88;
}
.my-history .process-row.d-target .process-noyear span:before {
  border-color: transparent transparent #f37c88 transparent;
}
.my-history .process-row.d-target .process-noyear span:after {
  background: #f37c88;
}
.my-history .process-row.d-target .time-con .school-name a {
  color: #666;
}
.my-history .process-row.d-current .process-noyear span {
  background: #3bafda;
}
.my-history .process-row.d-current .process-noyear span:before {
  border-color: #3bafda transparent transparent;
}
.my-history .process-row.d-current .process-noyear span:after {
  background: #3bafda;
}
.my-history .process-row.d-current .time-con .school-name a {
  color: #666;
}
.recent-visit,
.user-tool,
.famous-teacher,
.my-group,
.sinterest-student,
.often {
  padding: 15px;
  margin-bottom: 20px;
  background: white;
}
.recent-visit h2.title,
.user-tool h2.title,
.famous-teacher h2.title,
.my-group h2.title,
.sinterest-student h2.title,
.often h2.title {
  color: #666;
  font-weight: bold;
  font-size: 16px;
  padding-left: 15px;
  border-left: 5px solid #ed5565;
  margin-bottom: 15px;
  margin-left: -15px;
}
.my-group .new-actives {
  height: auto;
}
.my-group .new-actives .tab-bd {
  height: auto;
}
.my-group .new-actives .tab-bd ul {
  height: auto;
}
.my-group .note-group {
  margin-top: 53px;
}
.my-group .note-group .dy-icon-none {
  font-size: 50px;
  margin-bottom: 30px;
  color: #dcdcdc;
  display: block;
}
.my-group .note-group P {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
}
.my-group .note-group .btn a:nth-child(1) {
  margin-right: 20px;
}
.my-group .bottom a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 20px;
}
.user-tool {
  background: white;
  padding: 20px 15px;
}
.user-tool .ul-list li {
  float: left;
  width: 82px;
}
.user-tool .ul-list li a {
  border: 1px solid #fff;
  -moz-transition: all 0.2s ease,;
  -webkit-transition: all 0.2s ease,;
  -o-transition: all 0.2s ease,;
  -ms-transition: all 0.2s ease,;
  transition: all 0.2s ease,;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #999;
  text-align: center;
  display: block;
  padding: 15px 0;
  /**
        0. dy-icon-report-center  报表  教师 ||  学生
        1.Student
          dy-icon-edit           考试中心
          dy-icon-chujuan        错题库
         2.teacher
           dy-icon-marking-center     批阅中心
           dy-icon-shijuanku          试卷库
           dy-icon-book-online        在线出卷
        **/
}
.user-tool .ul-list li a span {
  display: block;
  margin-top: 15px;
}
.user-tool .ul-list li a:hover span {
  color: #4fc1e9;
}
.user-tool .ul-list li a .iconfont {
  font-size: 24px;
  color: white;
  position: relative;
  -webkit-font-smoothing: none;
  -webkit-text-stroke-width: 0;
}
.user-tool .ul-list li a .iconfont:before {
  position: relative;
  z-index: 2;
}
.user-tool .ul-list li a .iconfont:after {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -8px;
  left: -9px;
  content: '';
  z-index: 1;
  background: #4fc1e9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user-tool .ul-list li a .dy-icon-marking-center:after {
  background: #48cfad;
}
.user-tool .ul-list li a .dy-icon-shijuanku:after {
  background: #fc6e51;
}
.user-tool .ul-list li a .dy-icon-educational-management:after {
  background: #3bafda;
}
.user-tool .ul-list li a .dy-icon-edit:after {
  background: #3bafda;
}
.user-tool .ul-list li a .dy-icon-chujuan:after {
  background: #48cfad;
}
.user-tool .ul-list li a .dy-icon-xuexi:after {
  background: #48cfad;
}
.user-tool .ul-list li a .dy-icon-report-center:after {
  background: #fc6e51;
}
.user-tool .ul-list li a .dy-icon-book-online:after {
  background: #ffbf4e;
}
.user-tool .ul-list li a .dy-icon-shijuanku:after {
  background: #f78d5e;
}
.recent-visit h2.title {
  margin-bottom: 10px;
}
.recent-visit .content a {
  display: block;
  height: 36px;
  width: 36px;
  float: left;
  margin: 10px 7px;
  position: relative;
}
.recent-visit .content img {
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.sinterest-student .content a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 50px;
}
.sinterest-student .content a img {
  display: block;
  margin: 0 auto 10px;
}
.sinterest-student .content a span {
  display: block;
  color: #666;
  text-align: center;
}
.often {
  height: 240px;
  overflow: hidden;
}
.often .content {
  padding-left: 8px;
}
.often .content li {
  margin-bottom: 20px;
}
.often .content li a:hover p {
  color: #4fc1e9;
}
.often .content li span {
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  background: #eeeeee;
  color: #666;
  float: left;
}
.often .content li p {
  overflow: hidden;
  float: left;
  width: 216px;
  height: 15px;
}
.often .content li:nth-child(1) span {
  background: #ed5565;
  color: white;
}
.often .content li:nth-child(2) span {
  background: #3bafda;
  color: white;
}
.often .content li:nth-child(3) span {
  background: #20c8ae;
  color: white;
}
.my-history-pop {
  background: white;
  width: 450px;
  max-height: 400px;
  overflow-y: auto;
  padding: 15px 30px;
}
.my-history-pop .con-list {
  margin-bottom: 15px;
  position: relative;
  padding-left: 45px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.my-history-pop .con-list:first-child {
  border-width: 2px;
  border-color: #3bafda;
}
.my-history-pop .con-list:last-child {
  border-bottom: none;
}
.my-history-pop .con-list img {
  position: absolute;
  top: 10px;
  left: 0;
}
.my-history-pop .con-list .current-class {
  float: right;
  font-weight: normal;
  position: absolute;
  top: 6px;
  right: 2px;
}
.my-history-pop .con-list .current-class .iconfont {
  margin: 0 0 0 15px;
}
.my-history-pop .con-list .current-class li {
  float: left;
  position: relative;
  top: 6px;
  color: #d0d0d0;
  cursor: pointer;
}
.my-history-pop .con-list .current-class li.on,
.my-history-pop .con-list .current-class li:hover {
  color: #3bafda;
}
.my-history-pop .con-list strong,
.my-history-pop .con-list span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.my-history-pop .con-list span.name {
  width: 166px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.my-history-pop .con-list .head-text {
  color: #666666;
  font-weight: bold;
  margin-right: 10px;
}
.my-history-pop .con-list .school-name {
  color: #666;
  margin-right: 10px;
  height: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 18px;
  max-width: 10em;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.my-history-pop .con-list .xue-duan {
  font-weight: normal;
  position: relative;
  top: 0;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 0 3px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  z-index: 1;
  width: 34px;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}
.my-history-pop .con-list .d-current-agency {
  position: absolute;
  top: 9px;
  right: 34px;
  color: #ed5565;
  font-weight: normal;
  font-size: 12px;
}
.my-history-pop .con-list .d-current-agency .iconfont {
  position: relative;
  top: 2px;
}
.my-history-pop .con-list .time-class {
  color: #666;
}
.my-history-pop .con-list .edit-box {
  margin-top: 15px;
  padding: 15px;
  border: 1px dashed #4fc1e9;
  /*搜索学校*/
}
.my-history-pop .con-list .edit-box .d-time {
  height: 32px;
  text-align: center;
  width: 100px;
}
.my-history-pop .con-list .edit-box .btn {
  margin-top: 12px;
}
.my-history-pop .con-list .edit-box .input-part {
  width: 200px;
}
.my-history-pop .con-list .edit-box .input-part input {
  height: 32px;
  line-height: 32px;
}
.my-history-pop .con-list .edit-box .input-part .iconfont {
  color: #3bafda;
}
.my-history-pop .con-list .edit-box .input-part button {
  height: 30px;
  line-height: 30px;
  top: 1px;
}
.my-history-pop .con-list .edit-box .edit-date {
  margin-top: 12px;
  color: #666;
}
.my-history-pop .con-list .edit-box .checkbox-group {
  top: 2px;
  left: -16px;
  position: relative;
}
.my-history-pop .con-list .edit-box .checkbox-group span {
  font-size: 12px;
  color: #666;
  position: relative;
  top: -2px;
}
.my-history-pop .con-list .add-school {
  color: #3bafda;
  cursor: pointer;
}
.my-history-pop .con-list .add-school:hover {
  color: #4fc1e9;
}
.my-history-pop .con-list .add-school i {
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 3px;
}
.dy-btn-grey {
  background-color: #eee;
  border-color: #eee;
}
