/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2015/11/11  Last Mondify Date:2015/11/11
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
@import "../../less/base";

/**MAIN STYLE**/
.page-score-statistics {
  background: #f5f5f5;

  .table-box {
    padding: 0 30px;
  }
  .bottom-page {
    color: #999;
    padding: 0 30px;
    background: #f5f7fa;
    height: 50px;
    line-height: 50px;
    b {
      font-weight: bold;
    }
  }
  .h2-title {
    margin-bottom: 30px;
  }

  .m-knowledge, .m-score {
    width: 49%;
    padding: 20px 0;
    background: white;
  }
  .m-knowledge {
  }
  .m-score {
    .list-span {
      margin-bottom: 20px;
      span {
        .inline-block;
        margin-right: 20px;
        font-size: 16px;
        margin-right: 30px;
      }
    }
  }
}
