/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2015/11/17  Last Mondify Date:2015/11/17
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
/** MAIN STYLE **/
.page-student-bbs {
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-student-bbs .main-bbs-top {
  margin-bottom: 30px;
  background: white;
  position: relative;
}
.page-student-bbs .show-questions-bbs,
.page-student-bbs .show-questions-titile {
  background: white;
  height: 100%;
}
.page-student-bbs .show-questions-bbs {
  width: 830px;
  padding: 30px;
  border-right: 30px solid #f5f5f5;
}
.page-student-bbs .show-questions-bbs .q-item .q-main .q-body {
  color: #566166;
}
.page-student-bbs .show-questions-titile {
  width: 400px;
  border-left: 30px solid #f5f5f5;
  position: relative;
  top: 0;
  right: 0;
  margin-left: -30px;
}
.page-student-bbs .show-questions-titile .h2-title {
  margin: 20px 0 0;
}
.page-student-bbs .show-questions-titile .table-questions {
  padding: 30px;
  line-height: 1.8em;
  color: #999;
}
.page-student-bbs .show-questions-titile .table-questions table {
  width: 100%;
}
.page-student-bbs .show-questions-titile .table-questions table .td1 {
  width: 68px;
  text-align: right;
}
.page-student-bbs .show-questions-titile .table-questions table .td2 {
  padding-left: 20px;
}
.page-student-bbs .show-questions-titile .table-questions p {
  color: #333;
}
.page-student-bbs .show-questions-titile .table-questions .boder-bottom {
  border-bottom: 1px dashed #e6e6e6;
}
.page-student-bbs .show-questions-titile .table-questions .color-red {
  color: #ed5565;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px;
  font-weight: bold;
}
.page-student-bbs .btn-student-bbs .iconfont {
  position: relative;
  top: -1px;
}
.page-student-bbs .btn-student-bbs .orange i {
  display: none;
}
.page-student-bbs button {
  width: 100px;
  text-align: center;
}
.page-student-bbs button i {
  font-size: 14px;
  vertical-align: middle;
  color: #999999;
}
.page-student-bbs button.passed i {
  color: #fff;
}
.u-reference {
  padding: 15px;
}
.span-variant-answer {
  line-height: 35px;
  padding: 0 0 0 15px;
}
.span-variant-answer .span-variant-answer-p {
  color: #428bca;
  cursor: pointer;
}
.error-comment {
  padding: 20px 30px;
  color: #666;
}
.error-comment .tab-left-1 {
  width: 85px;
}
.error-comment .tab-right-1 {
  width: 1055px;
}
.error-comment .tab-left-2 {
  width: 140px;
}
.error-comment .tab-right-2 {
  width: 1000px;
}
.error-comment .name-list span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 20px;
  margin-bottom: 10px;
}
.questions-list-cont {
  line-height: 1.8em;
  color: #666;
}
.comment-bxo {
  padding: 10px 30px;
}
.comment-bxo .parents-conter {
  overflow: hidden;
}
.comment-bxo .parents-conter .ul-list-one {
  position: relative;
  bottom: -1px;
}
.comment-bxo .parents-conter .ul-list-one > li {
  border-bottom: 1px solid #eee;
}
.comment-bxo .boder-focus-color {
  border-color: #4fc1e9;
  -moz-transform: all 0.5s ease 0s;
  -webkit-transform: all 0.5s ease 0s;
  -o-transform: all 0.5s ease 0s;
  -ms-transform: all 0.5s ease 0s;
  transform: all 0.5s ease 0s;
}
.comment-bxo .comment-input textarea {
  margin-bottom: 10px;
  display: block;
  line-height: 1.6em;
  width: 100%;
}
.comment-bxo .comment-input > img {
  position: absolute;
  left: 0;
  top: 25px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.comment-bxo .comment-input .show-height {
  height: 23px;
}
.comment-bxo .comment-text .comment-list {
  color: #999;
}
.comment-bxo .comment-text .comment-list > li {
  position: relative;
  padding-left: 60px;
  margin-top: 20px;
}
.comment-bxo .comment-text .comment-list > li > img {
  position: absolute;
  left: 0;
  top: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.comment-bxo .comment-text .comment-list .name-color {
  color: #333;
}
.comment-bxo .comment-text .comment-list .comment-time {
  margin-left: 12px;
  font-size: 85%;
  color: #9d9d9d;
}
.comment-bxo .comment-children .comment-text .comment-list li {
  margin-top: 10px;
}
.comment-bxo .add-to-comment span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 20px;
  cursor: pointer;
}
.comment-bxo .add-to-comment span:hover {
  color: #333;
}
.htmleaf-containers .htmleaf-content ul {
  background: white;
  font-size: 0;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #e6e9ed;
}
.htmleaf-containers .htmleaf-content li {
  display: inline-block;
  /*width: 300px;*/
  min-width: 100px;
  height: 60px;
  background: white;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: #999;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.htmleaf-containers .htmleaf-content li a {
  color: #999;
  display: block;
}
.htmleaf-containers .htmleaf-content li.z-crt a {
  color: #333;
}
.htmleaf-containers .htmleaf-content .slider {
  text-align: center;
  /* width: 300px;*/
  min-width: 100px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.htmleaf-containers .htmleaf-content .slider span {
  background: #ed5565;
  margin: 0px auto;
  width: 92px;
  height: 2px;
  display: block;
}
.ripples {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(79, 193, 233, 0.1);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffects {
  -webkit-animation: rippleDrops .6s linear;
  animation: rippleDrops .6s linear;
}
@-webkit-keyframes rippleDrops {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rippleDrops {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
.tab-con {
  position: relative;
  overflow: hidden;
  background: white;
}
.tab-con .dy-tab-con > div {
  display: none;
}
.answer-dl {
  padding-left: 24px;
}
.answer-dl dt {
  line-height: 35px;
  margin-bottom: 8px;
}
.answer-dl dd {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  color: #428bca;
}
.ed-comment {
  border-top: 1px dashed #eee;
  margin-top: 25px;
  padding: 15px 0;
}
.ed-comment .name-type {
  margin-left: 50px;
}
.ed-comment .reason-tags {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-left: 35px;
}
.ed-comment .reason-tags .d-tag {
  font-size: 12px;
  background-color: #fff;
  color: #999;
  border: 1px solid #bbb;
  line-height: normal;
  padding: 2px 8px;
}
.ed-comment .add-to-comment {
  text-align: right;
  font-size: 12px;
}
.ed-comment .add-to-comment a {
  margin-left: 8px;
}
.ed-comment .add-to-comment .iconfont {
  font-size: 12px;
}
.ed-comment-info {
  margin-bottom: 10px;
}
.ed-comment-info h5 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  color: #888;
}
.ed-comment-info span {
  color: #9d9d9d;
  font-size: 12px;
  margin-left: 12px;
}
