/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2015/11/17  Last Mondify Date:2015/11/17
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
@import "../../less/base";

/** MAIN STYLE **/

.page-push-change{
    margin-bottom: 30px;
  .show-questions{padding: 30px;background: white; margin-bottom: 30px;}
  .color-grey{}
  }
.main-push-chang {
  background: white;
  padding: 20px 20px;
  .color-grey{color: #ddd; margin-left: 30px;}
  .questions-con{
    position: relative;
    padding-right: 80px;
    label.checkbox-questions{ position: absolute; right: 10px; top: 25px; width: 40px; height: 40px; cursor: pointer;  display: block; overflow: hidden;
      input[type='checkbox'],.iconfont{ position: absolute; top: 0; left: 0;width: 100%;height: 100%; display: block; cursor: pointer;}
      input[type='checkbox']{ .opacity(0); z-index: 2;}
      .iconfont{ font-size: 40px;  color: #eceef1;top: 9px;}
      }
    label.checkboxhv{
      .iconfont{ color: #ed5565;}
      }
    }
  }
//*--------------------   ui Style   -----------------------