/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2015/11/16  Last Mondify Date:2015/11/16
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
@import "../../less/base";

/** MAIN STYLE **/
.page-nonumber {
  background: white;
  padding: 30px 30px 0 30px;
  .h3-nonumber {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .list-nonumber {
    li {
      float: left;
      width: 190px;
      height: 32px;
      position: relative;
      padding-left: 48px;
      margin-bottom: 30px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        .rounded-corners(50%);
      }
      span {
        margin-top: 8px;
        .inline-block;
      }
    }
  }
}
.htmleaf-container .slider{ left: 600px;}


