/*问题展示*/
.q-item {
  padding: 12px 8px 8px;
  position: relative;
  -moz-box-shadow: 0 1px 2px #dcdcdc,;
  -webkit-box-shadow: 0 1px 2px #dcdcdc,;
  -o-box-shadow: 0 1px 2px #dcdcdc,;
  -ms-box-shadow: 0 1px 2px #dcdcdc,;
  box-shadow: 0 1px 2px #dcdcdc,;
}
.q-item:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.q-item .q-main {
  cursor: pointer;
  min-height: 60px;
}
.q-item .q-main .q-sort {
  font-family: arial, serif;
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
}
.q-item .q-main .q-body {
  color: #444;
  font-size: 14px;
  line-height: 22px;
  word-break: break-all;
  white-space: normal;
  word-wrap: break-word;
}
.q-item .q-main .q-body img {
  vertical-align: top;
}
.q-item .q-main .q-body td {
  border: 1px solid #ccc;
  padding: 3px 0 0 6px;
}
.q-item .q-main .q-body u {
  border-bottom: 1px solid #444;
  padding: 0 2px;
  text-decoration: none;
}
.q-item .q-main .q-body > b.q-type {
  background-color: #5bc0de;
  color: #fff;
  font-family: "宋体", serif;
  font-size: 13px;
  font-weight: 600;
  margin-right: 5px;
  margin-left: -8px;
  padding: 2px 3px;
}
.q-item .q-main .q-details {
  margin-top: 5px;
}
.q-item .q-main .q-details .q-detail {
  margin-top: 8px;
}
.q-item .q-main .q-details .q-detail .q-options {
  margin-top: 5px;
}
.q-item .q-main .q-details .q-detail .q-options .q-option {
  margin-top: 2px;
}
.q-item .q-main .q-options {
  margin: 5px 0 0 10px;
}
.q-item .q-main .q-option {
  margin-top: 12px;
  min-width: 47%;
  padding-right: 3%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.q-item .q-main .q-option-word {
  color: #666;
  font-family: Arial, serif;
  font-weight: 600;
  margin-right: 5px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.q-item .q-main .q-option-body {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 890px;
}
.q-item .q-answer {
  line-height: 28px;
  padding: 15px 0 0;
  font-size: 12px;
  color: #888;
}
.q-item .q-answer .answer-tag {
  padding: 0;
}
.q-item .q-answer .answer-tag strong {
  background-color: #e8e8e8;
  color: #444;
  font-size: 12px;
  padding: 5px 10px;
}
.q-item .q-answer td {
  border: 1px solid #ccc;
  padding: 3px 0 0 6px;
}
.q-item .q-footer {
  border-top: 1px dashed #dcdcdc;
  line-height: 32px;
  margin-top: 15px;
  padding: 6px 0 8px;
  color: #888;
  position: relative;
}
.q-item .q-footer > div {
  padding: 0;
}
.q-item .q-footer label {
  color: #337ab7;
  padding: 0 10px;
}
.q-item .q-footer .col-md-2 {
  padding: 0;
}
.q-item .q-footer .q-edit-area {
  padding: 0;
}
.q-item .q-footer .q-edit {
  width: 175px;
  float: left;
  line-height: 34px;
  text-align: right;
  display: none;
}
.q-item .q-footer .q-edit a {
  margin-left: 15px;
  cursor: pointer;
}
.q-item .q-footer .q-footer-more {
  bottom: 0;
  display: none;
  font-size: 16px;
  left: 48%;
  line-height: 16px;
  position: absolute;
  color: #36aaea;
  padding: 0 8px;
  cursor: pointer;
}
.q-item .q-footer .q-tags {
  margin-left: 10px;
}
.q-item .q-footer .q-tags label {
  float: left;
}
.q-item .q-footer .q-point-item {
  margin-right: 12px;
}
.q-item .q-image {
  margin: 0 35px 8px 50px;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  z-index: 520;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.q-item .q-image img {
  max-width: 150px;
  max-height: 150px;
  *width: 150px !important;
  *height: 150px !important;
}
.q-item .q-image i {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #444;
  display: none;
}
.q-item .q-main .q-image {
  float: right;
}
.q-item .q-details .q-image {
  float: none;
  margin-left: 35px;
  margin-top: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.q-item .q-options .q-body {
  float: left;
}
.q-item .q-options .q-image {
  float: none;
}
.q-item .q-options img {
  display: inline-block;
  max-width: 120px;
  max-height: 120px;
  *width: 120px !important;
  *height: 120px !important;
}
.q-item .q-options-horizontal .q-option {
  vertical-align: top;
  margin-right: 20px;
  min-width: 1%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.q-item .q-answer .q-image {
  float: none;
  margin-left: 95px;
  margin-top: 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.q-item .q-mark {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border-color: #337ab7 transparent transparent transparent;
  border-width: 40px 0 0 40px;
  border-style: solid dashed dashed solid;
}
.q-item .q-mark span {
  position: absolute;
  top: -42px;
  right: 2px;
  color: #fff;
  width: 2em;
  font-size: 10px;
  cursor: pointer;
}
.q-item .q-mark-left {
  border-left-style: dashed;
  border-left-width: 0;
  border-right-style: solid;
  border-right-width: 40px;
  left: 0;
  right: auto;
}
.q-item .q-mark-left span {
  left: 4px;
}
.q-item .q-mark-01 {
  border-top-color: #5cb85c;
}
.q-item .q-mark-02 {
  border-top-color: #5bc0de;
}
.q-item .q-mark-03 {
  border-top-color: #d9534f;
}
.q-item .q-mark-04 {
  border-top-color: #f0ad4e;
}
.q-item .q-mark-05 {
  border-top-color: #337ab7;
}
.q-item .q-mark-06 {
  border-top-color: #3d8b3d;
}
.q-item .q-mark-07 {
  border-top-color: #b52b27;
}
.q-item .q-mark-08 {
  border-top-color: #df8a13;
}
.q-item .q-mark-08 {
  border-top-color: #23527c;
}
.q-item .q-mark-09 {
  border-top-color: #2d672d;
}
.q-item .q-mark-010 {
  border-top-color: #8b211e;
}
.q-item .q-mark-011 {
  border-top-color: #b06d0f;
}
.q-item .q-mark-012 {
  border-top-color: #183854;
}
.q-hover {
  border-color: #36aaea;
  -moz-box-shadow: 0 1px 2px #36aaea,;
  -webkit-box-shadow: 0 1px 2px #36aaea,;
  -o-box-shadow: 0 1px 2px #36aaea,;
  -ms-box-shadow: 0 1px 2px #36aaea,;
  box-shadow: 0 1px 2px #36aaea,;
}
.q-hover .q-answer {
  border-color: #36aaea;
}
.q-hover .q-footer {
  border-color: #36aaea;
}
.q-hover .q-footer .q-edit {
  display: block;
}
.q-hover .q-footer .q-footer-more {
  display: block;
}
.q-item .q-footer .q-edit-area {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.q-item .q-footer .q-edit {
  float: left;
  margin-left: 5px;
}
.q-share {
  float: left;
}
.q-share .q-range {
  vertical-align: middle;
}
.q-body table td {
  border: 1px solid #eee;
  padding: 2px;
}
