        <!--mainc-->
<div class="mainc">
    <div class="title">
        <h2 class="active">最新动态</h2>
    </div>
    <div class="dynamic-list">
        <div class="dy-loading"><i></i></div>
    </div>
</div>
