.w1000 {
  width: 1000px;
  margin: 0 auto;
}
.brs {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.g-wrap {
  background: url(/v1/image/bg/bg-gz.png);
  padding: 40px 0;
}
.g-wrap .g-m-i {
  padding-bottom: 40px;
  background: #ffffff;
  border: 1px solid #ece9e6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.g-wrap .g-m-i h2 {
  margin: 0;
}
.g-wrap .g-m-i input {
  padding: 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
}
.g-wrap .g-m-i textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.g-wrap .g-m-i textarea.z-crt {
  border-bottom: 1px solid #7ed2fc;
}
.g-wrap .g-m-i .g-u-t {
  border-bottom: 1px solid #fcb66f;
}
.g-wrap .g-m-i .g-u-t h2 {
  margin-top: 15px;
  padding: 0 35px 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  border-bottom: 2px solid #fcb66f;
}
.g-wrap .g-m-i .g-u-m {
  padding: 0 30px;
}
.g-wrap .g-m-i .g-u-m h3 {
  font-size: 16px;
  text-align: center;
}
.g-wrap .g-m-i .g-u-m .g-u-z {
  margin-bottom: 20px;
}
.g-wrap .g-m-i .g-u-m .g-u-z fieldset {
  line-height: 2em;
  padding: 20px 20px 36px;
  color: #79848a;
  border: 1px solid #e6e6e6;
}
.g-wrap .g-m-i .g-u-m .g-u-z fieldset legend {
  border: none;
  font-size: 14px;
  display: inline-block;
  width: auto;
  background: #ffffff;
  margin-bottom: 0;
  padding: 0 8px;
  font-weight: bold;
  color: #79848a;
}
.g-wrap .g-m-i .g-u-m .g-u-z fieldset .g-u-d .w30 {
  text-align: center;
  color: #fcb66f;
  font-weight: bold;
  font-size: 14px;
}
.g-wrap .g-m-i .g-u-m .g-u-z fieldset .g-u-d dt {
  color: #fcb66f;
  font-size: 14px;
  font-weight: bold;
}
.g-wrap .g-m-i .g-u-m .g-u-z fieldset .g-u-d dd input {
  color: #566166;
  font-size: 16px;
}
.g-wrap .g-m-i .g-u-m .g-u-1 fieldset .g-u-d dl {
  width: 179px;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}
.g-wrap .g-m-i .g-u-m .g-u-1 fieldset .g-u-d dt {
  margin-bottom: 10px;
}
.g-wrap .g-m-i .g-u-m .g-u-1 fieldset .g-u-d dd input {
  width: 20px;
  height: 20px;
  text-align: center;
}
.g-wrap .g-m-i .g-u-m .g-u-1 fieldset .g-u-d dd input.z-dis {
  border: none;
  color: #bebebe;
}
.g-wrap .g-m-i .g-u-m .g-u-1 fieldset .g-u-d dd input.z-crt {
  color: white;
  background: #7ed2fc;
  border-bottom: 1px solid #7ed2fc;
}
.g-wrap .g-m-i .g-u-m .g-u-1 fieldset .g-u-d .w30 {
  width: 30px;
  height: 20px;
  line-height: 20px;
}
.g-wrap .g-m-i .g-u-m .g-u-2 fieldset .g-u-d dl {
  width: 224px;
  float: left;
}
.g-wrap .g-m-i .g-u-m .g-u-2 fieldset .g-u-d dl dt {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  height: 33px;
  line-height: 33px;
}
.g-wrap .g-m-i .g-u-m .g-u-2 fieldset .g-u-d dl dd {
  float: left;
  width: 130px;
}
.g-wrap .g-m-i .g-u-m .g-u-2 fieldset .g-u-d dl dd input {
  width: 100%;
  padding: 0 5px;
}
.g-wrap .g-m-i .g-u-m .g-u-2 fieldset .g-u-d dl dd input.z-dis {
  color: #b3b3b3;
  border-bottom: none;
}
.g-wrap .g-m-i .g-u-m .g-u-2 fieldset .g-u-d .w30 {
  width: 30px;
  height: 20px;
  line-height: 20px;
}
.g-wrap .g-m-i .g-u-m .g-u-3 .row {
  margin-left: 0;
  margin-right: 0;
}
.g-wrap .g-m-i .g-u-m .g-u-3 .g-u-d {
  margin-left: -33px;
}
.g-wrap .g-m-i .g-u-m .g-u-3 .g-u-d > .row {
  margin-bottom: 22px;
}
.g-wrap .g-m-i .g-u-m .g-u-3 .g-u-d > .row .ml {
  margin-left: 69px;
}
.g-wrap .g-m-i .g-u-m .g-u-3 .g-u-d > .row .ml > div {
  margin-bottom: 15px;
}
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-1,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-2,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-3,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-4,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-5,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-6,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-7,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-8,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-9,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-10,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-11,
.g-wrap .g-m-i .g-u-m .g-u-3 .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}
.g-wrap .g-m-i .g-u-m .g-u-3 fieldset .g-u-d .w30 {
  color: #fcb66f;
  text-align: right;
  font-weight: bold;
  padding-right: 22px;
  height: 20px;
  line-height: 20px;
}
.g-wrap .g-m-i .g-u-m input.z-crt {
  border-bottom: 1px solid #7ed2fc;
}
.g-wrap .g-m-i .g-u-b .btn-warning {
  padding: 10px 30px;
  font-size: 14px;
  margin-right: 10px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: none;
}
