.dy-wrap {
  background: #f5f5f5;
}
.h2-circle {
  font-weight: normal;
  font-size: 20px;
  border-left: 5px solid #ed5565;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
}
.hot-circle {
  padding: 0px 20px;
  float: right;
}
.hot-circle .h3-title {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
.hot-circle ul.ul-list li {
  height: 65px;
  margin-bottom: 20px;
  margin-right: 40px;
}
.hot-circle ul.ul-list li a {
  display: block;
  position: relative;
  padding-left: 85px;
  width: 220px;
}
.hot-circle ul.ul-list li a img {
  position: absolute;
  top: 0;
  left: 0;
}
.hot-circle ul.ul-list li a p {
  color: #333;
  overflow: hidden;
  height: 16px;
}
.hot-circle ul.ul-list li a p,
.hot-circle ul.ul-list li a span,
.hot-circle ul.ul-list li a strong {
  display: block;
  margin-bottom: 10px;
}
.hot-circle ul.ul-list li a span {
  color: #666;
}
.hot-circle ul.ul-list li a strong {
  color: #999;
}
.hot-circle ul.ul-list li:hover a {
  color: #4fc1e9;
}
.hot-circle ul.ul-list li:hover a p,
.hot-circle ul.ul-list li:hover a span,
.hot-circle ul.ul-list li:hover a strong {
  color: #4fc1e9;
}
.side-comment {
  width: 300px;
  min-height: 800px;
}
.side-comment .layer-block {
  background: white;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 30px;
}
.side-comment .layer-block h2.h2-title {
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 25px;
}
.side-comment .diffe1,
.side-comment .diffe2 {
  padding: 20px 0;
}
.side-comment .diffe1 .iconfont,
.side-comment .diffe2 .iconfont {
  margin-right: 10px;
}
.side-comment .diffe1 {
  border-top-color: #fc6e51;
}
.side-comment .diffe1 .dy-icon-jiangbei {
  font-size: 24px;
  color: #fc6e51;
}
.side-comment .diffe1 .dy-icon-article {
  font-size: 24px;
  color: #9cdcf3;
}
.side-comment .diffe1 .hot-list {
  position: relative;
}
.side-comment .diffe1 .hot-list li {
  position: relative;
  padding: 0 20px 0 56px;
  margin-bottom: 20px;
}
.side-comment .diffe1 .hot-list li.loading {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.side-comment .diffe1 .hot-list li p {
  margin-bottom: 5px;
  width: 224px;
  height: 15px;
  overflow: hidden;
}
.side-comment .diffe1 .hot-list li p a {
  width: 224px;
  height: 15px;
  display: block;
}
.side-comment .diffe1 .hot-list li p a:hover {
  color: #4fc1e9;
}
.side-comment .diffe1 .hot-list li span {
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: -3px;
  left: 23px;
}
.side-comment .diffe1 .hot-list li.bg1 span {
  background: #fc6e51;
  color: #fff;
}
.side-comment .diffe1 .hot-list li.bg2 span {
  background: #f6bb42;
  color: #fff;
}
.side-comment .diffe1 .hot-list li.bg3 span {
  background: #4fc1e9;
  color: #fff;
}
.side-comment .diffe1 .hot-list .font-color {
  color: #999;
}
.side-comment .diffe1 .hot-list .iconfont {
  margin-right: 10px;
  font-size: 20px;
}
.side-comment .diffe1 .hot-list .dy-icon-messageline {
  font-size: 16px;
  height: 22px;
  line-height: 22px;
}
.side-comment .diffe2 {
  border-top-color: #4fc1e9;
}
.side-comment .diffe2 .dy-icon-paixingbang {
  font-size: 24px;
  color: #4fc1e9;
}
.side-comment .diffe2 .hot-group-box li.loading {
  position: relative;
  top: 0;
  left: -99px;
  display: inline-block;
}
.side-comment .diffe3 {
  border: none;
  background: #fafbfc;
}
.side-comment .diffe3 .box-paddig {
  padding: 30px 15px;
}
.side-comment .diffe4 {
  padding: 20px;
  border-top: none;
}
.side-comment .diffe4 .communi-cation {
  position: relative;
  margin-bottom: 20px;
}
.side-comment .diffe4 .communi-cation img {
  width: 64px;
  height: 64px;
}
.side-comment .diffe4 .communi-cation .font-title {
  font-size: 18px;
  width: 180px;
  height: 20px;
  overflow: hidden;
  margin-bottom: 8px;
}
.side-comment .diffe4 .communi-cation .font-title a {
  display: block;
}
.side-comment .diffe4 .communi-cation .font-member {
  width: 180px;
  color: #666;
  height: 15px;
  overflow: hidden;
  margin-bottom: 5px;
}
.side-comment .diffe4 .communi-content {
  margin-bottom: 20px;
  line-height: 1.4em;
  color: #999;
}
.side-comment .diffe4 .label-list span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 8px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #e6e9ed;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.side-comment .diffe4 .dy-btn-default {
  color: #3bafda;
  border-color: #3bafda;
}
.side-comment .diffe4 .dy-btn-default .iconfont-jia {
  font-size: 16px;
  font-weight: bold;
}
.side-comment .diffe4 .dy-btn-default:hover {
  color: #3bafda;
  color: #4fc1e9;
  border-color: #4fc1e9;
}
.side-comment .diffe5 {
  background: white;
  margin-bottom: 30px;
  padding-top: 20px;
}
.side-comment .diffe5 .h2-title {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.side-comment .diffe5 .notice-contens {
  color: #bbb;
  padding: 0 20px 30px 30px;
  line-height: 1.4em;
}
