@import "../../base";
//公用颜色
@color-white:#fff;
@color-bg-wrap: #f7f7f7;
@color-bg-main:#fff;
@color-bg-base:#f5f5f5;
@color-border-grey:#d0d0d0;
@color-border-inner:#f0f0f0;
@color-333:#333333;
@color-border-orange:#ffa64c;
@color-pink:#fc9797;
@color-blue:#65cafc;


