@import "../../base";
.box {
  color: #666666;
  //.row, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  //.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  //  margin: 0;
  //  padding: 0;
  //}
  .v-empty {
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
  }
  .bar {
    margin: 40px 0 20px;
    span {
      padding: 8px 5px;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      margin-right: 20px;
      cursor: pointer;
    }
    .active {
      border-bottom: 2px solid #ffab00;
    }
  }
  .search {
    margin: 10px 0;
    .text {
      line-height: 30px;
    }
    .col-md-2 {
      padding: 0 3px 0 0;
    }
  }
  .q-list-wrap {
    margin-top: 0;
  }
  .group {
    .item {
      margin: 15px 0;
      padding: 20px 15px 15px 20px;
      border: 1px solid #ccc;
      /*问题题干展示 end*/
      /*标签*/
      .q-tags {
        margin-top: 5px;
        label {
          color: #37aae9;
          float: left;
          padding: 0 0 0 12px;
        }
        .d-tag {
          span {
            color: @color-default !important;
            line-height: 24px;
          }
        }
      }

      .cut-off-rule {
        margin: 15px 0;
        border-bottom: 1px dashed #ccc;
        float: left;
        width: 100%;
      }
      .tabs {
        padding-top: 10px;
      }
      .hl {
        color: #37aae9;
        margin-right: 1px;
      }
      .detail {
        margin: 10px 0;
        span, label {
          line-height: 32px;
        }
        span.ng-binding {
          color: #666
        }
        .ans-icon {
          padding: 5px;
          strong {
            background-color: #e8e8e8;
            color: #666;
            font-size: 12px;
            padding: 5px 10px;
          }
        }
        .rt-ans {
          margin-bottom: 10px;
        }
        .my-ans {
          margin: 10px 0;
        }
      }
      .variant {
        margin: 10px 0;
        .ans-variant {
          padding: 5px;
          strong {
            background-color: #e8e8e8;
            color: #666;
            font-size: 12px;
            padding: 5px 10px;
            cursor: pointer;
          }
        }
      }
      .answer {
        margin: 20px 0 10px;
        .q-image {
          float: left;
        }
      }
    }
    .q-not-answer {
      color: @brand-danger;
      display: block;
      line-height: 32px;
    }
  }
  .q-main {
    cursor: default;
  }
  /*下载*/
  .d-dowload{
    position: fixed;
    top: 200px;
    right: 0;
    width: 150px;
    .dw-title{
      background-color: #65cafc;
      color: #fff;
      font-size: 16px;
      height: 110px;
      line-height: 18px;
      padding-top: 25px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 30px;
      border-bottom-left-radius: 6px;
      cursor: pointer;
    }
    .dw-icon{
      background-color: #ffab00;
      border-radius: 50%;
      font-weight: bold;
      height: 32px;
      line-height: 32px;
      position: absolute;
      right: 10px;
      text-align: center;
      top: -10px;
      width: 32px;
    }
    .dw-body{
      .dw-title{
        padding-top: 16px;
        left: 0;
        border-top-left-radius: 6px;
      }
      .dw-content{
        font-size: 16px;
        position: absolute;
        width: 120px;
        left: 30px;
        background-color: #f9f9f9;
        .dc-tb{
          background-color: #f0f0f0;
          height: 26px;
          line-height: 24px;
        }
        .dc-top{
          padding-left:5px;
        }
        .dc-bottom{
          position: absolute;
          bottom: -26px;
          text-align: center;
          color: #65cafc;
          width: 100%;
          span{cursor: pointer;}
        }
        .dc-num{
          color: #ffab00;
          font-size: 20px;
          font-weight: bold;
        }
        .dc-items{
          position: relative;
          min-height: 120px;
          padding: 5px 10px;
          font-size: 14px;
          .dc-item{
            margin: 3px 0;
          }
        }
      }
    }
  }
}