.ed-home-main {
  border: 1px solid #d0d0d0;
}
.ed-home-main .home-main-left {
  width: 670px;
  padding-top: 20px;
  float: left;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.ed-home-main .home-main-left .m-header {
  position: relative;
  z-index: 5;
  padding: 10px 15px;
}
.ed-home-main .home-main-left .m-header .input-soso {
  position: relative;
  width: 486px;
  height: 40px;
  border: 2px solid #ffa64c;
}
.ed-home-main .home-main-left .m-header .input-soso .so-prompt {
  width: 384px;
  background: #ffffff;
  border: 2px solid #d0d0d0;
  border-top: none;
  position: absolute;
  bottom: -112px;
  left: 0;
}
.ed-home-main .home-main-left .m-header .input-soso .so-prompt li {
  width: 380px;
  height: 36px;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.ed-home-main .home-main-left .m-header .input-soso .so-prompt li:hover {
  background: #ffa64c;
}
.ed-home-main .home-main-left .m-header .input-soso .form-control {
  max-width: 382px;
  height: 36px;
}
.ed-home-main .home-main-left .m-header .input-soso .btn-default {
  width: 100px;
  position: relative;
  right: -1px;
  border: none;
  text-align: center;
  display: inline-block;
  background: #ffa64c;
  color: #333333;
  font-size: 18px;
}
.ed-home-main .home-main-left .m-header .so-p-1 {
  margin-top: 12px;
  font-size: 14px;
}
.ed-home-main .home-main-left .m-header .so-p-1 b {
  margin: 0 5px;
  color: #ffa64c;
  display: inline-block;
}
.ed-home-main .home-main-left .m-content {
  position: relative;
  z-index: 2;
  border-top: 1px solid #d0d0d0;
}
.ed-home-main .home-main-left .m-content .u-header {
  padding: 5px 15px;
  background: #f5f5f5;
}
.ed-home-main .home-main-left .m-content .u-header .table-2 {
  margin-right: 5px;
}
.ed-home-main .home-main-left .m-content .u-header .table-3 {
  text-align: right;
  padding-top: 5px;
  width: 193px;
}
.ed-home-main .home-main-left .m-content .u-header .table-3 ul li {
  float: right;
  margin-right: 10px;
}
.ed-home-main .home-main-left .m-content .u-header .table-3 input {
  vertical-align: sub;
  margin-right: 5px;
}
.ed-home-main .home-main-left .m-content .u-content {
  padding: 20px 0;
}
.ed-home-main .home-main-left .m-content .u-content .u-list {
  border-bottom: 1px dashed #e6e6e6;
  margin: 10px 15px;
  padding-bottom: 15px;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .f-content {
  padding: 20px 0;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-label a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-label a.color-orange {
  background: #ffa64c;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-label a.color-pink {
  background: #fc9797;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-right li {
  float: left;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-right li:hover,
.ed-home-main .home-main-left .m-content .u-content .u-list .u-right li:hover a,
.ed-home-main .home-main-left .m-content .u-content .u-list .u-right li:hover i {
  color: #fc9797;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-right li a {
  text-decoration: none;
  color: #65cafc;
}
.ed-home-main .home-main-left .m-content .u-content .u-list .u-right li i {
  color: #65cafc;
  margin-right: 5px;
}
.ed-home-main .home-main-right {
  width: 302px;
  float: right;
}
.eb-pop-box {
  width: 606px;
  position: relative;
  padding: 20px;
  background: #ffffff;
}
.eb-pop-box i {
  cursor: pointer;
  color: #d3d3d3;
}
.eb-pop-box i:hover {
  color: #ffa64c;
}
.eb-pop-box .pop-input {
  width: 100%;
  max-width: 100%;
}
.eb-pop-box .pop-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.eb-pop-box h2 {
  font-size: 18px;
  color: #454a4c;
}
.eb-pop-box .f-width-l {
  width: 78px;
}
.eb-pop-box .f-width-r {
  width: 460px;
}
.eb-pop-box .f-width-r textarea {
  padding: 5px;
}
.eb-pop-box .pop-box-1 .f-dl {
  margin: 5px 0;
}
.eb-pop-box .pop-box-1 .f-dl dt {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
.eb-pop-box .pop-box-1 .f-dl dd {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
  color: #65cafc;
}
.eb-pop-box .pop-box-1 .f-dl dd:hover {
  color: #fc9797;
}
.eb-pop-box .pop-box-2 .u-list-add .u-list li {
  position: relative;
  float: left;
  margin-right: 20px;
}
.eb-pop-box .pop-box-2 .u-list-add .u-list li.f-fr {
  margin-right: 0;
  float: right;
}
.eb-pop-box .f-position {
  width: 111.563px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  position: absolute;
  left: 0;
  bottom: -11px;
  text-align: center;
}
#limit {
  width: 100%;
  max-width: 100%;
}
