.dy-body {
  background-color: #f7f3ee;
}
.row {
  margin: 0;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding: 0;
}
input,
textarea {
  max-width: 1000px;
}
.loading,
.v-empty {
  margin: 80px 0;
}
.btn-primary {
  background-color: #37aae9;
  border-color: #37aae9;
  border-radius: 4px;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #67aae9;
  border-color: #428bca;
}
.e-book {
  margin: 20px 0;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #ffffff;
  color: #333333;
  /*����*/
  /*����*/
  /*ɸѡ����*/
  /*�����б�*/
  /*�Ҳຣ��*/
}
.e-book .l-box {
  border-right: 1px solid #e6e6e6;
  min-height: 490px;
}
.e-book .search {
  padding: 20px 15px 20px;
  font-size: 14px;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}
.e-book .search .input-group {
  border: 0;
}
.e-book .search .form-control {
  border: 2px solid #48c0fc;
  height: 40px;
}
.e-book .search .form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px #48c0fc;
  outline: 0 none;
}
.e-book .search .btn {
  background-color: #48c0fc;
  border: 2px solid #48c0fc;
  height: 40px;
  width: 98px;
  padding: 0 16px;
  font-size: 16px;
  color: #fff;
}
.e-book .search .total-box {
  padding: 12px 0 0 15px;
  color: #aaa;
  font-size: 12px;
}
.e-book .search .e-total {
  font-size: 16px;
  font-weight: bold;
  color: #ffa64c;
  font-family: georgia, serif;
  font-style: italic;
}
.e-book .search .search-keys {
  left: 0;
  width: 440px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  position: absolute;
  min-height: 80px;
  background: #ffffff;
  z-index: 1000;
  color: #8d8d8d;
}
.e-book .search .search-keys .item {
  padding: 8px 16px;
  cursor: pointer;
}
.e-book .search .search-keys .item:hover {
  background: #f5f5f5;
}
.e-book .search .search-keys .active {
  background: #f5f5f5;
}
.e-book .screen {
  width: 100%;
  height: 35px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #8d8d8d;
}
.e-book .screen .sing {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  margin: 0 15px;
  position: relative;
  cursor: pointer;
}
.e-book .screen .sing:hover {
  color: #48c0fc;
}
.e-book .screen .sing .list {
  position: absolute;
  min-width: 110px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  border-top: 0;
  left: -1px;
  color: #8d8d8d;
  font-size: 14px;
  z-index: 1001;
}
.e-book .screen .sing .list .item {
  line-height: 24px;
  padding: 0 10px;
  border-bottom: 1px solid #f5f5f5;
}
.e-book .screen .sing .list .item:hover {
  color: #48c0fc;
}
.e-book .screen .sing .sn-subjects {
  min-width: 85px;
}
.e-book .screen .sing .sn-times {
  width: 240px;
  padding: 20px 10px 10px;
}
.e-book .screen .sing .sn-times .btns {
  margin: 10px 0 0;
}
.e-book .screen .sing .sn-times .btns button {
  border-radius: 4px;
}
.e-book .screen .sing .sn-reason {
  width: 142px;
}
.e-book .screen .active {
  background-color: #ffffff;
  color: #48c0fc;
}
.e-book .screen .sn-time-reset {
  position: absolute;
  line-height: 24px;
  padding-top: 10px;
}
.e-book .screen .sn-time-reset:hover {
  color: #48c0fc;
}
.e-book .q-list .q-item {
  overflow: hidden;
  padding: 12px 15px 15px;
  border: 0;
  margin-bottom: 0;
  box-shadow: 0 0 0 #e6e6e6;
  border-bottom: 1px dashed #e6e6e6;
}
.e-book .q-list .q-item:nth-child(2n) {
  background-color: #fdfdfd;
}
.e-book .q-list .q-item-last {
  border-bottom: 0;
}
.e-book .q-list .q-main {
  cursor: default;
  padding: 5px 0 10px 0;
}
.e-book .q-list .q-bottom {
  display: inline-block;
  width: 100%;
  *display: inline;
  *zoom: 1;
}
.e-book .q-list .tags span {
  border: 1px solid #fc9797;
  margin: 0 10px 0 0;
  line-height: 2.3em;
  padding: 2px 8px;
  background-color: #fc9797;
  color: #ffffff;
  cursor: default;
}
.e-book .q-list .tags .orange {
  background-color: #48c0fc;
  border-color: #48c0fc;
}
.e-book .q-list .q-bottom .infos {
  color: #8d8d8d;
}
.e-book .q-list .q-bottom .infos span {
  display: inline-block;
}
.e-book .q-list .q-bottom .infos .de-time {
  width: 70px;
}
.e-book .q-list .q-bottom .infos a:hover {
  color: #37aae9;
}
.e-book .q-list .q-bottom .opers .oi {
  color: #37aae9;
  cursor: pointer;
}
.e-book .q-list .q-bottom .opers .dw-active {
  color: #fc9797;
}
.e-book .d-tags {
  margin-top: 12px;
  overflow: hidden;
  width: 100%;
}
.e-book .d-tags .d-tag {
  font-size: 12px;
  line-height: 20px;
}
.e-book .r-box {
  padding: 20px;
}
.e-book .r-box .poster {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  height: 450px;
}
/*������*/
.e-reason-box {
  opacity: 1;
  z-index: 1002;
  font-size: 14px;
  font-family: "΢���ź�";
  color: #333333;
  width: 520px;
  background-color: #ffffff;
}
.e-reason-box .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.e-reason-box .reason-content {
  height: 100px;
}
.e-reason-box .alt {
  padding: 12px 0 0;
  color: #8d8d8d;
}
.e-reason-box .tags {
  line-height: 1.4em;
  margin: 5px 0;
  color: #8d8d8d;
}
.e-reason-box .tags span {
  margin-right: 10px;
  cursor: pointer;
  color: #37aae9;
}
.e-reason-box .content {
  margin-top: 20px;
}
.e-reason-box .msg {
  color: #8d8d8d;
  margin: 5px 0 20px;
}
.e-reason-box .msg .q-total {
  line-height: 100%;
}
.e-reason-box .msg .pw-type {
  width: 135px;
  cursor: default;
  position: relative;
}
.e-reason-box .msg .pw-type .pw-type-other {
  left: 0;
  cursor: pointer;
  color: #37aae9;
  min-height: 24px;
  min-width: 130px;
  padding: 2px;
  position: absolute;
  top: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  box-shadow: 1px 1.732px 4px 0 #000000;
}
.e-reason-box .save-msg {
  font-size: 14px;
  color: #fc9797;
  margin-right: 20px;
}
#txtSearchKey::-webkit-input-placeholder {
  padding-top: 4px;
}
/*��������*/
.d-dowload {
  position: fixed;
  top: 200px;
  right: 0;
  width: 150px;
  z-index: 999;
}
.d-dowload .dw-title {
  background-color: #65cafc;
  color: #fff;
  font-size: 16px;
  height: 110px;
  line-height: 18px;
  padding-top: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}
.d-dowload .dw-icon {
  background-color: #ffab00;
  border-radius: 50%;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -10px;
  width: 32px;
}
.d-dowload .dw-body .dw-title {
  padding-top: 16px;
  left: 0;
  border-top-left-radius: 6px;
}
.d-dowload .dw-body .dw-content {
  font-size: 16px;
  position: absolute;
  width: 120px;
  left: 30px;
  background-color: #f9f9f9;
}
.d-dowload .dw-body .dw-content .dc-tb {
  background-color: #f0f0f0;
  height: 26px;
  line-height: 24px;
}
.d-dowload .dw-body .dw-content .dc-top {
  padding-left: 5px;
}
.d-dowload .dw-body .dw-content .dc-bottom {
  position: absolute;
  bottom: -26px;
  text-align: center;
  color: #65cafc;
  width: 100%;
}
.d-dowload .dw-body .dw-content .dc-bottom span {
  cursor: pointer;
}
.d-dowload .dw-body .dw-content .dc-num {
  color: #ffab00;
  font-size: 20px;
  font-weight: bold;
}
.d-dowload .dw-body .dw-content .dc-items {
  position: relative;
  min-height: 120px;
  padding: 5px 10px;
  font-size: 14px;
}
.d-dowload .dw-body .dw-content .dc-items .dc-item {
  margin: 3px 0;
}
