@using DayEasy.Contracts.Dtos.User

@model UserDto
<!DOCTYPE html>

<html>
<head>
    <title>User</title>
</head>
<body>
    <div>
        @Model.Id @Model.Name @Model.Email @Model.Nick
    </div>
    <div>
        <img src="/vcode/4" alt="Alternate Text" />
    </div>
</body>
</html>