/*--------------------------------------------------------------
                        Product Name 错题医院-入口index
      Author:Plato
      Create Date:2017/01/19  Last Mondify Date:2017/01/19
      ===================================================
--------------------------------------------------------------*/
.dy-header-tool {
  margin-bottom: 30px;
}
.page-questionerror-index {
  margin-bottom: 30px;
}
.user-info {
  padding: 0 20px;
  background: #3bafda;
  color: white;
  height: 60px;
  line-height: 60px;
}
.user-info .info-left .return {
  margin-right: 25px;
  cursor: pointer;
  color: white;
}
.user-info .info-left .return:hover {
  color: #d8d8d8;
}
.user-info .info-left .user-header {
  position: relative;
  top: 11px;
  margin-right: 10px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user-info .info-left .user-header img {
  width: 40px;
  height: 40px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.user-info .info-left .user-name {
  font-size: 18px;
  font-weight: bold;
}
.user-info .info-right .in-total b {
  font-size: 30px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 10px;
}
.htmleaf-containers .htmleaf-content .slider span {
  background: #00adf2;
  width: 66px;
}
.main-nav-list {
  margin: 25px 20px;
  /*内容导航-搜索条件*/
}
.main-nav-list .box-list {
  color: #999;
  margin-bottom: 15px;
  border-bottom: 1px dashed #eee;
  padding: 15px 0 0 0;
}
.main-nav-list .box-list .box-lg-1 {
  width: 94px;
}
.main-nav-list .box-list .box-lg-11 {
  width: 776px;
}
.main-nav-list .box-list .label-title {
  font-weight: normal;
  text-align: right;
}
.main-nav-list .box-list:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.main-nav-list .box-list .conten-list-text {
  padding-left: 10px;
}
.main-nav-list .box-list .conten-list-text li {
  color: #5c5c5c;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-right: 10px;
  text-decoration: none;
  margin-bottom: 15px;
  cursor: pointer;
}
.main-nav-list .box-list .conten-list-text li.on {
  color: #33bbff;
}
.main-nav-list .box-list .conten-list-text li:hover {
  color: #33bbff;
}
.main-nav-list .box-list .conten-list-text .more {
  position: absolute;
  right: -72px;
  top: -5px;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  color: #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #999;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.main-nav-list .box-list .conten-list-text .more .iconfont {
  font-size: 12px;
}
.main-nav-list .box-list .questions-number em {
  margin-left: 5px;
}
.con-subject-list {
  border-top: 20px solid #f5f5f5;
}
.con-subject-list .dy-loading {
  margin-top: 0;
}
.tab-con-subject {
  margin: 20px;
}
.tab-con-subject .box-top {
  margin-bottom: 15px;
}
.tab-con-subject .box-top .h3-title {
  border-left: 5px solid #ed5565;
  padding-left: 10px;
  color: #666;
  font-size: 16px;
}
.tab-con-subject .box-top .wrong-number {
  color: #ed5565;
}
.tab-con-subject .box-top .wrong-number em {
  margin-left: 5px;
}
.tab-con-subject .box-bottom {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}
.tab-con-subject .box-bottom:hover {
  border-top: 1px dashed #ed5565;
  border-bottom: 1px dashed #ed5565;
}
.tab-con-subject .box-bottom span {
  color: #999;
  margin-right: 10px;
}
.tab-con-subject .box-bottom .tiem {
  margin-right: 25px;
}
.tab-con-subject .box-bottom .in-download {
  color: #3bafda;
  cursor: pointer;
}
.tab-con-subject .box-bottom .in-download.on {
  color: #ed5565;
}
.tab-con-subject .box-bottom .in-download:hover {
  color: #4fc1e9;
}
.tab-con-subject .box-bottom .in-download.dw-active {
  color: #ed5565;
}
.tab-con-subject .box-bottom .see-contents {
  color: #666;
}
.tab-con-subject .box-bottom .see-contents:hover {
  color: #4fc1e9;
}
.box-fixed-download {
  border-top: 3px solid #ed5565;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  background: white;
  height: 135px;
  padding: 50px 0;
}
.box-fixed-download .in-total {
  color: #ed5565;
  font-size: 16px;
  margin-right: 40px;
}
.box-fixed-download .in-total b {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 12px;
}
.box-fixed-download .dy-btn-info {
  height: 30px;
  line-height: 28px;
  vertical-align: text-bottom;
}
.left-menu {
  left: 100px !important;
}
.student-inio {
  padding: 20px 30px;
  margin-left: -30px;
}
.student-inio .list-inio {
  width: 110px;
  height: 140px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #eee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 20px 25px;
  -moz-transition: all 0.5s ease 0s,;
  -webkit-transition: all 0.5s ease 0s,;
  -o-transition: all 0.5s ease 0s,;
  -ms-transition: all 0.5s ease 0s,;
  transition: all 0.5s ease 0s,;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.student-inio .list-inio:hover {
  background: #eee;
}
.student-inio .list-inio .top-header {
  height: 93px;
  text-align: center;
  padding-top: 14px;
  border-bottom: 1px dashed #eee;
}
.student-inio .list-inio .top-header img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 9px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.student-inio .list-inio .top-header span {
  font-size: 16px;
  display: block;
}
.student-inio .list-inio .bottom-text {
  line-height: 17px;
  position: relative;
  top: 5px;
  padding-top: 10px;
  text-align: center;
  color: #999;
}
.student-inio .list-inio .bottom-text b {
  font-size: 24px;
  color: #333;
  max-width: 90px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.box-not-warning {
  color: #999;
  line-height: 2em;
}
.box-not-warning .iconfont {
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.tab-con {
  clear: both;
}
.btn-key-clear {
  position: relative;
  top: -5px;
  font-size: 14px;
  margin-left: 20px;
}
.add-Class-not .add-Class-icon {
  font-size: 140px;
  margin-bottom: 140px;
  display: block;
  font-weight: normal;
}
.add-Class-not .dy-nothing-content {
  font-size: 30px;
  font-weight: bold;
}
.class-nothing .dy-nothing {
  height: 348px;
  line-height: 348px;
}
.class-nothing .add-Class-icon {
  font-size: 140px;
  margin-bottom: 100px;
  display: block;
  font-weight: normal;
  color: #ececec;
}
.class-nothing .dy-nothing-content {
  font-size: 30px;
  font-weight: bold;
  color: #ececec;
}
.js-load-more {
  cursor: pointer;
}
.js-load-more:hover {
  background: rgba(213, 213, 213, 0.39);
  color: #33bbff;
}
/*
主题干覆盖*/
.q-item {
  border: 0;
  box-shadow: 0 0 0 #ffffff;
  margin: 0;
}
