@import "../base";
@import "base-center";
//<!--**
//  个人设置 修改密码
//**-->

.password-hange {
  width: 500px;
  margin: 50px auto;
  li {
    margin-bottom: 15px;
  }
  label {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: right;
    margin-right: 10px;
  }
  p.p1 {
    float: left;
  }
  input {
    padding: 0 5px;
    width: 360px;
    height: 34px;
  }
  input.btn {
    width: 55px;
    margin-left: 95px;
  }
}
