@import "../base";
@import "base-center";
//<!--**
//  机构管理-基本信息
//**-->

//机构管理员展示层
.img-size {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.mechanism-setup .ul-list-3 .agency-management {
  margin-left: -143px;
}
.agency-management {
  width: 687px;
  clear: both;
  background: white;
  position: relative;
  padding: 25px 10px;
  .input-group {
    width: 269px;
    input {
      background-color: #f5f5f5;
    }
    .input-group-addon {
      background-color: #f5f5f5;
    }
    i.glyphicon-search {
      color: #bcbcbc;
    }
  }
  .header-ul-list {
    li {
      padding: 10px 0px;
      margin: 5px;
      width: 85px;
      height: 98px;
      float: left;
      .border-radius(3px);

      &:hover {
        background: #f5f5f5;
      }

      img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block;
        .border-radius(6px);
      }
      a {
        text-decoration: none;
        color: #617783;
      }
      p.name-style {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        height: 16px;
        font-size: 14px;
        .ellipsis;
      }
    }
  }
  i.triangle-up {
    position: absolute;
    left: 155px;
    overflow: hidden;
    text-indent: -9999px;
    top: -20px;
  }

}
//这里是班级信息，老师们都可以来添加哦
.mechanism-setup {
  .class-info {
    clear: both;
    textarea {
      width: 687px;
      height: 140px;
      clear: both;
      background: white;
      position: relative;
      padding: 5px;
      line-height: 1.6em;
      font-size: 14px;
      margin-left: -148px;
      border: 1px solid #e1e4e6;
    }
    .btn {
      position: relative;
      margin: 10px 0px 10px 455px;

    }
  }
  //基本信息 Amdend  覆盖样式
  .input-list {
    width: 575px;
  }
  .head-img {
    width: 110px;
    .head-portrait {
    }
  }
}

.login-setup .input-list .ul-list-3 > li > p.p-width-right{
  height: auto;
  width: 438px
}