.base-style a {
  color: #919699;
}
.base-style a:hover {
  text-decoration: none;
}
input,
button,
select,
textarea {
  outline: none;
}
.fz14 {
  font-size: 14px;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
input,
button,
select,
textarea {
  outline: none;
}
a.color-bule {
  color: #65cafc;
}
a.color-bule:hover {
  text-decoration: none;
  color: #5cb8e5;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
i.f-close,
i.col-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-style: normal;
  background: #ffffff;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 10px;
  border: 1px solid #e6e6e6;
  color: #b3b3b3;
  display: inline-block;
}
i.f-close:hover,
i.col-close:hover {
  background: #ffa64c;
  color: #ffffff;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid white;
}
.login-reg-icon {
  background-image: url("../../../image/loginreg/login-reg-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.login-reg-1 {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  vertical-align: middle;
  margin-left: 15px;
  cursor: pointer;
  text-indent: 99999px;
  overflow: hidden;
}
.login-reg-1:hover {
  background-position: 0 -57px;
}
.posa-icon {
  position: absolute;
  left: 18px;
  top: 0;
}
.login-reg-2 {
  position: absolute;
  left: 18px;
  top: 0;
  width: 15px;
  height: 14px;
  background-position: 0 -16px;
}
.login-reg-3 {
  position: absolute;
  left: 18px;
  top: 0;
  width: 15px;
  height: 15px;
  background-position: 0 -30px;
}
.login-reg-4 {
  position: absolute;
  left: 18px;
  top: 0;
  width: 15px;
  height: 12px;
  background-position: 0 -45px;
}
.audit-icon {
  background-image: url("../../../image/loginreg/audit-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.certification-audit {
  width: 60px;
  height: 60px;
  background-position: 0 0;
}
.certification-audit-delete {
  width: 60px;
  height: 60px;
  background-position: 0 -60px;
}
.teacher-staff {
  font-size: 14px;
}
.teacher-staff .staff-title select,
.teacher-staff .staff-title input {
  border: none;
}
.teacher-staff .staff-title select.select-box {
  background: #e6e6e6;
  color: #919699;
  padding: 5px;
}
.teacher-staff .staff-title .input-box {
  width: 154px;
  position: relative;
}
.teacher-staff .staff-title .input-box input {
  background: #e6e6e6;
  color: #919699;
  padding: 7.5px;
}
.teacher-staff .staff-title .input-box i.glyphicon-search {
  position: absolute;
  top: 7px;
  right: 19px;
  font-size: 16px;
  color: #b6b6b6;
}
.teacher-staff .staff-title .pagination {
  margin: 0;
}
.teacher-staff .staff-title .pagination .active a {
  background: #7ed2fc;
  color: white;
}
.teacher-staff .staff-title .pagination > li > a {
  background: #e6e6e6;
  color: #808080;
}
.teacher-staff .teacher-name-list {
  padding: 25px 20px 0;
  margin-bottom: 40px;
  background: white;
  overflow: hidden;
}
.teacher-staff .teacher-name-list .ul-list li {
  color: #617783;
  margin-bottom: 20px;
}
.teacher-staff .teacher-name-list .ul-list li .font-corol-grey {
  color: #919699;
  width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  height: 16px;
}
.teacher-staff .teacher-name-list .ul-list li .font-corol-pink {
  color: #fc9797;
}
.teacher-staff .teacher-name-list .ul-list li .font-corol-pink:hover {
  color: #f05151;
  cursor: pointer;
}
.teacher-staff .teacher-name-list .ul-list li .font-corol-green {
  color: #85c744;
}
.teacher-staff .teacher-name-list .ul-list li .font-corol-green:hover {
  color: #6ba92d;
  cursor: pointer;
}
.teacher-staff .teacher-name-list .ul-list li img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.teacher-staff .teacher-name-list .ul-list .last-boder-none .border-bottom {
  border: none;
}
.teacher-staff .teacher-name-list .delete-button {
  height: 47px;
  line-height: 47px;
  display: block;
}
.teacher-staff .teacher-name-list .curp-click:hover {
  color: #7ed2fc;
  cursor: pointer;
}
.teacher-staff .teacher-name-list .left-right-p0 .mb10 > .col-md-2 {
  width: 60px;
  margin-right: 5px;
  height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.teacher-staff .teacher-name-list .left-right-p0 div {
  padding: 0;
}
.teacher-staff .border-bottom {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  position: relative;
}
.teacher-staff .border-bottom s {
  width: 0;
  height: 12px;
  position: absolute;
  top: 18px;
  left: 49px;
  font-weight: normal;
  border-right: 1px solid #c9c9c9;
  overflow: hidden;
  text-indent: 99999px;
}
