<div class="dy-footer">
    <div class="container">
        <div class="copy-left">
            <p>客服热线： 400 - 123456</p>
            <p class="footer-tag-list">
                <a href="">关于我们</a>
                <a href="">联系我们</a>
                <a href="">产品中心</a>
                <a href="">常见问题</a>
                <a href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandalone_46.0.2490.80_Setup.1445829883.exe">建议使用 chrome 进行访问</a>
            </p>
            <p>
                Copyright © <a href="">得一科技责任有限公司dayeasy.net </a>
                <a href="http://www.miitbeian.gov.cn/" target="_blank"> 蜀ICP备14013147号</a> 2013-2015
            </p>
        </div>
        <div class="copy-right">
            <ul>
                <!--安卓下载-->
                <li class="bg-android-download">
                    <a class="android" href="javascript:void(0)">
                        <i class="iconfont dy-icon-31"></i>
                        <i class="iconfont dy-icon-30"></i>
                        <div class="app-qrcode">
                            <img  width="132" height="132" src="../../image/qrcode/android.png" alt=""/>
                        </div>
                    </a>
                </li>
                <!--app-->
                <li class="bg-app-qrcode">
                    <a class="android" href="javascript:void(0)">
                        <i class="iconfont dy-icon-31"></i>
                        <i class="iconfont dy-icon-38"></i>
                        <div class="app-qrcode">
                            <img  width="132" height="132" src="../../image/qrcode/android.png" alt=""/>
                        </div>
                    </a>
                </li>
                <!--QQ-->
                <li class="bg-qq">
                    <a class="android" href="javascript:void(0)">
                        <i class="iconfont dy-icon-31"></i>
                        <i class="iconfont dy-icon-41"></i>
                    </a>
                </li>
                <!--微博-->
                <li class="bg-weibo">
                    <a class="android" href="javascript:void(0)">
                        <i class="iconfont dy-icon-31"></i>
                        <i class="iconfont dy-icon-57"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/v3/js/jquery-1.10.2.min.js"></script>
<!--<script src="http://static.dayeasy.dev/plugs/artDialog/dist/dialog-plus.min.js?t=20150511" type="text/javascript"></script>-->
<script src="/v3/plugs/artDialog/dist/dialog-plus.min.js?t=20150511" type="text/javascript"></script>
<script src="/v3/js/artTemplate.min.js?t=20150511" type="text/javascript"></script>
<script src="/v3/source/js/base/common.js?t=20160830_001" type="text/javascript"></script>
<script src="/v3/source/js/base.js"></script>


