<!--[if lt IE 9]>
<style>
    .dy-header{border-bottom: 1px solid #f0f0f0;}
    .ul-fixed{border: 1px solid #f0f0f0;}
    .circle-list .top-one .img-mack{background: #a0d468;-ms-filter:"alpha(opacity=1)";filter:alpha(opacity=100);zoom:1;}
</style>
<![endif]-->

<div class="dy-header-tool">
    <div class="site-nav  f-cb">
        <ul class="ul-left f-fl">
            <li class="menu-1">
                <h1 class="logo">
                    <!--<a href="http://www.dayeasy.dev">-->
                        <img width="130" height="40" src="//static.dayeasy.dev//v3/image/logo-tool.png" alt="">
                    <!--</a>-->
                </h1>
            </li>
            <li class="z-crt menu-1">
                <a class="havechild" href="http://www.dayeasy.dev/work"><i class="iconfont dy-icon-yuejuan"></i>批阅中心</a>
            </li>
            <li class=" menu-1">
                <a href="http://www.dayeasy.dev/question" class="havechild" data-menu="">
                    <i class="iconfont dy-icon-chujuan"></i>
                    题库
                </a>
            </li>
            <li class=" menu-1">
                <a class="havechild" href="http://www.dayeasy.dev/paper"><i class="iconfont dy-icon-49"></i>试卷库</a>
            </li>
            <li class="menu-1 ">
                <a class="havechild" href="http://www.dayeasy.dev/paper/choosepapertype" data-menu="">
                    <i class="iconfont dy-icon-edit"></i>在线出卷
                </a>
            </li>
            <li class="menu-1 ">
                <a class="havechild" href="http://www.dayeasy.dev/report" data-menu="">
                    <i class="iconfont dy-icon-zhenduan"></i>报表
                </a>
            </li>
            <li class="menu-1 ">
                <a class="havechild" href="http://www.dayeasy.dev/tutor" data-menu="">
                    <i class="iconfont dy-icon-yuejuan"></i>辅导中心
                </a>
            </li>
            <li class="menu-1">
                <a class="havechild" href="http://www.dayeasy.dev/ea" data-menu="">
                    <i class="iconfont dy-icon-jiaowuguanli"></i>教务管理
                </a>
            </li>
        </ul>
    </div>
</div>

