/**
 * @Boz
 * @Name      ui\header
 * @date      2015-11-26
 */
.dy-header {
  min-width: 1200px;
  position: relative;
  z-index: 50;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
}
.dy-header .site-nav {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.dy-header .dy-nav {
  height: 60px;
  right: 5px;
  line-height: 60px;
  position: absolute;
  top: 0;
}
.dy-header .dy-nav a:link,
.dy-header .dy-nav a:active,
.dy-header .dy-nav a:visited {
  color: #3bafda;
  text-decoration: none;
}
.dy-header .dy-nav a:hover {
  color: #4fc1e9;
  text-decoration: none;
}
.dy-header .dy-nav i {
  background-color: #3bafda;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 12px;
  margin: -1px 5px;
  width: 1px;
}
.dy-header .ul-left a {
  color: #333;
}
.dy-header .ul-left a:hover {
  color: #3bafda;
}
.dy-header .ul-left h1.logo {
  margin-right: 72px;
  padding-top: 10px;
}
.dy-header .ul-left h1.logo a {
  padding: 0;
  display: block;
  height: 40px;
}
.dy-header .ul-left li a.havechild {
  display: block;
  padding: 0 15px 0 15px;
  position: relative;
  z-index: 2;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #656d78;
}
.dy-header .ul-left li a.havechild:hover {
  color: #3bafda;
}
.dy-header .ul-left li a.havechild:hover .iconfont {
  color: #3bafda;
}
.dy-header .ul-left li a i {
  vertical-align: 1px;
  margin-right: 5px;
}
.dy-header .ul-left li.menu-1 {
  float: left;
  position: relative;
}
.dy-header .ul-left li.menu-1:hover .g-ul-2 {
  display: block;
}
.dy-header .ul-left li.menu-1:hover .havechild {
  color: #3bafda;
}
.dy-header .ul-left li.z-crt > a {
  color: #3bafda;
}
.dy-header .ul-left li.z-crt .iconfont {
  color: #3bafda;
}
.dy-header .ul-left li .iconfont {
  position: relative;
  color: #aab2bd;
}
.dy-header .ul-left li .dy-icon-shouye {
  top: 1px;
}
.dy-header .ul-left li .dy-icon-49 {
  top: 2px;
}
.dy-header .ul-left li .dy-icon-yingyong {
  top: 2px;
}
.dy-header .ul-left .g-ul-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: none;
  font-size: 14px;
  line-height: 35px;
  padding: 50px 0 0;
  background: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
}
.dy-header .ul-left .g-ul-2 > li > a {
  display: block;
  padding-left: 40px;
  font-size: 12px;
}
.dy-header .ul-left .dy-icon-anglebottom {
  font-size: 12px;
}
.dy-header .ul-right > li {
  float: left;
  margin-right: 32px;
}
.dy-header .ul-right .soso {
  margin-top: 13px;
}
.dy-header .ul-right .search-combobox {
  background: #f5f7fa;
  width: 248px;
  height: 32px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  position: relative;
  border: 2px solid #f5f7fa;
  -moz-transition: border 0.5s ease 0s,;
  -webkit-transition: border 0.5s ease 0s,;
  -o-transition: border 0.5s ease 0s,;
  -ms-transition: border 0.5s ease 0s,;
  transition: border 0.5s ease 0s,;
  -moz-transition: border 0.5s ease 0s;
  -webkit-transition: border 0.5s ease 0s;
  -o-transition: border 0.5s ease 0s;
  -ms-transition: border 0.5s ease 0s;
  transition: border 0.5s ease 0s;
}
.dy-header .ul-right .search-combobox input.input-box {
  width: 196px;
  margin-left: 16px;
  font-size: 14px;
  padding: 6px 2px;
  height: 28px;
  background-color: #f5f7fa;
  border: none;
}
.dy-header .ul-right .search-combobox span.pos-box {
  position: absolute;
  right: 0;
  width: 35px;
  top: 0;
  height: 28px;
}
.dy-header .ul-right .search-combobox span.pos-box:hover .dy-icon-26 {
  color: #3bafda;
}
.dy-header .ul-right .search-combobox span.pos-box button {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.dy-header .ul-right .search-combobox span.pos-box i.dy-icon-26 {
  position: absolute;
  right: 0;
  width: 35px;
  top: 0;
  height: 28px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
.dy-header .ul-right .z-sel {
  border-color: #e6e9ed;
  background: #ffffff;
  color: #3bafda;
}
.dy-header .ul-right .z-sel input.input-box {
  background-color: #ffffff;
}
.dy-header .ul-right .info {
  margin-right: 60px;
  position: relative;
  margin-top: 13px;
}
.dy-header .ul-right .info span {
  position: absolute;
  right: -10px;
  top: 0;
  background: #ed5565;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  overflow: hidden;
}
.dy-header .ul-right .head-user {
  position: relative;
  margin-top: 10px;
}
.dy-header .ul-right .head-user .user-img {
  position: relative;
  z-index: 2;
}
.dy-header .ul-right .head-user .user-img img {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.dy-header .ul-right .head-user .ul-fixed {
  top: -10px;
  left: -26px;
  width: 100px;
  z-index: 1;
  position: absolute;
  display: none;
  font-size: 14px;
  padding: 0 15px 30px;
  background: #ffffff;
  -moz-transition: height 0.5s ease 0s,;
  -webkit-transition: height 0.5s ease 0s,;
  -o-transition: height 0.5s ease 0s,;
  -ms-transition: height 0.5s ease 0s,;
  transition: height 0.5s ease 0s,;
  -moz-transition: height 0.5s ease 0s;
  -webkit-transition: height 0.5s ease 0s;
  -o-transition: height 0.5s ease 0s;
  -ms-transition: height 0.5s ease 0s;
  transition: height 0.5s ease 0s;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
}
.dy-header .ul-right .head-user .ul-fixed .mt-padd {
  margin-top: 70px;
}
.dy-header .ul-right .head-user .ul-fixed li {
  margin-bottom: 10px;
}
.dy-header .ul-right .head-user .ul-fixed li a {
  color: #333;
}
.dy-header .ul-right .head-user .ul-fixed li:hover a {
  color: #3bafda;
}
.dy-header .ul-right .head-user:hover .ul-fixed {
  display: block;
}
.dy-header .ul-right .head-user .iconfont {
  font-size: 18px;
  margin-right: 10px;
}
.dy-header .ul-right .head-user-notlogged {
  height: 60px;
  line-height: 60px;
}
.dy-header .ul-right .head-user-notlogged a,
.dy-header .ul-right .head-user-notlogged b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #3bafda;
}
.dy-header .ul-right .head-user-notlogged a:hover {
  color: #4fc1e9;
}
.dy-header .ul-right .head-user-notlogged b {
  margin: 0px 7px;
}
.dy-header .ul-right .dy-icon-11 {
  font-size: 32px;
}
.dy-header .d-top-nav {
  float: left;
  font-size: 18px;
  line-height: 60px;
  color: #666666;
}
.po-detail-ba {
  color: #333;
  position: absolute;
  margin-left: 25px !important;
  animation: ba_fly 0.2s .2s alternate infinite;
  -webkit-animation: ba_fly 0.2s .2s alternate infinite;
  -moz-animation: ba_fly 0.2s .2s alternate infinite;
  -ms-animation: ba_fly 0.2s .2s alternate infinite;
  -o-animation: ba_fly 0.2s .2s alternate infinite;
  transform: rotateZ(3.5deg);
  -webkit-transform: rotateZ(3.5deg);
  -moz-transform: rotateZ(3.5deg);
  -ms-transform: rotateZ(3.5deg);
  -o-transform: rotateZ(3.5deg);
  font-size: 18px;
}
@keyframes ba_fly {
  0% {
    transform: translateX(0%) translateY(-15%) rotateZ(3.5deg);
  }
  100% {
    transform: translateX(0%) translateY(0%) rotateZ(3.5deg);
  }
}
@-webkit-keyframes ba_fly {
  0% {
    -webkit-transform: translateX(0%) translateY(-15%) rotateZ(3.5deg);
  }
  100% {
    -webkit-transform: translateX(0%) translateY(0%) rotateZ(3.5deg);
  }
}
@-moz-keyframes ba_fly {
  0% {
    -moz-transform: translateX(0%) translateY(-15%) rotateZ(3.5deg);
  }
  100% {
    -moz-transform: translateX(0%) translateY(0%) rotateZ(3.5deg);
  }
}
@-ms-keyframes ba_fly {
  0% {
    -ms-transform: translateX(0%) translateY(-15%) rotateZ(3.5deg);
  }
  100% {
    -ms-transform: translateX(0%) translateY(0%) rotateZ(3.5deg);
  }
}
@-o-keyframes ba_fly {
  0% {
    -o-transform: translateX(0%) translateY(-15%) rotateZ(3.5deg);
  }
  100% {
    -o-transform: translateX(0%) translateY(0%) rotateZ(3.5deg);
  }
}
@keyframes ba_fly {
  0% {
    transform: translateX(0%) translateY(-15%) rotateZ(3.5deg);
  }
  100% {
    transform: translateX(0%) translateY(0%) rotateZ(3.5deg);
  }
}
