@import "base";

.fr-box-share {
  width: 400px;
  background: #fff;
  border: 1px solid #eee;
  padding: 27px 29px;
  .close-share {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    font-size: 9px;
    cursor: pointer;
    &:hover {
      color: #999;
    }
  }
  .font-color-bule {
    color: #3bafda;
    &:hover {
      color: #4fc1e9;
    }
  }
  .dy-icon-42 {
    font-size: 16px;
    margin-right: 11px;
  }
  .ul-list-letter {
    li {
      float: left;
      width: 100/3%;
      a {
        .inline-block;
        background: none !important;
        color: #a9a9a9;
        font-size: 17px !important;
        &:before {
          font-size: 40px;
          position: relative;
          top: 6px;
          left: -8px;
        }
        span {
          position: relative;
          top: -6px;
          right: 0;
        }
        &:hover {
          .dy-icon-44 {
            color: #8cc152;
          }
          .dy-icon-47 {
            color: #da4453;
          }
          .dy-icon-45 {
            color: #3bafda;
          }
        }
      }
    }
  }
  .dy-icon-44:before {
    color: #a0d468;
  }
  .dy-icon-47:before {
    color: #ed5565;
  }
  .dy-icon-45:before {
    color: #4fc1e9;
  }
  .mb25 {
    margin-bottom: 25px;
  }
}