/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2016/4/28 14:15  Last Mondify Date:2016/4/28 14:15
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
/** MAIN STYLE **/
.dy-wrap {
  background: #f5f5f5;
}
.page-result {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}
.page-result .dy-h2 {
  margin-bottom: 20px;
}
.result-monthly {
  border-bottom: 30px solid #f5f5f5;
}
.result-monthly .monthly-cot {
  padding-left: 30px;
  padding-right: 30px;
}
.result-monthly .result-list {
  margin-left: 18px;
}
.result-monthly .box-titile {
  width: 932px;
}
.result-monthly .result-user {
  text-align: center;
}
.result-monthly .result-user img {
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}
.result-monthly .result-user strong {
  font-weight: bold;
  font-size: 16px;
}
.result-monthly .result-title {
  background: #3bafda;
  color: #fff;
  padding: 0 45px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.result-monthly .result-title .angle-left,
.result-monthly .result-title .angle-right {
  position: absolute;
  top: 0;
  z-index: 100;
  display: block;
}
.result-monthly .result-title i.angle-left {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed dashed dashed solid;
  border-width: 25px 0 25px 15px;
  border-color: transparent transparent transparent white;
  left: 0;
}
.result-monthly .result-title i.angle-right {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed solid dashed dashed;
  border-width: 25px 15px 25px 0;
  border-color: transparent white transparent;
  right: 0;
}
.result-monthly .result-title dl {
  vertical-align: top;
}
.result-monthly .result-title dt,
.result-monthly .result-title dd {
  float: left;
  height: 50px;
  line-height: 50px;
}
.result-monthly .result-title dt {
  font-size: 14px;
  position: relative;
  top: 2px;
}
.result-monthly .result-title dd {
  font-size: 20px;
  font-weight: bold;
  width: 65px;
  margin-right: 20px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.result-monthly .result-title dd.last {
  margin-right: 0;
}
.result-monthly .dy-table th {
  text-align: center;
  color: #999;
}
.result-monthly .dy-table th:nth-child(2) {
  text-align: left;
}
.result-monthly .dy-table td {
  text-align: center;
}
.result-monthly .dy-table td:nth-child(2) {
  text-align: left;
}
.result-monthly .dy-table td.miss {
  color: #bbb;
}
.result-monthly .dy-table td .f-toe {
  width: 225px;
  display: block;
}
.result-fraction {
  padding-top: 30px;
}
.result-fraction .fraction-list {
  padding-left: 30px;
}
.result-fraction .fraction-list .ove-y {
  height: 287px;
  width: 350px;
  overflow: hidden;
  position: relative;
}
.result-fraction .fraction-list dl {
  width: 350px;
  margin-right: 45px;
  float: left;
  margin-right: 32px;
  margin-left: 7px;
  margin-bottom: 15px;
}
.result-fraction .fraction-list dl dd {
  border: 1px solid #eeeeee;
}
.result-fraction .fraction-list .table-tbody-th {
  height: 40px;
  background: #f5f7fa;
}
.result-fraction .fraction-list .table-tbody-th .th {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #999;
  padding: 13px 15px;
  margin: 0px;
}
.result-fraction .fraction-list .table-tbody-th .th-one {
  width: 157px;
}
.result-fraction .fraction-list .table-tbody-th .th-two {
  width: 187px;
}
.result-fraction .fraction-list .table-tbody-bottom-list {
  background: #f5f5f5;
}
.result-fraction .fraction-list .table-tbody-bottom-list li {
  float: left;
  width: 33.333333%;
  color: #999;
  padding: 13px 5px;
}
.result-fraction .fraction-list .table-tbody-bottom-list li span {
  width: 50px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #333;
  position: relative;
  top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.result-fraction .fraction-list ul.title-list {
  margin-bottom: 10px;
}
.result-fraction .fraction-list ul.title-list li {
  float: left;
  height: 40px;
  line-height: 40px;
}
.result-fraction .fraction-list ul.title-list .subject strong {
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}
.result-fraction .fraction-list ul.title-list .ranking span {
  color: #ed5565;
  font-size: 18px;
}
.result-fraction .fraction-list ul.title-list .test-ab {
  float: right;
}
.result-fraction .fraction-list td.bottom-list {
  background: #f5f5f5;
}
.result-fraction .fraction-list td.bottom-list li {
  float: left;
  width: 33.333333%;
  color: #999;
}
.result-fraction .fraction-list td.bottom-list li span {
  width: 50px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #333;
  position: relative;
  top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.result-fraction .fraction-list .dy-table {
  border-collapse: inherit;
}
.result-fraction .fraction-list .dy-table th {
  color: #999;
}
