@import "base-page";

.teacher-a{
  .u-tt{
    color: @color-grey;
    a{ color: @color-blue;  display: inline-block;margin: 0 10px;
      &:hover{
        color: @color-orange;
        text-decoration: underline;
      }
    }
  }
}