/*--------------------------------------------------------------
                        题目统计 推送

      Author:Plato
      Create Date:15.08.25    Last Mondify Date:15.08.25
      ===================================================

--------------------------------------------------------------*/
@import "ui-variables";
@import      (reference)"../../icon-base.less";


/*--------------------------------------------------------------
                         IMG url
--------------------------------------------------------------*/
.icon-markingcenter {
  .icon-markingcenter();
}
//推送 小气泡
.icon-markingcenter.marking-center-bubble {
  .marking-center-bubble();
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  font-style: normal;
  position: absolute;
  border-bottom: 0;
  right: -37px;
  color: @color-default;
}

/*--------------------  main Style  -----------------------*/



/*--------------------------------------------------------------
                         ui Style
--------------------------------------------------------------*/
