<div class="color-panel hidden-phone">
    <div class="color-mode-icons icon-color"></div>
    <div class="color-mode hide">
        <p>选择主题颜色</p>
        <ul class="inline">
            <li class="color-white current" title="简约主题" data-style="default"></li>
            <li class="color-black" title="酷炫主题" data-style="black"></li>
        </ul>
        <div class="color-fixed">
            <label class="checkbox">
                <input type="checkbox" checked="checked" />
                是否固定顶部页头
            </label>
        </div>
    </div>
</div>