/**
 * Created by Boz on 2016/5/20.
 * ??????
 */
@import "../base";
// ???????
.dy-questions-cont {
  padding: 15px 20px;
  img{max-width: 90%;}
  .section-title{ font-size: 16px; color: #333; margin: 0 8px;}
  .q-title{ float: left; font-size: 14px; font-style: normal;.inline-block; margin-right: 5px; color: #333;}
  .dy-questions-con-list {
    border-bottom: 1px solid #eee;
    &:last-child{border-bottom:none;}
    }
  }
.dy-questions-btn {
  .q-title{ float: left; font-size: 14px; font-style: normal;.inline-block; margin-right: 5px;}
  .tab-menu {
    li { float: left; width: 50%; text-align: center;
      height: 25px;
      line-height: 25px;
      &.see-answer-li{ width: 40%;}
      &.error-analysis-li{ width: 60%;}
      }
    }
  .tab-menu-box4{
    width: 60%;
    margin-bottom: 0;
    margin-top: 0;
    }
  .add-wrongpeople{ color: #999; font-size: 12px; width: 16%; line-height: 25px;}
  .add-fraction{ font-size: 12px; width: 24%; text-align: right; line-height: 25px;}
  span.the-number{    color: #999;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    position: absolute;
    top:0px;
    text-align: right;
    left: -63px;
    .inline-block;
    width: 61px;
    em{ font-style: normal;margin: 0 1px;.inline-block;max-width: 61px;
      position: relative; top: 0px;
      height: 25px;line-height: 25px;
      }
    }
  span.mark-errors{
    position: relative;
    height: 25px;
    line-height: 25px;
    .inline-block;
    }
  a { position: relative;
    color: #3bafda;
    .inline-block;
    font-size: 14px;
    i {
      margin-left: 5px;
      position: relative;
      }
    }
  .angle{
    .angle-bottom(6px, #3bafda, 6px);
    position: absolute;
    top: 10px;
    }
  .on{
    .angle{
      .angle-top(6px, #3bafda, 6px);
      position: absolute;
      top: 10px;

      }
    }
  .tab-conten{
    .tab-base{ display: none;}
    .original-title,.see-answer,.error-analysis{
      padding: 12px 8px 8px;
      position: relative;
      }
    .original-title{

      }
    .see-answer{
      font-size: 14px;
      }
    .error-analysis{
      .g-btn{
        button{  color: #fff;
          height: 30px;
          line-height: 30px;
          padding: 0 25px;
          .rounded-corners(4px);
          background-color: #3bafda;
          border: none;
          }
        }
      }


    }
  }

//.d-base-header{ margin-bottom: 40px;}
// G-UI-?????????
.head-nav-wrap{height: 40px;}
.head-href-list {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  padding: 0 20px;
  width: 100%;
  background: white;
  top: 0px;

  .transition(all 0.5s ease 0s);
  &.on{
    z-index: 100000;
    top: 0px;
    }
  a {
    width: 320/3/320*100%;
    display: block;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #999;
    }
  a.on {
    color: #3bafda;
    span {
      position: relative;
      &:before {
        background-color: #3bafda;
        height: 2px;
        width: 56px;
        content: ' ';
        position: absolute;
        bottom: -10px;
        left: 0px;
        }
      }
    }
  }

.work-variant-pass{
  padding: 0;
  }
//<link rel="stylesheet" href="/source/css/page/work-answer-paper.css"/>
.dy-questions-cont .q-title{    margin-top: 2px;}
.dy-questions-cont .dy-questions-con-list .g-tag { margin-left: 15px; margin-top: 5px;}
.box-questions-list{
  .dy-questions-btn{ margin-bottom: 10px; margin-top: 10px; overflow: hidden; width: 100%;}
  & >.q-body{ margin-top: 10px;}
  }

