/**
 * Created by Boz on 2016/5/20.
 * 变式相关
 */
strong {
  font-weight: normal;
}
.work-variant-pass {
  padding: 0;
}
.work-variant-pass .dy-questions-con-list .q-item > .q-title {
  font-size: 14px;
  position: relative;
}
.work-variant-pass .variant-title-user {
  font-size: 16px;
  color: #333;
  margin-bottom: 0;
  font-weight: normal;
}
.work-variant-pass .variant-title-user span {
  font-size: 14px;
  color: #666;
  margin-left: 5px;
}
.work-variant-pass .dy-questions-btn {
  padding-bottom: 15px;
}
.work-variant-pass .dy-questions-btn .tab-menu {
  margin-bottom: 0;
}
.work-variant-pass .dy-questions-btn .tab-menu li.on {
  position: relative;
}
.work-variant-pass .dy-questions-btn .tab-menu li.on a:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 73px;
  left: 0px;
  background: #5cbde0;
}
.work-variant-pass .dy-questions-btn .tab-conten .tab-base {
  background: #f5fafd;
}
