/**
 * Created by Boz on 2016/5/19.
 * 加入圈子成功-跳转页面
 */
.group-apply-success .g-content-1 {
  margin-top: 20px;
  color: #85c744;
  margin-bottom: 20px;
}
.group-apply-success .g-content-1 .dy-icon-success {
  font-size: 30px;
  margin-bottom: 10px;
}
.group-apply-success .g-content-1 .p-text {
  font-size: 16px;
}
.group-apply-success .g-content-1 .a01 {
  color: #85c744;
}
.group-apply-success .g-content-1 .a01:hover {
  color: #85c744;
}
.group-apply-success .g-content-2 img {
  margin-bottom: 10px;
}
.group-apply-success .g-content-2 .group-name {
  font-size: 14px;
  color: #666;
}
.group-apply-success .g-content-2 .group-count {
  font-size: 12px;
  color: #999;
}
