#right-panel {
  width: 170px;
  padding: 0;
  background: #fff;
}
.d-group {
  padding: 20px;
  margin: 0 auto;
  background: white;
  min-width: 300px;
}
.d-group-list li {
  height: 72px;
  margin: 8px 0;
  border-bottom: 1px solid #f1f1f1;
  padding: 8px 0;
  position: relative;
}
.d-group-list li img {
  float: left;
  margin-right: 16px;
  width: 60px;
  height: 60px;
  border: 4px;
}
.d-group-list li .group-name {
  display: block;
  height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  line-height: 16px;
  color: #333;
}
.d-group-list li .group-count {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  width: 40%;
}
.d-group-list li .group-member {
  color: #666;
  font-size: 14px;
}
.d-group-list li .d-message-count {
  width: 80px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #3bafda;
  border: 1px solid #3bafda;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: center;
}
.d-group-list li .group-number {
  height: 21px;
}
.d-group-list li .group-number span.group-name {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 176px;
}
.d-group-list li .group-number .number {
  font-style: normal;
  font-size: 12px;
  color: white;
  background-color: #ed5565;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  top: -7px;
  right: -7px;
}
/* media */
/* 横屏 */
/* 竖屏 */
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width: 959px) {
  .d-group-list li .group-number span.group-name {
    max-width: 628px;
  }
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width: 767px) {
  .d-group-list li .group-number span.group-name {
    max-width: 500px;
  }
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width: 639px) {
  .d-group-list li .group-number span.group-name {
    max-width: 338px;
  }
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width: 479px) {
  .d-group-list li .group-number span.group-name {
    max-width: 176px;
  }
}
