/**
 * Created by Boz on 2016/5/19.
 * 加入圈子成功-跳转页面
 */
@import "../base";

.group-apply-success{
  .g-content-1{
    margin-top: 20px;
    color: #85c744;
    margin-bottom: 20px;
    .dy-icon-success{ font-size: 30px;  margin-bottom: 10px;}
    .p-text{ font-size: 16px;}
    .a01{ color: #85c744;
      &:hover{ color: #85c744;}
      }
    }
  .g-content-2{
      img{ margin-bottom: 10px;}
    .group-name{ font-size: 14px; color: #666;}
    .group-count{ font-size: 12px; color: #999;}
    }
  .g-content-3{}
  }













//.d-group {
//  padding: 20px;
//  margin: 0 auto;
//  background: white;
//  min-width: 300px;
//  }
//// 圈子列表页-列表
//.d-group-list {
//  dt {
//    padding: 15px 0;
//    font-size: 16px;
//    font-weight: normal;
//    margin: 0;
//    }
//  dd{
//    height: 72px;
//    margin:8px 0;
//    border-bottom: 1px solid #f1f1f1;
//    padding:8px 0;
//    position: relative;
//    img {
//      float: left;
//      margin-right: 16px;
//      width: 56px;
//      height: 56px;
//      border: 4px;
//      }
//    .group-name {
//      display: block;
//      height: 21px;
//      overflow: hidden;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//      font-size: 16px;
//      line-height: 16px;
//      color: #333;
//      p{.inline-block;     position: relative;padding-right: 23px;}
//      }
//    .group-count {
//      font-size: 12px;
//      line-height: 18px;
//      color: #999;
//      }
//    .group-member{
//      color: #666;
//      font-size: 14px;
//      }
//    .d-number-count{
//      width: 18px;
//      height: 18px;
//      color: @color-default;
//      background-color: #ed5565;
//      font-size: 12px;
//      position: absolute;
//      right: 0px;
//      .inline-block;
//      .rounded-corners(50%);
//      text-align: center;
//      }
//    }
//
//  }
