/**
 * Created by Boz on 2016/5/20.
 * 加入圈子成功-跳转页面
 */
@import "../base";

/*班级圈详情列表*/
.work-notice-analysis{ font-size: 14px;
  .h2-title{ font-size: 16px; color: #333;margin: 15px 20px; font-weight: normal;}
  }
.head-title-analysis{
  background-color: #f5fbfd;
  padding:20px 20px 15px 0;
  color: #999;
  border-bottom: 1px solid #eee;
  .td-left{
    width: 31.25%;
    text-align: center;
    margin-top: 32.5px;
    b{
      color: #3bafda;
      font-size: 26px;
      width: 90px;
      display: inline-block;
      }
    }
  .td-right{
    border-left: 1px solid #eee;
    width:68.5%;
    dl{
      margin: 0;
      width: 50%;
      float: left;
      margin-bottom: 20px;
      }
    dt{ font-weight: normal; text-align: center;}
    dd{
      color: #3bafda;
      font-size: 18px;
      text-align: center;
      word-wrap: normal; /* for IE */
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      }
    }
  }


.table-analysis{
  padding: 0px 20px;
  }


#ove-x{
  width:100%;
  overflow:auto;
  }

.d-ranking{
  padding: 0 20px;



  dl{
    margin-bottom: 10px;
    }
  dt,dd{margin: 0;}
  dt{ float: left; color: #333;}
  dd{ float: right;.inline-block;padding: 0px 7.5px; color: #666;
    &.on{ color: #000; color: #3bafda;}
    }

.subject{ font-weight: bold;
  width: 20%;
  }
.tab-menu{
  width: 80%;
  text-align: right;
  margin-bottom: 5px;
  span{
    .inline-block;
    margin: 0 5px;
    border: 1px solid #eee;
    color: #bbb;
    padding: 0 6px;
    &.on{ color: #000; color: #3bafda; border-color:#3bafda; }
    }
  }
  .tab-score-conten{
    table{ width: 100%;
      display: none;
      margin-bottom: 15px;
      &.on{ display: inline-table;}
      }
    }
  }


.d-analysis-table{
  width: 100%;
  th,td{ border: 1px solid #eee;padding: 5px; text-align: center;}
  th{ color: #666;}
  td{ color: #999;}
  }

.g-segment{
  th,td{ width: 50%;}
  }