/*--------------------------------------------------------------
                        题目统计 推送

      Author:Plato
      Create Date:15.09.01    Last Mondify Date:15.09.01
      ===================================================

--------------------------------------------------------------*/
@import "ui-base.less";
//@import "theme.default.less";
@import      (reference)"../../icon-base.less";

/*--------------------------------------------------------------
                         IMG url
--------------------------------------------------------------*/

/*--------------------  main Style  -----------------------*/
.coach-guide {
.title-hd{
  text-align: right;
 a.btn{
   border:none;
   font-size: 15px;
   .rounded-corners(3px);
   padding: 11px 17px;
   margin-bottom: 20px;
 }
}

}

/*--------------------------------------------------------------
                         ui Style
--------------------------------------------------------------*/
.table-cover{
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  tr{
    th{
      background: #e5e5e5;
      color: #999;
    }
    td{
      padding: 15px;
    }
    th:nth-child(1){
      text-indent: 45px;
    }
    td:nth-child(1){
      text-indent: 45px;
    }
    &:hover{
      background: white;
    }
  }
  a{
    color: #65cafc;}
  .color-grey{
    color: #999;
  }
  .color-green{
    color: #85c744;}
  .color-red{
    color: #f78383;
  }
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{  padding: 15px 8px;}