/*--------------------------------------------------------------
                        题目统计 推送

      Author:Plato
      Create Date:15.09.01    Last Mondify Date:15.09.01
      ===================================================

--------------------------------------------------------------*/
@import "ui-base.less";
//@import "theme.default.less";
@import      (reference)"../../icon-base.less";

/*--------------------------------------------------------------
                         IMG url
--------------------------------------------------------------*/

/*--------------------  main Style  -----------------------*/
.coach-order {
  .title-hd{
    margin-bottom: 15px;
    h2{
      font-size: 24px;
      .inline-block;
      margin-right: 32px;
    }
    span{
      color: #999;
      em{
        font-style: normal;
        color: #555;
      }
    }
  }

}

/*--------------------------------------------------------------
                         ui Style
--------------------------------------------------------------*/
.table-cover{
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  tr{
    th{
      background: #e5e5e5;
      color: #999;
    }

    th:nth-child(1){
      text-indent: 80px;
    }
    td:nth-child(1){
      text-indent: 80px;
    }
    th:nth-child(4),td:nth-child(4){
      text-align: right;
      padding-right: 46px;
    }
    &:hover{
      background: white;
    }
  }
}
 .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{  padding: 15px 8px;}