/*--------------------------------------------------------------
                        辅导后台

      Author:Plato
      Create Date:15.09.01    Last Mondify Date:15.09.01
      ===================================================

--------------------------------------------------------------*/
* {
  outline: none;
}
.dy-body .dy-container {
  width: auto;
  background: #f5f5f5;
}
a {
  color: #999999;
}
a:hover {
  text-decoration: none;
}
h2 {
  margin: 0;
  line-height: 1em;
}
dl {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
                         ui Style
--------------------------------------------------------------*/
.coach-center {
  background: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 95px;
}
.ui-top-title {
  background: white;
}
.ui-top-title .navigation {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.ui-top-title .navigation li {
  float: left;
}
.ui-top-title .navigation li a {
  display: block;
  margin-right: 6px;
}
.ui-top-title .navigation li span {
  padding-left: 6px;
  position: relative;
  top: -1px;
}
