@import "../../less/base";

body {
  background-color: @color-bg-base;
}

.d-box {
  background-color: @color-default;
  margin: 30px auto 20px;
  padding: 20px 0;
  width: 1200px;
  .d-title {
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-left: 5px solid @d-color-red;
    small {
      font-size: 14px;
      color: @d-color-gray;
      margin-left: 5px;
    }
  }
}