@{
    ViewBag.Title = "注册服务协议";
}
<div class="d-wrap">
    <div id="protocal" class="white_container">
        <h2 class="align_center">得一在线互动教育云平台 · 得一平台使用条款</h2>
        <h3 class="align_center">郑重提醒：正确认识网络世界，重视参加网络活动的安全性，加强防范，确保安全。</h3>
        <h3><em>特别提示:</em>青少年网友在参与网络活动中注意以下事项，加强自我保护：</h3>
        <p><em>1.</em>青少年网友要注意区分网络与现实的区别，避免沉迷于网络。</p>
        <p><em>2.</em>网友填写个人资料时，加强个人保护意识，以免不良分子对个人生活造成骚扰。</p>
        <p><em>3.</em>未满18岁青少年应在监护人指导和监督下上网。</p>
        <p><em>4.</em>青少年网友应避免陌生网友会面或参与联谊活动，以免为不法分子所乘，危及自身。</p>
        <p><em>5.</em>如有违法行为，得一科技保留配合公安和电信部门追查的权利。</p>
        <h3><em>1.</em>总则</h3>
        <p>
            <em>1.1</em>
            四川得一科技有限公司（以下简称“得一科技”）依据并贯彻《全国人民代表大会常务委员会关于加强网络信息保护的决定》的文件精神，制定 《得一在线互动教育云平台服务使用协议》
            。得一科技同意按照本协议的规定及其不时发布的操作规则提供基于互联网以及移动网的得一在线互动教育云平台服务（以下称“我的得一”），为获得“我的得一”服务，“我的得一”使用人（以下称“用户”）应当基于了解本协议全部内容，在独立思考的基础上认可、同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击“提交注册信息”按钮即表示用户完全接受本协议项下的全部条款。
        </p>
        <p>
            <em>1.2</em>用户注册成功后，得一科技将为用户基于“我的得一”使用的客观需要而在申请、注册“我的得一”时，按照注册要求提供的帐号开通“我的得一”服务，用户有权在得一科技为其开通、并同意向其提供服务的基础上使用“我的得一”。该用户帐号和密码由用户负责保管；用户使用“我的得一”过程中，须对自身使用“我的得一”的行为，对任何由用户通过
            “我的得一”服务发布、公开的信息，及对由此产生的任何后果承担全部责任。用户提交、发布或显示的信息将对其他“我的得一”用户及第三方服务及网站可见（用户可通过设置自行控制、把握可查阅其信息的帐号类型）。
        </p>
        <p><em>1.3</em>用户注册成功后，在使用“我的得一”服务的过程中，得一科技有权基于用户的操作行为进行非商业性的调查研究。</p>
        <h3><em>2.</em>个人信息保护</h3>
        <p><em>2.1</em><span>个人信息的收集</span></p>
        <p>
            用户已知悉且同意，在用户注册“我的得一”帐号或使用“我的得一”提供的服务时，“我的得一”将记录用户提供的相关个人信息，如：姓名、手机号码等，上述个人信息是用户获得“我的得一”提供服务的基础。同时，基于优化用户体验之目的，“我的得一”会获取与提升“我的得一”服务有关的其他信息，例如当用户访问“我的得一”时，我们可能会收集哪些服务的受欢迎程度、浏览器软件信息等以便优化我们的服务。
        </p>

        <p><em>2.2</em><span>个人信息的管理</span></p>

        <p>为了向用户提供更好的服务或产品，“我的得一”会在下述情形使用用户的个人信息：</p>

        <p><em>2.2.1</em>根据相关法律法规的要求；</p>

        <p><em>2.2.2</em>根据用户的授权；</p>

        <p><em>2.2.3</em>根据“我的得一”相关服务条款、应用许可使用协议的约定。</p>

        <p>未经用户本人允许，“我的得一”不会向任何第三方披露用户的个人信息，下列情形除外：</p>

        <p><em>1)</em>“我的得一”已经取得用户或用户监护人的授权；</p>

        <p><em>2)</em>司法机关或行政机关给予法定程序要求“我的得一”披露的；</p>

        <p><em>3)</em>“我的得一”为维护自身合法权益而向用户提起诉讼或仲裁时；</p>

        <p><em>4)</em>根据用户与“我的得一”相关服务条款、应用许可使用协议的约定；</p>

        <p><em>5)</em>法律法规规定的其他情形。</p>

        <p><em>2.3</em><span>个人信息的保护</span></p>

        <p>“我的得一”将尽一切合理努力保护其获得的用户个人信息。为防止用户个人信息在意外的、未经授权的情况下被非法访问、复制、修改、传送、遗失、破坏、处理或使用，“我的得一”已经并将继续采取以下措施保护用户的个人信息：</p>

        <p><em>2.3.1</em>以适当的方式对用户的个人信息进行加密处理；</p>

        <p><em>2.3.2</em>在适当的位置使用密码对用户个人信息进行保护；</p>

        <p><em>2.3.3</em>限制对用户个人信息的访问；</p>

        <p><em>2.3.4</em>其他的合理措施。</p>

        <p>
            尽管已经采取了上述合理有效措施，并已经遵守了相关法律规定要求的标准，但“我的得一”仍然无法保证用户的个人信息通过不安全途径进行交流时的安全性。因此，用户个人应采取积极措施保证个人信息的安全，如：定期修改帐号密码，不将自己的帐号密码等个人信息透露给他人。
        </p>

        <p>
            用户知悉：“我的得一”提供的个人信息保护措施仅适用于“我的得一”平台，一旦用户离开“我的得一”，浏览或使用其他网站、服务及内容资源，“我的得一”即没有能力及义务保护用户在“我的得一”以外的网站提交的任何个人信息，无论用户登陆或浏览上述网站是否基于“我的得一”的链接或引导。
        </p>

        <p><em>2.4</em><span>个人信息的访问</span></p>

        <p>
            当用户完成“我的得一”的帐号注册后，用户可以查阅或修改用户提交给“我的得一”的个人信息。一般情况下，用户可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如号码申诉服务）的考虑，用户可能无法修改注册时提供的某些初始注册信息及验证信息。
        </p>

        <p><em>2.5</em><span>对Cookie及web beacon的使用</span></p>

        <p>
            Cookie可以帮助网站辨认注册用户，计算用户数量，通常被各网站用来判定完成注册的用户是否已经实现登录。“我的得一”承诺，对cookie信息的研究仅用于提升服务/产品质量及优化用户体验之目的。同时，如不希望个人信息保留在cookie中，用户可以对浏览器进行配置：选择"拒绝cookie"或"当网站发送cookie时通知您"，用户知道，鉴于“我的得一”的服务是通过支持cookie来是实现的，完成关闭cookie的操作后，可能影响到用户访问“我的得一”或不能充分取得“我的得一”的服务。用户不禁用cookie时，可能会得到提示：是否在下一次进入此网站时保留用户信息以便简化登录手续（如一键登录）。
        </p>

        <p>“我的得一”使用web beacon的方法和目的与cookie是相同的。</p>

        <p><em>2.6</em><span>对未成年人个人信息的特别保护</span></p>

        <p>
            “我的得一”非常重视对未成年人个人信息的保护。若用户是18周岁以下的未成年人，在使用“我的得一”的服务前，应确保事先取得监护人的同意，如用户在“我的得一”上申请注册账号，“我的得一”将默认为用户已得到前述同意。“我的得一”将根据国家相关法律法规及本协议项的规定保护未成年人的个人信息。
        </p>

        <p><em>2.7</em><span>隐私保护政策的修改</span></p>

        <p>
            “我的得一”有权随时修改本协议项的任何条款，一旦本协议项的内容发生变动，“我的得一”将会直接在“我的得一”网站上公布修改之后的内容，该公布行为视为“我的得一”已经通知您修改内容。“我的得一”也可通过其他适当方式向用户提示修改内容。如果您不同意“我的得一”对本协议项相关条款所做的修改，您有权停止使用“我的得一”。如果您继续使用“我的得一”，则视为您接受得一科技对本协议相关条款所做的修改。
        </p>

        <h3><em>3.</em>服务内容</h3>

        <p>
            <em>3.1</em>“我的得一”服务的具体内容由得一科技根据实际情况提供，包括但不限于授权用户通过其帐号，使用“我的得一”发布观点、评论、图片、视频、转发链接等，得一科技有权对其提供的服务进行扩展，且得一科技提供的服务的性质可能随时变更，用户将不会收到得一科技关于服务性质变更的通知，除非得一科技认为情况必要。
        </p>

        <p>
            <em>3.2</em>得一科技提供的“我的得一”服务中将有可能包含需要使用者通过得一科技的虚拟货币系统购买“我的得一”的虚拟货币，进行间接付费的服务，用户将根据得一科技虚拟货币系
            统的流程和方式，通过以真实货币购买虚拟货币，再以该虚拟货币购买用户想要使用的收费服务，并最终获得使用权限。对于收费服务，得一科技会在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意按照“我的得一”的支付方式支付费用并实际操作进行了支付行为，用户才能使用该等收费服务。如用户拒绝进行支付操作流程，那么用户将不能使用相应的收费服务。
        </p>

        <p>
            <em>3.3</em>得一科技提供的部分网络服务为收费的网络服务，用户使用收费网络服务需要向得一科技支付一定的费用。对于收费的网络服务，得一科技会在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用，用户才能使用该等收费网络服务。如用户拒绝支付相关费用，则得一科技有权不向用户提供该等收费网络服务。
        </p>

        <p>
            <em>3.4</em>用户理解，得一科技仅提供与“我的得一”相关的技术服务等，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。
        </p>

        <h3><em>4.</em>服务变更、中断或终止</h3>

        <p>
            <em>4.1</em>鉴于网络服务的特殊性，用户同意得一科技有权随时变更、中断或终止部分或全部的“我的得一”服务（包括收费网络服务）。如变更、中断或终止的网络服务属于免费服务，得一科技无需通知用户，且得一科技不应对用户或第三方承担任何责任；如变更、中断或终止的“我的得一”服务属于收费服务，得一科技应当在变更、中断或终止之前事先通知用户，并提供代替性的收费网络服务，如用户不愿意接受替代性的收费网络服务，就该用户已经向得一科技支付的虚拟货币，得一科技应当按照该用户实际使用相应收费服务的情况扣除相应虚拟货币之后将剩余的虚拟货币退还用户的虚拟货币账户中。
        </p>

        <p>
            <em>4.2</em>用户理解，得一科技需要定期或不定期地对提供“我的得一”服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成收费服务在合理时间内的中断，得一科技无需为此承担任何责任，但得一科技应尽可能事先进行通告。
        </p>

        <p><em>4.3</em>如发生下列任何一种情形，得一科技有权随时中断或终止向用户提供本协议项下的“我的得一”服务（包括收费服务）而无需对用户或任何第三方承担任何责任：</p>

        <p><em>4.3.1</em>用户提供的个人资料不真实；</p>

        <p><em>4.3.2</em>用户违反法律法规国家政策或本协议中规定的使用规则；</p>

        <p><em>4.3.3</em>用户在使用收费服务时未按规定为其所使用的收费服务实现支付目的。</p>

        <p><em>4.4</em>如用户在申请开通“我的得一”服务后在任何连续90日内未实际使用，则得一科技有权停止为该用户提供“我的得一”服务。</p>

        <h3><em>5.</em>使用规则</h3>

        <p><em>5.1</em>用户注册“我的得一”账号，制作、发布、传播信息内容的，应当使用真实身份信息，不得以虚假、冒用的居民身份信息、企业注册信息、组织机构代码信息进行注册。</p>

        <p><em>5.2</em>如用户违反前述4.1条之约定，依据相关法律、法规及国家政策要求，得一科技有权随时中止或终止用户对“我的得一”的使用且不承担违约责任。</p>

        <p><em>5.3</em>得一科技将建立健全用户信息安全管理制度、落实技术安全防控措施。得一科技将对用户使用“我的得一”过程中涉及的用户隐私内容加以保护。</p>

        <p>
            <em>5.4</em>用户在使用“我的得一”时，得一科技有权基于安全运营、社会公共安全的需要或国家政策的要求，要求用户提供准确的个人资料，如用户提供的个人资料有任何变动，导致用户的实际情况与用户提交给得一科技的信息不一致的，用户应及时更新。
        </p>

        <p>
            <em>5.5</em>由于“我的得一”服务的存在前提是用户在申请开通“我的得一”的过程中所提供的帐号，则用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号或“我的得一”服务遭他人非法使用，应立即通知得一科技。因黑客行为或用户的保管疏忽导致帐号、密码及“我的得一”服务遭他人非法使用，得一科技有权拒绝承担任何责任。
        </p>

        <p>
            <em>5.6</em>用户同意得一科技有权在提供“我的得一”服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在得一科技网站的任何页面上投放广告），并且，用户同意接受得一科技通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。
        </p>

        <p>
            <em>5.7</em>对于用户通过“我的得一”公开发布的任何内容，用户同意得一科技在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。
        </p>

        <p><em>5.8</em>用户在使用“我的得一”过程中，必须遵循以下原则：</p>

        <p><em>5.8.1</em>遵守中国有关的法律和法规；</p>

        <p><em>5.8.2</em>遵守所有与网络服务、“我的得一”有关的网络协议、规定和程序；</p>

        <p><em>5.8.3</em>不得为任何非法目的而使用“我的得一”系统；</p>

        <p><em>5.8.4</em>不得以任何形式使用“我的得一”侵犯得一科技的权利和/或利益；</p>

        <p><em>5.8.5</em>不得利用“我的得一”系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；</p>

        <p><em>5.8.6</em>不得利用得一科技提供的“我的得一”服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、种族歧视性的、辱骂性的、恐吓性的、成人情色的或其他任何非法的信息资料；</p>

        <p><em>5.8.7</em>不得以任何方式侵犯其他任何人依法享有的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>

        <p><em>5.8.8</em>不得利用“我的得一”系统进行任何不利于得一科技的行为；</p>

        <p>
            <em>5.9</em>得一科技有权对用户使用“我的得一”的情况进行审查和监督(包括但不限于对用户存储在“我的得一”平台的内容进行审核)，如用户在使用“我的得一”时违反任何上述规定，得一科技或其授权的主体有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用“我的得一”的权利）以消除或减轻用户不当行为造成的影响，得一科技在进行前述操作前，操作过程中或操作完成后可以不对用户进行任何方式的通知。
        </p>

        <p>
            <em>5.10</em>得一科技针对某些特定的“我的得一”服务的使用通过各种方式（包括但不限于网页公告、系统通知、私信、短信提醒等）作出的任何声明、通知、警示等内容视为本协议的一部分，用户如使用该等“我的得一”服务，视为用户同意该等声明、通知、警示的内容。
        </p>

        <p><em>5.11</em>用户在使用“我的得一”的过程中应文明发言，并依法尊重其它用户的人格权与个人隐私，共同建立和谐、文明、礼貌的网络社交环境。</p>

        <p>
            <em>5.12</em>如用户在使用“我的得一”的过程中遇到其它用户上传违法、侵权、侮辱、诽谤等内容，可直接拨打投诉电话进行举报，相关人员会尽快核实并进行处理。如用户认为所举报的内容侵犯了用户合法权利，请用户尽快向司法机关寻求帮助，得一科技将依法配合司法机关的调查取证工作。
        </p>

        <h3><em>6.</em>知识产权</h3>

        <p>
            <em>6.1</em>得一科技提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受著作权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人和非商业用途而保存在某台计算机内。得一科技不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿，以任何形式，向用户或任何第三方负责。
        </p>

        <p>
            <em>6.2</em>得一科技为提供“我的得一”服务而使用的，或者第三方针对“我的得一”服务开发的在“我的得一”平台上运行，供用户使用的任何软件（包括但不限于软件中所含的任何图象、照片、动
            画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程 （reverse
            engineer）、反向编译（decompile）或反汇编（disassemble）。
        </p>

        <h3><em>7.</em>隐私保护</h3>

        <p><em>7.1</em>保护用户隐私是得一科技的一项基本政策，得一科技保证不对外公开或向第三方提供单个用户的注册资料及用户在使用“我的得一”时存储在得一科技的非公开内容，但下列情况除外：</p>

        <p><em>7.1.1</em>事先获得用户的明确授权；</p>

        <p><em>7.1.2</em>根据有关的法律法规要求；</p>

        <p><em>7.1.3</em>按照相关政府主管部门的要求；</p>

        <p><em>7.1.4</em>为维护社会公众的利益；</p>

        <p><em>7.1.5</em>为维护得一科技的合法权益。</p>

        <p><em>7.2</em>得一科技可能会与第三方合作向用户提供相关的“我的得一”服务，在此情况下，如该第三方同意承担与得一科技同等的保护用户隐私的责任，则得一科技有权将用户的注册资料等提供给该第三方。</p>

        <p><em>7.3</em>在不透露单个用户隐私资料的前提下，得一科技有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>

        <h3><em>8.</em>免责声明</h3>

        <p><em>8.1</em>用户明确同意其使用“我的得一”所存在的风险将完全由其自己承担；因其使用“我的得一”而产生的一切后果也由其自己承担，得一科技对用户不承担任何责任。</p>

        <p>
            <em>8.2</em>得一科技不担保网络服务一定能满足用户的要求，也不担保“我的得一”服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。得一科技不认可、支持、代表或保证通过“我的得一”发布的任何信息，及通过“我的得一”传递的任何观点的完整性、真实性、准确性或可靠性。用户对于可能会接触到的非法的、非道德的、错误的或存在其他失宜之处的信息，及被错误归类或是带有欺骗性的发布内容，应自行做出判断。在任何情况下，对于任何信息，包括但不仅限于其发生的任何错误或遗漏；或是由于使用通过“我的得一”发布、私信、传达、其他方式所释出的或在别处传播的信息，而造成的任何损失或伤害，得一科技
            都不以任何形式承担责任。
        </p>

        <p><em>8.3</em>得一科技不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由得一科技实际控制的任何网页上的内容，得一科技不承担任何责任。</p>

        <p><em>8.4</em>对于因不可抗力或得一科技不能控制的原因造成的“我的得一”服务中断或其它缺陷，得一科技不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>

        <p><em>8.5</em>用户同意，对于得一科技向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，得一科技无需承担任何责任：</p>

        <p><em>8.5.1</em>得一科技向用户免费提供的服务；</p>

        <p><em>8.5.2</em>得一科技向用户赠送的任何产品或者服务；</p>

        <p><em>8.5.3</em>得一科技向收费服务用户附赠的各种产品或者服务。</p>

        <h3><em>9.</em>违约赔偿</h3>

        <p><em>9.1</em>如因得一科技违反有关法律、法规或本协议项下的任何条款而给用户造成损失，得一科技同意承担由此造成的损害赔偿责任。</p>

        <p><em>9.2</em>用户同意保障和维护得一科技及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给得一科技或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p>

        <h3><em>10.</em>协议修改</h3>

        <p>
            <em>10.1</em>得一科技有权随时修改本协议的任何条款，一旦本协议的内容发生变动，得一科技将会直接在“我的得一”网站上公布修改之后的协议内容，该公布行为视为得一科技已经通知用户修改内容。得一科技也可通过其他适当方式向用户提示修改内容。
        </p>

        <p><em>10.2</em>如果不同意得一科技对本协议相关条款所做的修改，用户有权停止使用“我的得一”。如果用户继续使用“我的得一”，则视为用户接受得一科技对本协议相关条款所做的修改。</p>

        <h3><em>11.</em>通知送达</h3>

        <p><em>11.1</em>本协议项下得一科技对于用户所有的通知均可通过网页公告、电子邮件、系统通知、“我的得一”管理账号主动联系、私信、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p>

        <p><em>11.2</em>用户对于得一科技的通知应当通过得一科技对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</p>

        <h3><em>12.</em>法律管辖</h3>

        <p><em>12.1</em>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。</p>

        <p><em>12.2</em>如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向得一科技所在地的人民法院提起诉讼。</p>

        <h3><em>13.</em>其他规定</h3>

        <p><em>13.1</em>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>

        <p><em>13.2</em>如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>

        <p><em>13.3</em>本协议中的标题仅为方便而设，在解释本协议时应被忽略。</p>

        <p><em>13.4</em>本协议解释权及修订权归得一科技所有。</p>

        <h3><em>特别提示:</em>青少年网友在参与网络活动中注意以下事项，加强自我保护：</h3>

        <p><em>1.</em>青少年网友要注意区分网络与现实的区别，避免沉迷于网络。</p>

        <p><em>2.</em>网友填写个人资料时，加强个人保护意识，以免不良分子对个人生活造成骚扰。</p>

        <p><em>3.</em>未满18岁青少年应在监护人指导和监督下上网。</p>

        <p><em>4.</em>青少年网友应避免陌生网友会面或参与联谊活动，以免为不法分子所乘，危及自身。</p>

        <p><em>5.</em>如有违法行为，得一科技保留配合公安和电信部门追查的权利。</p>

        <h3 class="align_center">郑重提醒：正确认识网络世界，重视参加网络活动的安全性，加强防范，确保安全。</h3>
    </div>
</div>
@section css{
    <style>
        .align_center {
            text-align: center;
        }

        .d-wrap {
            width: 1000px;
            margin: 0 auto;
        }

        .white_container {
            font-size: 14px;
            line-height: 23px;
            margin: 0 35px 10px;
        }

            .white_container h2 {
                font-size: 20px;
                letter-spacing: 5px;
                line-height: 30px;
                margin-bottom: 15px;
                margin-top: 20px;
            }

        #protocal em {
            font-style: normal;
            font-weight: bold;
            margin-right: 10px;
        }

        #protocal span {
            font-weight: bold;
        }

        #protocal h3 {
            font-size: 16px;
            letter-spacing: 2px;
            margin-top: 35px;
        }

        #protocal p {
            margin-top: 15px;
            text-indent: 2em;
        }

        #protocal ul {
            list-style: outside none decimal;
            margin-left: 50px;
            margin-top: 15px;
        }

            #protocal ul li {
                margin-bottom: 7px;
            }

        #protocal label {
            display: block;
            font-size: 12px;
            letter-spacing: 0;
            text-align: right;
        }

            #protocal label a {
                color: #000;
                margin-left: 10px;
            }
    </style>
}