/*--------------------------------------------------------------
                        Product Name Style
      Author:Plato
      Create Date:2017/01/16  Last Mondify Date:2017/01/16
      ===================================================
--------------------------------------------------------------*/
/**
 * @LESS
 * @NAME  Part ui
 */
@import "../../less/base";
@import   (reference)   "../../less/animate";

.dy-wrap {
  background: #f5f5f5;
}

/** MAIN STYLE **/
.page-report-center {
  margin-bottom: 30px;
}

/*左侧列表*/
.sidebar-report {
  width: 240px;
  float: left;
  background: #fff;
  padding: 20px 20px 20px 65px;
  .m-snav {
    .lst-a-1 {
      font-size: 18px;
      color: #333;
      margin-bottom: 22px;
      display: block;
      position: relative;
      .dy-icon-educational-management, .dy-icon-weibiaoti1 {
        position: absolute;
        left: -45px;
        top: -3px;
        font-size: 26px;
        color: #ed5565;
      }
      .z-sel {
        color: #4fc1e9;
      }
    }
    .m-lst-2 {
      .lst-li-2 {
        margin-bottom: 20px;
        .lst-a-2 {
          font-size: 16px;
          color: #666;
          &.z-sel {
            color: #4fc1e9;
          }
        }
      }
    }
  }
}

/*主体*/
.main-report {
  width: 940px;
  float: right;
  background: #fff;
  font: 14px/1.14 arial, "微软雅黑";
  .tab-item-1 {
    padding: 20px 30px;
    .dl-conten {
      border-bottom: 1px solid #ececec;
      margin-bottom: 30px;
      &:last-child {
        border-bottom: none;
      }
      dt {
        color: #333;
        margin-bottom: 20px;
      }
      dd {
        margin: 0 20px 26px 20px;
        border-bottom: 1px solid #ececec;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
        .p-text {
          max-width: 280px;
          margin-right: 15px;
        }
        .label-base {
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #fff;
          padding: 0 8px;
          position: relative;
          top: -6px;
          .rounded-corners(4px);
          &.label-together {
            background: #ed5565;
          }
          &.label-push {
            background: #a0d468;
          }
        }
        .btn-list {
          .dy-btn {
            margin: 0 10px 10px 0;
            position: relative;
            top: -6px;
            height: 30px;
            line-height: 28px;
          }
        }
      }
    }
  }
  .tab-item-2 {
    padding: 30px;
    .list-text {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ececec;
      color: #999;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
      a:hover {
        color: @color-hover-blue;
      }
    }
  }
}

/*没有数据*/
.dy-nothing-marking {
  text-align: center;
  padding: 85px 0;
  .iconfont {
    color: #ccc;
    font-size: 145px;
  }
  p {
    font-weight: bold;
    font-size: 30px;
    color: #ccc;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

//tab 个性化样式覆盖
.htmleaf-containers .htmleaf-content li {
  width: 100px;
  height: 60px;
}

.htmleaf-containers .htmleaf-content ul {
  height: 61px;
}

.htmleaf-containers .htmleaf-content .slider span {
  width: 80px;
}

.tab-con .dy-tab-con > div {
  display: block
}

.label-sm {
  border-radius: 0;
  padding: 1px 3px;
  vertical-align: 7px;
}

// 老版本新版本整合样式问题覆盖
body .go-top i{ top:0 !important;}
/* webkit内核的游览器。包括苹果谷歌游览器等*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dy-footer .copy-right ul li:before {
    top: 32px !important;
    left: 0.4px;
    }
  }
/* 火狐*/
@-moz-document url-prefix() {
  .dy-footer .copy-right ul li:before {
    left: 0.7px;
    top: 31px;
    }
  }

.dy-footer .copy-right .dy-icon-30:before, .dy-footer .copy-right .dy-icon-38:before, .dy-footer .copy-right .dy-icon-41:before, .dy-footer .copy-right .dy-icon-57:before {
  position: relative;
  top: 12px;
  }
