.g-download{ width: 1000px; color: #555; background: white; border: 1px solid #dcdcdc; margin: 40px auto 15px; padding: 19px 30px; }
.g-download .m-t{margin-bottom: 26px;}
.g-download .m-t .h2{ font-size: 24px;border-left: 3px solid #fcb66f;padding: 0 10px;}

.g-download .m-g{padding: 7px 20px;}
.g-download .m-x{ }
.g-download .m-x .m-a{width: 88px;}
.g-download .m-x .m-b{width: 756px;}
.g-download .m-x .u-1{ background: #f7f7f7;height: 45px;padding: 4.5px 10px;}
.g-download .m-x .u-1 h3{ font-size: 24px;margin: 0px;float: left;line-height: 36px;}
.g-download .m-x .u-1 a{float: right; padding: 9.5px 11px; background: #fcb66f; color: white; display: inline-block;*display: inline;*zoom: 1;*float: left;text-decoration: none;}
.g-download .m-x .u-1 a:hover{background: #f4912c; -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition:  all 0.5s ease 0s; -o-transitionall: all 0.5s ease 0s; transition:  all 0.5s ease 0s; }
.g-download .m-x .m-b .p1{padding: 10px;font-size: 14px;line-height: 1.8em;}

.g-download .m-1{ }
.g-download .m-1 .u-1{ }

.g-download .m-2{ }

.g-download .m-2 .u-1{ }

.g-download .m-2 .u-1 .u-img{margin-right: 15px;cursor: pointer;}
#tooltip{ position:absolute; border:1px solid #e8e8e8; background:white; padding:2px; display:none; color:#fff; }
#tooltip img{width: 300px; height: 300px; }


