<!--==============================教务管理 Main Nav  m-supervise-nav.html=================================-->
<div class="dy-left-nav">
    <div class="dy-title">
        <h2 class="dy-title-bored">数据地图</h2>
    </div>
    <ul class="dy-nav-wrap">
        <li class="active" title="学校概况">
            <a href=""><i class="iconfont dy-icon-edit"></i>学校概况</a>
        </li>
        <li title="师生画像">
            <span><i class="iconfont dy-icon-danke"></i>师生画像</span>
        </li>
        <li title="考试地图">
            <a href=""><i class="iconfont dy-icon-duoke"></i>考试地图</a>
        </li>
        <li title="学情补救">
            <a href=""><i class="iconfont dy-icon-duoke"></i>学情补救</a>
        </li>
    </ul>
    <div class="dy-title">
        <h2>考试管理</h2>
    </div>
    <ul class="dy-nav-wrap">
        <li title="批阅进行中">
            <a href=""><i class="iconfont dy-icon-50"></i>批阅进行中</a>
        </li>
    </ul>
    <div class="dy-title">
        <h2>学情报表</h2>
    </div>
    <ul class="dy-nav-wrap">
        <li title="成绩分析">
            <a href=""><i class="iconfont dy-icon-choice"></i>成绩分析</a>
        </li>
    </ul>
    <div class="dy-title">
        <h2>成员管理</h2>
    </div>
    <ul class="dy-nav-wrap">
        <li title="在校教师">
            <a href=""><i class="iconfont dy-icon-choice"></i>圈子管理</a>
        </li>
    </ul>
    <div class="dy-title">
        <h2>成员管理</h2>
    </div>
    <ul class="dy-nav-wrap">
        <li title="在校教师">
            <a href=""><i class="iconfont dy-icon-choice"></i>圈子管理</a>
        </li>
    </ul>
    <div class="dy-title">
        <h2>选修课</h2>
    </div>
    <ul class="dy-nav-wrap">
        <li title="选课管理">
            <a href=""><i class="iconfont dy-icon-choice"></i>选课管理</a>
        </li>
    </ul>
</div>
<!--==============================教务管理 Main Nav  m-supervise-nav.html End=============================-->